.add-profile .input-text-inline {
		border-radius: 15px;
		border: 1px solid #959595;
		color: #4A4A4A;
		font-size: 14px;
		font-weight: 500;
		padding: 0 10px;
		width: 70px;
		height: 100%;
	}

.add-profile .new-input{
		width:155px;
		margin-right:8px;
	}

.add-profile .row-div{
		width:100%; 
		float:left; 
		margin-bottom:35px;
	}

.add-profile .input-text label{
		width:150px !important;
		float:left;
		color:#333; 
		font-size:12px; 
		font-style:italic;
	}

.add-profile .outerdiv{
		padding:20px 20px 25px;
		float:left;
		width:100%;
	}

.add-profile .outer-inn{
		padding:0 10%;
	}

.add-profile .m70{
		/*margin-left:70px;*/
		margin-left: 0;
	}

.add-profile .border-radius{
		-webkit-border-radius:10px;
		-moz-border-radius:10px; 
		border-radius:10px;
	}

.add-profile .sensor__threshold .sensor__threshold-editor .sensor__threshold-editor-text {
		padding: 0;
	}

.add-profile .content--with-side-menu .sensor__threshold .sensor__threshold-editor-text-segment {
		display: inline-block;
		width: 130px;
	}

.add-profile .sensor__location-label {
		padding: 0px 20px !important;
	}

.add-profile .location-section .sensor__threshold-rule .input-text__input {
		padding: 0 8px !important;
	}

.add-profile .location-section .sensor__threshold-rule .input-text {
		height: 50px;
		width: 300px;
		display: inline-block;
	}

	/*.sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(1) {
		width: 38%;
		min-width: 300px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(2) {
		min-width: 79px;
		width: 79px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(3) {
		min-width: 89px;
		width: 89px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(4) {
		width: 97px;
		min-width: 97px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(5) {
		min-width: 69px;
		width: 69px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(6) {
		width: 64px;
		color: #BDBDBD !important;
		min-width: 64px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(7) {
		width: 44px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(7) button,
.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule .add-location button {
		padding: 0 17px;
	}*/

.add-profile .sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(1) {
		width: 14%;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(2) {
		width: 33%;	
	}

.add-profile .sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(3),
.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(4) {
		width: 9%;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor > .sensor__threshold-rule > div:nth-child(5) {
		width: 11%;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(6) {
		width: 7%;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(7) {
		width: 15px;
		color: #BDBDBD !important;
		
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(8) {
		width: 5%;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(8) button,
.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule .add-location button {
		padding: 0 17px;
	}



	/*.sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > div:nth-child(8) {*/
.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule .add-location {
		width: 5%;
	}

	/*.sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule .add-location button {
		padding: 0 17px;
	}*/

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > .input-text {
		height: 40px;
	}

.add-profile .sensor__threshold > .sensor__threshold-editor >  .sensor__threshold-rule > .input-text > .input-text__input {
		width: 100%;
	}

.add-profile .sensor__threshold-rule > div {
		padding: 5px 3px;
	}

.add-profile .content-holder .side-menu .details__row .details__detail select {
		width: 100%;
	}

.add-profile .display-inline-block {
		display: inline-block;
	}

.add-profile {
		min-width: inherit;
		min-height: inherit;
		position: inherit;
	}

.add-profile .side-menu .side-menu__row .details .details__detail {
		width: 100%;
	}

.add-profile .sensor .profile-attr-section .error-msg-container {
		width: 191px;
	}

.add-profile .sensor .error-msg-container {
		width: 400px;
		margin-top: 5px;
	}

	@media (max-width: 1320px) {
	.add-profile .smenu {
			width: 240px
		}
		
	.add-profile .content-holder .content--with-side-menu {
			left: 240px;
		}
		
	.add-profile .side-menu .side-menu__row .details .details__detail {
			width: 240px;
		}
	}

	@media (max-width: 1280px) {
	.add-profile .smenu {
			width: 240px
		}
		
	.add-profile .content-holder .content--with-side-menu {
			left: 240px;
		}
		
	.add-profile .side-menu .side-menu__row .details .details__detail {
			width: 240px;
		}
	}


.add-profile .frequency__error__message {
		width: 250px !important;
	}

.add-profile .sensor-no-device-selected {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 450px;
		height: 30px;
	}

	/* Profile attribute slider */

.add-profile .profile-attr-section .attr-value-slider {
		width: 350px !important;
		margin: 0 0 0 20px !important;
	}

.add-profile .rzslider .rz-pointer {
		height: 20px !important;
		width: 20px !important;
		top: -8px !important;
	}

.add-profile .rzslider .rz-pointer:after {
		top: 5px !important;
		width: 2px !important;
		height: 9px !important;
	}

.add-profile .rzslider .rz-floor,
.add-profile .rzslider .rz-ceil {
		color: #BDBDBD !important;
	}

	/* Profile attribute slider */

.add-profile .create-profile-header {
		font-size: 24px !important;
		font-weight: 400 !important;
		font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		color: #373A3C !important;
	}

	/*.geolocation_error_message {
		width: 23% !important;
		min-width: 90px !important;
	}*/

.add-profile .geolocation_btn_clear {
		height: 38px !important;
		border: 2px solid #eceeef !important;
		position: absolute;
		right: 5%;
	}
.add-profile .width-170 {
		width: 170px !important;
	}

	/* frequency section */

	/* hide increment decrement spin button */
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0; 
	}

	/* hide increment decrement spin button in firefox */
	input[type=number] {
		-moz-appearance:textfield;
	}

.add-profile .frequency-section .sensor__threshold-rule {
		padding: 10px 20px;
	}

.add-profile .frequency-section .sensor__threshold-rule-actions {
		border-bottom: none;
	}

	#comm-freq,
	#gps-freq,
	#attr-freq {
		width: 32px;
		border: none;
		padding: 0;
	}

.add-profile .frequency-section .filter .updown div {
		outline: 0;
	}

.add-profile .frequency-section .filter .filter__description {
		width: 240px;
	}

.add-profile .frequency-section .filter .color-737576 {
		color: #737576;
	}
.add-profile .big-form__error{
		margin-top: 5px;
	}

	/* frequency section */
.add-profile .sensor_attr_emailgroup_range{
		width: 100% !important;
		float: left !important;
	}

.add-profile .sensor_attr_emailgroup_font{
		line-height: 50px;
		font-size: 14px;
		color: #737576
	}

.add-profile .sensor_attr_alertgroup_label {
		width:37%;
		float: left;
	}

.add-profile .sensor_attr_alertgroup_box {
		width: 63%;
		float: left;
	}

.add-profile .width-35 {
		width:35%;
		float: left;
	}

.add-profile .height-100 {
		height:100px;
	}

.add-profile .sensor_attr_text_align {
		text-align: center;
		font-size: 14px;
		color: #737576
	}
.add-profile .sensor__threshold-width {
		width: 100%;
	}
.add-profile .sensor_attr_clearrow{
		width: 100% !important;
		float: left;
		border-bottom: 1px solid #eceeef;
		padding-bottom: 15px;
		margin-bottom: 35px;
	}

.add-profile .sensor_location_row{
		width: 100% !important;
		float: left;
		padding-bottom: 10px;
	}
