	/* updates for 6 feb 2017 */

.add-profile .input-text__input:active,
.add-profile .input-text__input:focus,
.add-profile .input-textarea__input:active,
.add-profile .input-textarea__input:focus {
		border-color: #06C;
	}

.add-profile .input-text .btn--go, .add-profile .btn--action {
		background-color: #06C;
	}

.add-profile .filter__tab--active,
.add-profile .filter__tab:active,
.add-profile .filter__tab:hover {
		background: #06C;
	}

.add-profile .big-tabs__tab--active,
.add-profile .big-tabs__tab:focus,
.add-profile .big-tabs__tab:hover,
.add-profile .tabs__tab--active,
.add-profile .tabs__tab:focus,
.add-profile .tabs__tab:hover {
		background-color: #06C;
	}

.add-profile .alerts__tabs,
.add-profile .charts__actions {
		left: 20px;
		position: absolute;
		right: 20px;
	}
.add-profile .alerts__filter,
.add-profile .charts__filter {
		margin-top: 72px;
	}

.add-profile .header__menu a.active::after,
.add-profile .header__menu a:focus::after,
.add-profile .header__menu a:hover::after {
		background-color: #06C;
	}

.add-profile .sprite.sprite--data {
		background-image: url(../img/ic_insert_chart_black_24px.png);
	}
.add-profile .big-tabs__tab:hover .sprite.sprite--data,
.add-profile .tabs__tab:hover .sprite.sprite--data,
.add-profile .big-tabs__tab--active .sprite.sprite--data {
		background-image: url(../img/ic_insert_chart_black_24px_white.png);
	}
.add-profile .sprite.sprite--data,
.add-profile .big-tabs__tab:hover .sprite.sprite--data,
.add-profile .tabs__tab:hover .sprite.sprite--data,
.add-profile .big-tabs__tab--active .sprite.sprite--data {
		background-position: 0 0;
		background-size: contain;
		height: 18px;
		margin-bottom: -3px;
		width: 19px;
	}
	@media (-webkit-min-device-pixel-ratio: 2),
	(-o-min-device-pixel-ratio: 3 / 2),
	(min--moz-device-pixel-ratio: 2),
	(min-device-pixel-ratio: 2),
	(min-resolution: 144dppx) {
	.add-profile .sprite.sprite--data {
			background-image: url(../img/ic_insert_chart_black_24px@2x.png);
		}
	.add-profile .big-tabs__tab:hover .sprite.sprite--data,
	.add-profile .tabs__tab:hover .sprite.sprite--data,
	.add-profile .big-tabs__tab--active .sprite.sprite--data {
			background-image: url(../img/ic_insert_chart_black_24px_white@2x.png);
		}
	.add-profile .sprite.sprite--data,
	.add-profile .big-tabs__tab:hover .sprite.sprite--data,
	.add-profile .tabs__tab:hover .sprite.sprite--data,
	.add-profile .big-tabs__tab--active .sprite.sprite--data {
			background-position: 0 0;
			background-size: contain;
			height: 18px;
			margin-bottom: -3px;
			width: 19px;
		}
	}
