	/* Updates to main.css */

.add-profile .sensor__threshold-range {
	border-radius: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	}

.add-profile .sensor__threshold-range:after, .add-profile .sensor__threshold-range:before {
	background-color: #CD040B;
	border: 1px solid #fff;
	bottom: -10.5px;
	position: absolute;
	top: -10.5px;
	width: 7px;
	}

.add-profile .select__value {
	border-radius: 15px;
	border: 1px solid #959595;
	color: #4A4A4A;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 35px;
	text-overflow: ellipsis;
	}

.add-profile .input-text__input {
	border-radius: 15px;
	border: 1px solid #959595;
	color: #4A4A4A;
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	}

.add-profile .filter__tabs {
	border-radius: 15px;
	border: 1px solid #959595;
	overflow: hidden;
	}

.add-profile .filter__tab.updown {
	padding: 0;
	}

.add-profile .filter__tab.updown input {
	width: 25px;
	}

.add-profile .filter__tab.updown div {
	display: inline-block;
	padding: 0 15px;
	}

.add-profile .filter__tab.updown:hover {
	background-color: white;
	color: #4A4A4A;
	}

.add-profile .filter__tab.updown :first-child::before {
	background: transparent url(../img/button_minus_blue@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/button_minus_blue.png) 1x, url(../img/button_minus_blue@2x.png) 2x) no-repeat center;
	background: url(../img/button_minus_blue.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 9px 2px;
	content: " ";
	width: 10px;
	height: 10px;
	display: inline-block;
	}

.add-profile .filter__tab.updown div:first-child {
	border-right: 1px solid #959595;
	}

.add-profile .filter__tab.updown :last-child::before {
	background: transparent url(../img/button_add_blue@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/button_add_blue.png) 1x, url(../img/button_add_blue@2x.png) 2x) no-repeat center;
	background: url(../img/button_add_blue.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 10px 9px;
	content: " ";
	width: 10px;
	height: 10px;
	display: inline-block;
	}

.add-profile .filter__tab.updown div:last-child {
	border-left: 1px solid #959595;
	}

.add-profile .input-textarea__input {
	border-radius: 0;
	border: 1px solid #959595;
	color: #4A4A4A;
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 6px 10px;
	resize: none;
	width: 100%;
	height: 100%;
	}

.add-profile .sensor__threshold-header {
	color: #373A3C;
	font-size: 24px;
	font-weight: 200;
	padding: 20px 20px 20px
	}

.add-profile .product-header__title, .add-profile .sensor-header__title {
	color: #373A3C;
	font-size: 24px;
	font-weight: 200;
	line-height: 52px;
	overflow: hidden;
	/*padding-left: 52px;
	padding-right: 55px;
	*/
	text-overflow: ellipsis;
	white-space: nowrap;
	}

.add-profile .side-menu__row--button {
	border-bottom: none;
	padding: 10px 0;
	text-align: center;
	}

.add-profile .sensor__threshold-temperature {
	float: none;
	}

.add-profile .sensor__threshold-editor-text {
	padding-bottom: 20px;
	width: 100%;
	}

.add-profile .filter-tabs--inline {
	display: inline-block;
	float: none;
	margin-right: 5px;
	vertical-align: middle;
	}

.add-profile .input-text--wide .input-text__input {
	/*width: 585px;*/
	/*width: 480px;*/
	}

.add-profile .filter__description {
	float: left;
	font-size: 14px;
	line-height: 30px;
	padding-right: 10px;
	}

.add-profile .filter__label-description {
	color: #737576;
	float: left;
	line-height: 30px;
	padding-right: 10px;

	}

.add-profile .filter-tabs--inline-temperature {
	color: #ADADAD;
	display: inline-block;
	float: none;
	padding-left: 10px;
	vertical-align: middle;
	}

.add-profile .filter__tab-numeric {
	background-color: #fff;
	border-right: 1px solid #eceeef;
	color: #0066CC;
	float: left;
	height: 30px;
	padding: 0 15px;
	}

.add-profile .filter__tab-selected {
	background-color: #0066CC;
	color: #FFF;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	}

.add-profile .long-form__header-shipment {
	color: #373A3C;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 32px;
	padding-top: 34px;
	}

.add-profile .long-form__header-subheader {
	color: #373A3C;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 26px;
	padding-top: 20px;
	}

.add-profile .long-form__header-subheader-final {
	color: #373A3C;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 26px;
	padding-top: 88px;
	}

.add-profile .modal__close-x {
	background: transparent url(../img/close_x@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/close_x.png) 1x, url(../img/close_x@2x.png) 2x) no-repeat center;
	background: url(../img/close_x.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 22px 22px;
	display: block;
	margin-right: 3px;
	margin-top: 20px;
	width: 22px;
	height: 22px;
	}

	@media (-webkit-min-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 3 / 2),(min--moz-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 144dppx) {
	.add-profile .select__value:after {
		background-image: url(../img/icons-2x-sf2176c8e8c.png);
		background-size: 113px 143px;
		background-position: 0 -15px;
		width: 11px;
		height: 7px;
		}
	}

.add-profile .btn--action {
	border-radius: 20px;
	border: 1px solid #eceeef;
	color: #fff;
	font-size: 15px;
	height: 30px;
	}

.add-profile .btn--action-secondary {
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #9B9B9B;
	color: #000000;
	font-size: 15px;
	height: 30px;
	}

.add-profile .btn--action, .add-profile .btn--action-secondary, .add-profile .btn--action-tertiary, .btn--cancel {
	font-weight: 500;
	padding: 0 20px;
	}

	/* Device */

.add-profile .device__flag, .add-profile .device__status {
	margin: auto 0;
	position: absolute;
	}

.add-profile .side-menu__row .device {
	padding: 10px 0;
	}

.add-profile .device {
	height: 45px;
	position: relative;
	}

.add-profile .device-header {
	background-color: #0066cc;
	}

.add-profile .device__status {
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	height: 45px;
	}

.add-profile .device__status--green {
	background-color: #58B820;
	}

.add-profile .device__status--yellow {
	background-color: #F7BA2A;
	}

.add-profile .device__status--red {
	background-color: #cd040b;
	}

.add-profile .device__info {
	font-weight: 400;
	line-height: 24px;
	padding-left: 30px;
	}

.add-profile .device__title {
	color: #373A3C;
	font-size: 14px;
	overflow: hidden;
	}

.add-profile .device__title-header {
	color: #FFFFFF;
	font-size: 14px;
	overflow: hidden;
	}

.add-profile .device__updated {
	color: #8F8F8F;
	font-size: 12px;
	font-style: italic;
	}

.add-profile .device__updated-1 {
	display: inline-block;
	width: 250px;
	}

.add-profile .device__flag, .add-profile .device__flag--flagged {
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	width: 15px;
	height: 15px;
	}

.add-profile .device__flag {
	background-image: url(./img/icons-1x-s0e6f524d83.png);
	background-position: -94px -15px;
	top: 0;
	bottom: 0;
	right: 20px;
	}

.add-profile .sensor__threshold-rule {
	padding: 0;
	}
.add-profile .sensor__threshold-rule > div {
	padding: 15px 20px;
	}
.add-profile .sensor__threshold-rule .sensor__threshold-rule-text:last-child, .add-profile .sensor__threshold .sensor__threshold-rule:last-child {
	border-bottom: 0;
	}

.add-profile .details__detail {
	width: 100%;
	}

.add-profile .sensor__threshold-rule-text, .add-profile .sensor__threshold-rule-actions {
	border-bottom: 1px solid #F4F4F4;
	padding: 9px 20px;
	width: 100%;
	}

.add-profile .sensor__threshold-header span {
	color: rgba(0,0,0,0.77);
	font-family: Lato-Regular;
	font-size: 24px;
	line-height: 24px;
	}

.add-profile .sensor__threshold-rule-var {
	font-weight: bold;
	}

.add-profile .sensor-header__title {
	color: rgba(0,0,0, 0.77);
	font-family: Lato-Regular;
	line-height: 50px;
	text-align: center;
	}

.add-profile .sensor-header__title.profile {
	/*padding-left: 17px; */
	}

.add-profile .side-menu__row .product-header, .add-profile .side-menu__row .sensor-header {
	height: 50px;
	}

.add-profile .btn--edit .btn__icon {
	background: transparent url(../img/edit_black@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/edit_black.png) 1x, url(../img/edit_black@2x.png) 2x) no-repeat center;
	background: url(../img/edit_black.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 17px 15px;
	border: 1px solid #959595;
	border-radius: 181px;
	background-position: 7px 5px;
	width: 30px;
	height: 30px;
	}

.add-profile .btn--edit:hover .btn__icon {
	background: transparent url(../img/edit_white@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/edit_white.png) 1x, url(../img/edit_white@2x.png) 2x) no-repeat center;
	background: url(../img/edit_white.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-position: 7px 5px;
	}

.add-profile .btn--edit:active .btn__icon {
	background: transparent url(../img/edit_white@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/edit_white.png) 1x, url(../img/edit_white@2x.png) 2x) no-repeat center;
	background: url(../img/edit_white.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-position: 7px 5px;
	}

.add-profile .btn--delete:hover .btn__icon {
	background: transparent url(../img/trash_white@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/trash_white.png) 1x, url(../img/trash_white@2x.png) 2x) no-repeat center;
	background: url(../img/trash_white.svg) no-repeat center, linear-gradient(transparent, transparent);
	}

.add-profile .btn--delete:active .btn__icon {
	background: transparent url(../img/trash_white@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/trash_white.png) 1x, url(../img/trash_white@2x.png) 2x) no-repeat center;
	background: url(../img/trash_white.svg) no-repeat center, linear-gradient(transparent, transparent);
	}

.add-profile .btn--edit:hover .btn__icon {
	background-color: #959595;
	border-color: #959595;
	}
.add-profile .btn--edit:active .btn__icon {
	background-color: #4B4B4B;
	border-color: #4B4B4B;
	}
.add-profile .btn--delete:hover {
	background-color: #959595;
	border-color: #959595;
	}
.add-profile .btn--delete:active {
	background-color: #4B4B4B;
	border-color: #4B4B4B;
	}

.add-profile .device__info {
	padding: 5px;
	}

.add-profile .side-menu_nav--devices[data-show] .related-products::before {
	content: " ";
	display: inline-block;
	margin: -4px 8px 0 22px;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	}

.add-profile .side-menu_nav--devices[data-show="true"] .related-products::before {
	background: transparent url(../img/device_white@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/device_white.png) 1x, url(../img/device_white@2x.png) 2x) no-repeat center;
	background: url(../img/device_white.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 15px 15px;
	}

.add-profile .side-menu_nav--devices[data-show="false"] .related-products::before {
	background: transparent url(../img/device_blue@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/device_blue.png) 1x, url(../img/device_blue@2x.png) 2x) no-repeat center;
	background: url(../img/device_blue.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 15px 15px;
	}

.add-profile .side-menu_nav--devices[data-show] .related-products {
	height: 52px;
	line-height: 50px;
	pointer-events: none;
	position: relative;
	vertical-align: middle;
	}

.add-profile .side-menu_nav--devices[data-show="true"] .related-products {
	background-color: #0066CC;
	border: 1px solid transparent;
	color: white;
	}

.add-profile .side-menu_nav--devices[data-show="false"] .related-products {
	background-color: white;
	border: 1px solid transparent;
	border-bottom-color: #ECEEEF;
	border-top-color: #ECEEEF;
	color: #4A4A4A;
	}

.add-profile .side-menu_nav--related-data .cases span {
	color: rgba(0,0,0, 0.77);
	font-size: 11px;
	margin-left: 5px;
	}

.add-profile .details__detail, .add-profile .details__detail-value {
	color: rgba(0,0,0, 0.77);
	}

.add-profile .details__detail-attr {
	color: #333333;
	font-size: 12px;
	}

	/* --- */

.add-profile .side-menu_nav--devices[data-show] .related-products::after {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 19px;
	right: 20px;
	}

.add-profile .side-menu_nav--devices[data-show="true"] .related-products::after {
	background: transparent url(../img/menu_down@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/menu_down.png) 1x, url(../img/menu_down@2x.png) 2x) no-repeat center;
	background: url(../img/menu_down.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 12px 8px;
	}

.add-profile .side-menu_nav--devices[data-show="false"] .related-products::after {
	background: transparent url(../img/row_right_gray@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/row_right_gray.png) 1x, url(../img/row_right_gray@2x.png) 2x) no-repeat center;
	background: url(../img/row_right_gray.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 8px 12px;
	}

.add-profile .side-menu_nav--devices[data-show="false"] + .side-menu_nav--related-data {
	display: none;
	}

.add-profile .side-menu_nav--devices[data-show="true"] + .side-menu_nav--related-data {
	display: block;
	}

	/* --- */

	/* row colours */
.add-profile .case.red .case_row {
	border-left: 4px solid #cd040b;
	}

.add-profile .case.yellow .case_row {
	border-left: 4px solid #F7BA2A;
	}

.add-profile .case.green .case_row {
	border-left: 4px solid #58B820;
	}

.add-profile .cases {
	border-left: 4px solid white;
	font-weight: bold;
	margin: 17px 20px;
	}

.add-profile .case.red .items, .add-profile .case.yellow .items, .add-profile .case.green .items {
	border-left: 4px solid #959595;
	}

	/* row toggles */

.add-profile .case[data-show] .case_row::before {
	content: " ";
	display: inline-block;
	margin: -4px 7px 0 17px;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	}

.add-profile .case[data-show="false"] .case_row::before {
	background: transparent url(../img/row_right_gray@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/row_right_gray.png) 1x, url(../img/row_right_gray@2x.png) 2x) no-repeat center;
	background: url(../img/row_right_gray.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 8px 12px;
	}

.add-profile .case[data-show="true"] .case_row::before {
	background: transparent url(../img/row_down_blue@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/row_down_blue.png) 1x, url(../img/row_down_blue@2x.png) 2x) no-repeat center;
	background: url(../img/row_down_blue.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 13px 8px;
	}

.add-profile .case {
	border-bottom: 1px solid #E5E5E5;
	}

.add-profile .case .case_row {
	padding: 15px 0;
	}

.add-profile .case[data-show="false"] .items {
	display: none;
	}

.add-profile .case[data-show="true"] .items {
	background-color: #F4F4F4;
	display: block;
	}

.add-profile .items :first-child {
	border-bottom-color: transparent;
	font-weight: bold;
	font-size: 15px;
	}

.add-profile .items :first-child span {
	color: rgba(0,0,0, 0.77);
	font-size: 11px;
	font-weight: normal;
	margin-left: 5px;
	}

.add-profile .items div {
	border-bottom: 1px solid #E5E5E5;
	color: rgba(0,0,0,0.77);
	margin: 0 40px;
	padding: 17px 0px;
	}

.add-profile .case_row, .add-profile .event_row {
	pointer-events: none;
	}

.add-profile .sensor__threshold-range--value:before {
	background: transparent url(../img/range_value@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/range_value.png) 1x, url(../img/range_value@2x.png) 2x) no-repeat center;
	background: url(../img/range_value.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 6px 24px;
	background-color: transparent;
	content: " ";
	display: inline-block;
	width: 6px;
	height: 24px;
	position: absolute;
	top: -11px;
	bottom: 0;
	vertical-align: middle;
	}
.add-profile .sensor__threshold-range--edit:before {
	background: transparent url(../img/range_edit@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/range_edit.png) 1x, url(../img/range_edit@2x.png) 2x) no-repeat center;
	background: url(../img/range_edit.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 31px 31px;
	background-color: transparent;
	border-color: transparent;
	content: " ";
	display: inline-block;
	margin-left: -15px;
	position: absolute;
	top: -11px;
	bottom: 0;
	vertical-align: middle;
	width: 31px;
	height: 31px;
	cursor: pointer; cursor: hand;
	}

.add-profile .sprite--product-id-favorite {
	background: transparent url(../img/profile_favorite_blue@2x.png) no-repeat center;
	background: -webkit-image-set(url(../img/profile_favorite_blue.png) 1x, url(../img/profile_favorite_blue@2x.png) 2x) no-repeat center;
	background: url(../img/profile_favorite_blue.svg) no-repeat center, linear-gradient(transparent, transparent);
	background-size: 19px 21px;
	background-color: transparent;
	content: " ";
	display: inline-block;
	width: 21px;
	height: 21px;
	}

.add-profile .long-form__actions {
	padding-left: 5px;
	}

.add-profile .select__input span, .add-profile .select__value span {
	color: #9B9B9B;
	font-weight: normal;
	}

.add-profile .long-form__section-icon .sprite {
	margin-top: 0px;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #9B9B9B;
	font-weight: normal;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #9B9B9B;
	font-weight: normal;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #9B9B9B;
	font-weight: normal;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #9B9B9B;
	font-weight: normal;
	}

	/* EOF */