.blue {
	background:#142a63 !important;
}
.divTable {
	display:table;
	width:100%; 
	font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.divTableRow {
	display:table-row;
	border-bottom:1px solid #eceeef;
}
.divTableHeading {
	background-color:#EEE;
	display:table-header-group;
}
.divTableCell {
	border-bottom:1px solid #eceeef;vertical-align:middle;
	display: table-cell;
	padding:8px 10px 5px;
	color:#373a3c;
	font-size:14px;
	font-weight:normal;
	font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.divTableCell a {
	color:#0266cb;
	text-decoration:none;
}
.divTableCell a:hover {
	color:#373a3c;
	text-decoration:none;
}
.divTableHead {
	background-color:#EEE;
	display:table-header-group;
	font-size:20px !important;
}
.divTableHead .divTableCell {
	font-weight:bold;
	padding:10px;
}
.divTableHeading {
	background-color:#EEE;
	display:table-header-group;
	font-weight:bold;
}
.divTableFoot {
	background-color:#EEE;
	display:table-footer-group;
	font-weight:bold;
}
.divTableBody {
	display:table-row-group;
}
.setting-input{
	width:74% !important; 
	padding:7px 10px !important;
}