<!-- <link rel="stylesheet" type="text/css" href="app/assets/css/common/sensor-dropdown-multiselect.css" /> -->
<div ui-view="" class="ng-scope" style="">
    <form name="addForm" role="addForm" novalidate>
        <div class="content-holder">
            <div class="content content-new">
                <div ng-if="message != null" class="alert">{{message}}</div>
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Add Alert</div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Attribute Name</div>
                        </div>
                         <div class="input-text">
                             <md-select id="alert_selectedAttribute" placeholder="Select Attribute Name" name="timeZone" ng-model="selectedAttribute" ng-change="changeAttributeName(selectedAttribute)">
                                    <md-option ng-value="item" ng-repeat="item in attributeNameList">{{item.attrName}}</md-option>
                             </md-select>
                        </div>
                    </div>
                    <!-- <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Alert Group</div>
                        </div>
                         <div class="input-text">
                             <multiselect multiple="true" id="alert_selectedAlertGroup" placeholder="Select Alert Group" name="timeZone" ng-model="selectedAlertGroup" ng-change="changeAlertGroup(selectedAlertGroup)">
                                    <md-option ng-value="item" ng-repeat="item in alertGroupList">{{item.groupName}}</md-option>
                              </multiselect>
                        </div>
                    </div> -->
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Alert Group</div>
                        </div>
        				<div class="input-text-dropdown">
                            <multiselect id="alert_alertgroup" class="input-xlarge" multiple="true" ng-model="selectedAlertGroup" options="item.id as item.groupName for item in alertGroupList" ng-change="alertGroupChanged(selectedAlertGroup)" ></multiselect>
						</div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Message</div>
                        </div>
                        <div class="input-textarea">
                            <textarea class="input-textarea__input" id="alert_message" ng-model="alert.message" required></textarea>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Detail Message</div>
                        </div>
                        <div class="input-textarea">
                            <textarea class="input-textarea__input" id="alert_detailMessage" ng-model="alert.detailMessage" required></textarea>
                        </div>
                    </div>
                    <div class="long-form__actions scroll-remove padding-20">
                    	<button id="btn_addalert_cancel" class="form-button btn-cancel" ng-click="cancel()" tabindex="0">Cancel</button>
                        <button id="btn_addalert_add" class="form-button btn-save" ng-click="addAlert()" tabindex="0" aria-disabled="true" ng-disabled="addForm.$invalid">Add</button>
                	</div>
                </div>
            </div>
        </div>
    </form>
    </div>