<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <form name="addForm" role="addForm" novalidate>
        <div class="content-holder">
            <div class="content content-new">
                <div ng-if="message != null" class="alert">{{message}}</div>
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Add Alert Group</div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Group Name</div>
                        </div>
                        <div class="input-text">
                             <input type="text" class="input-text__input" id="alertGroup_groupName" ng-model="alertGroup.groupName" required tabindex="0">
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Description</div>
                        </div>
                        <div class="input-textarea">
                            <textarea class="input-textarea__input"  id="alertGroup_description" ng-model="alertGroup.description" tabindex="1"></textarea>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header add_alertgroup_user">Users List</div>
							<div class="long-form__section-header add_alertgroup_user"><span class="padding-left-10">Selected Users</span></div>
                        </div>
                        <div class="select select-horizontal">
                           <select class="select-multiple" multiple  id="alertGroup_availableUsers" ng-model="alertGroup.availableUsers" ng-options="user.name for user in userList"></select>
                            <span class="btn--arrow"  ng-click="removeUsersFromGroup(alertGroup.selectedUsers)" ></span>
                            <span class="btn--arrow btn--arrow-rotate" ng-click="addUsersToGroup(alertGroup.availableUsers)"></span>
                            <select class="select-multiple" multiple  id="alertGroup_selectedUsers" ng-model="alertGroup.selectedUsers" ng-options="user.name for user in selectedUserList"></select>
                        </div>
					
                    </div>

                    <div class="long-form__actions scroll-remove padding-20">
                    	<button id="btn_addalertGroup_cancel" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
                        <button id="btn_addalertGroup_add" class="form-button btn-save" ng-click="add()" tabindex="0" aria-disabled="true" ng-disabled="addForm.$invalid">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
