<form name="deviceTypeForm" role="deviceTypeForm" novalidate>
<div class="content-holder">
   <div class="side-menu">
      <div class="side-menu__row side-menu__row--filter-select">
         <div class="sensor-header">
            <h1 class="sensor-header__title profile padding-left-40">Add Device Type</h1>
         </div>
       </div>
         <div ng-if="message != null" class="alert">{{message}}</div>
         <div class="details">
            <div class="input--container-80">
               <div class="details__detail-attr">Device Type</div>
               <div class="input-text">
                  <input ng-attr-id="{{'input_deviceType'}}" type="text" class="input-text__input" ng-model="deviceType" name="deviceType" required tabindex="0">
               </div>
            </div>
            <div class="input--container-80">
               <div class="details__detail-attr">Device Name</div>
               <div class="input-text">
                  <input ng-attr-id="{{'input_manufacturer'}}" type="text" class="input-text__input" ng-model="manufacturer" required tabindex="1">
               </div>
            </div>
            <div class="input--container-80">
               <div class="details__actions">
                  <div class="actions">
                     <div class="actions__left">
                        <button ng-attr-id="{{'btn_addDeviceType_cancel'}}" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
                        <button ng-attr-id="{{'btn_addDeviceType_add'}}" class="form-button btn-save" ng-click="addDeviceTypes()" ng-disabled="deviceTypeForm.deviceType.$pristine || deviceTypeForm.deviceType.$invalid" >Add</button>
					 </div>
                  </div>
               </div>
            </div>
         </div>
   </div>
   <div class="content content--with-side-menu side-menu__row--filter-select">
      	<div class="divTable">
            <div class="divTableHead">
               <div class="divTableRow">
                  <div class="divTableCell width-3"></div>
                  <div class="divTableCell width-10">Attribute</div>
                  <div class="divTableCell width-21">Legend</div>
                  <div class="divTableCell width-11">Show Graph</div>
                  <div class="divTableCell width-11">Show Map</div>
                  <div class="divTableCell width-12">Min</div>
                  <div class="divTableCell width-12">Max</div>
                  <div class="divTableCell width-10">Excursion Duration</div>
                  <div class="divTableCell width-10">Notify Limit</div>
               </div>
            </div>
            <div class="divTableBody">
               <div class="divTableRow" ng-repeat="attribute in attributeList track by $index">
                  <div class="divTableCell">
                     <input type="checkbox" ng-model="attribute.checkAttributes" ng-change="selectAtrribute(attribute,checkAttributes)" ng-attr-id="{{'select_' + $index}}" />
                     <label for="{{'select_' + $index}}"></label>
                  </div>
                  <div class="divTableCell" ng-model="attribute.attrName">{{attribute.attrName}}</div>
                  <div class="divTableCell">
                     <input ng-attr-id="{{'legend_' + $index}}" type="text" class="input-text__input width-260" ng-model="attribute.legend" >
                  </div>
                  <div class="divTableCell">
                     <input type="checkbox" ng-model="attribute.showGraph" ng-attr-id="{{'showGraph_' + $index}}" />
                     <label for="{{'showGraph_' + $index}}"></label>
                  </div>
                  <div class="divTableCell">
                     <input type="checkbox" ng-model="attribute.showMap" ng-attr-id="{{'showMap_' + $index}}" />
                     <label for="{{'showMap_' + $index}}"></label>
                  </div>
                  <div class="divTableCell">
                     <input ng-attr-id="{{'rangeMin_' + $index}}" class="input-text__input width-100x" ng-model="attribute.rangeMin" >
                     <span class="big-form__error">{{errorMessageMinRange[$index]}}</span>
                  </div>
                  <div class="divTableCell">
                     <input ng-attr-id="{{'rangeMax_' + $index}}" class="input-text__input width-100x" ng-model="attribute.rangeMax" >
                     <span class="big-form__error">{{errorMessageMaxRange[$index]}}</span>
                  </div>
                  <div class="divTableCell">
                     <input ng-attr-id="{{'excursionDuration_' + $index}}" type="number" min="0" class="input-text__input width-100x" ng-model="attribute.excursionDuration" >
                  </div>
                  <div class="divTableCell">
                     <input ng-attr-id="{{'notifyLimit_' + $index}}" type="number" min="0" class="input-text__input width-100x" ng-model="attribute.notifyLimit" >
                  </div>
               </div>
            </div>
         </div>
   </div>
</div>
</form>