<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <form name="addForm" role="addForm" novalidate>
        <div class="content-holder add-device">
            <div class="content content-new">
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Add Device</div>
					<div class="big-form__error"> {{message}} </div>
					 <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device ID</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="device_deviceId" name="deviceId" ng-model="device.deviceId"  required>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device Type</div>
                        </div>
                         <div class="input-text">
                         <md-select id="device_deviceType" placeholder="Select Device Type" ng-model="selectedDeviceType" ng-change="changeDeviceType(selectedDeviceType)">
                                <md-option ng-value="item" ng-repeat="item in deviceTypeList">{{item.deviceType}}</md-option>
                         </md-select>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device Key</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="device_deviceKey" name="deviceKey" ng-model="device.deviceKey" >
                        </div>
                    </div>
					
					 <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">MDN</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="device_mdn" name="mdn" ng-model="device.mdn" >
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device State <span class="device_state" id="deviceStatus"><md-switch ng-model="device.active"></md-switch></span></div>
                        </div>
                    </div>
					
                    <div class="long-form__actions scroll-remove padding-20">
                        <button id="btn_adddev_cancel" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
                        <button id="btn_adddev_add" class="form-button btn-save" ng-click="add()" ng-disabled="addForm.deviceId.$pristine || addForm.deviceId.$invalid">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
