<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <!--<form name="addForm" role="addForm" novalidate>-->
	<form name="addForm" role="addForm">
        <div class="content-holder add-user">
            <div class="content content-new">
                <div ng-if="message != null" class="alert">{{message}}</div>
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Add User</div>
					<div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Login ID</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input type="text" class="input-text__input" id="user_userLogin" name="userLogin" ng-model="user.userLogin" >
						</div>
						<div class="input-text display-inline-block padding-left-20">
							 <span class="big-form__error">{{userLoginErrorMsg}}</span>
						</div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Name</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input type="text" class="input-text__input" id="user_name" name="username" ng-model="user.name">
                        </div>
						<div class="input-text display-inline-block padding-left-20">
							 <span class="big-form__error">{{userNameErrorMsg}}</span>
						</div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Email</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <!--<input class="input-text__input" type="email" ng-model="user.email" name="email">-->
							<input class="input-text__input" type="text" id="user_email" name="email" ng-model="user.email">
						</div>
						<div class="input-text display-inline-block padding-left-20">
							 <span class="big-form__error">{{emailErrorMsg}}</span>
						</div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Phone</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input type="text" class="input-text__input" id="user_phone" name="phone" ng-model="user.phone">
                        </div>
						<div class="input-text display-inline-block padding-left-20 width-auto">
							 <span class="big-form__error">{{phoneErrorMsg}}</span>
						</div>
                    </div>
					<div class="long-form__section">
						<div class="long-form__section-title">
							<div class="long-form__section-header">Time Zone</div>
						</div>
                        <div class="input-text">
                             <md-select id="user_timeZone" placeholder="Select Timezone" name="timeZone" ng-model="selectedTimeZone" ng-change="changeTimeZone(selectedTimeZone.id)">
                                <md-option ng-value="item" ng-repeat="item in timeZoneList">{{item.timeZoneCode}}</md-option>
                              </md-select>
                        </div>
					</div>
					<div class="long-form__actions scroll-remove padding-20">
                        <!--<button class="btn btn--action btn--action-new" ng-click="addUser()" ng-disabled="addForm.userLogin.$pristine || addForm.userLogin.$invalid || addForm.username.$pristine || addForm.username.$invalid || addForm.email.$pristine || addForm.email.$invalid">Add</button>-->
						<button id="btn_adduser_cancel" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
						<button id="btn_adduser_add" class="form-button btn-save" ng-click="addUser()">Add</button>
					</div>
				</div>
            </div>
        </div>
    </form>
</div>
