<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <!--<form name="editForm" role="editForm" novalidate>-->
	<form name="editForm" role="editForm" novalidate>
        <div class="content-holder modify-user">
            <div class="content content-new">
                <div ng-if="message != null" class="alert">{{message}}</div>
				<div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Modify User</div>
                    <div><input type="hidden" class="input-text__input" ng-model="user.userId"> </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Login ID</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input ng-disabled="true" type="text" class="input-text__input" id="user_userLogin" name="userLogin" ng-model="user.userLogin"  required>
                        </div>
					</div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Name</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input type="text" class="input-text__input" id="user_name" name="username" ng-model="user.name"  required>
                        </div>
						<div class="input-text display-inline-block padding-left-20">
							 <span class="big-form__error">{{userNameErrorMsg}}</span>
						</div>
                    </div>
                    
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Email</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input class="input-text__input" type="email" id="user_email" name="email" ng-model="user.email" required>
                        </div>
						<div class="input-text display-inline-block padding-left-20">
							 <span class="big-form__error">{{emailErrorMsg}}</span>
						</div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Phone</div>
                        </div>
                        <div class="input-text display-inline-block">
                            <input type="text" class="input-text__input"  id="user_phone" name="phone" ng-model="user.phone" required tabindex="0" aria-required="true" aria-invalid="true">
                        </div>
						<div class="input-text display-inline-block padding-left-20 width-auto">
							 <span class="big-form__error">{{phoneErrorMsg}}</span>
						</div>
                    </div>
                    <div class="long-form__section">
						<div class="long-form__section-title">
							<div class="long-form__section-header">Time Zone</div>
						</div>
                        <div class="input-text">
                              <md-select id="user_timeZone" name="timeZone" ng-model="selectedTimeZone" ng-change="updateTimeZone(selectedTimeZone.id)">
                                 <md-option ng-selected="item.id==selectedTimeZone.id" ng-value="item" ng-repeat="item in timeZoneList">{{item.timeZoneCode}}</md-option>
                              </md-select>
                        </div>
                    </div>
					<div class="long-form__actions scroll-remove padding-20">
                        <button id="btn_moduser_cancel" aria-disabled="true" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
						<button id="btn_moduser_modify" class="form-button btn-save"  ng-click="modifyuser(user)">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
