<!-- <link rel="stylesheet" type="text/css" href="app/assets/css/common/sensor-dropdown-multiselect.css" /> -->
<div ui-view="" class="ng-scope" style="">
    <form name="addForm" role="addForm" novalidate>
        <div class="content-holder">
            <div class="content content">
                <div ng-if="message != null" class="alert">{{message}}</div>
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Modify Alert</div>
                     <div class="big-form__error"> {{message}} </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Attribute Name</div>
                        </div>
                         <div class="input-text">
                            <div class="filter__select-value select__value disabled">{{alert.attrName}}</div>
                            <select ng-disabled="true" class="filter__select-input select__input" id="alert_selectedAttribute" ng-model="selectedAttribute">
                                <option>{{alert.attrName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">User Group</div>
                        </div>
                         <!-- <div class="input-text">
                               <md-select id="alert_selectedAlertGroup" name="timeZone" ng-model="selectedAlertGroup" ng-change="changeAlertGroup(selectedAlertGroup)">
                                    <md-option ng-selected="item.id==selectedAlertGroup.id" ng-value="item" ng-repeat="item in alertGroupList">{{item.groupName}}</md-option>
                               </md-select>
                        </div> -->
                        <div class="input-text-dropdown">
                            <multiselect class="input-xlarge multiselect" multiple="true" id="alert_alertgroup" 
                             ng-model="selectedAlertGroup" options="item.id as item.groupName for item in alertGroupList" ng-change="alertGroupChanged(selectedAlertGroup)" ></multiselect>
						</div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Message</div>
                        </div>
                        <div class="input-textarea">
                            <textarea class="input-textarea__input" id="alert_message" ng-model="alert.alertMsg" required></textarea>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Detail Message</div>
                        </div>
                        <div class="input-textarea">
                            <textarea class="input-textarea__input" id="alert_detailMessage"  ng-model="alert.alertDetailMsg" required></textarea>
                        </div>
                    </div>
                    <div class="long-form__actions scroll-remove padding-20">
                    	<button id="btn_modalert_cancel" class="form-button btn-cancel" ng-click="cancel()" tabindex="0">Cancel</button>
                        <button id="btn_modalert_modify" class="form-button btn-save" ng-click="modifyAlert()" tabindex="0" aria-disabled="true" ng-disabled="addForm.$invalid">Update</button>
                   </div>
                </div>
            </div>
        </div>
    </form>
    </div>