<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <form name="modifyForm" role="modifyForm" novalidate>
        <div class="content-holder modify-device">
            <div class="content content-new">
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Modify Device</div>
					<div class="big-form__error"> {{message}} </div>
					 <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device ID</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input  outline-0 bg-color-disabled" id="device_deviceId" name="deviceId" ng-model="device.deviceId" ng-disabled="true">
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device Type</div>
                        </div>
                         <div class="input-text">
                            <div class="filter__select-value select__value outline-0 bg-color-disabled">{{device.deviceType}}</div>
                            <select ng-disabled="true" class="filter__select-input select__input" id="device_deviceType" ng-model="selectedDeviceType">
                                <option>{{device.deviceType}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device Key</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="device_deviceKey" name="deviceKey" ng-model="device.deviceKey">
                        </div>
                    </div>
                     <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">MDN</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="device_mdn" name="mdn" ng-model="device.mdn" >
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Device State <span class="device_state" id="deviceStatus"><md-switch ng-model="device.active"></md-switch></span></div>
                        </div>
                    </div>
                    
                    <div class="long-form__actions scroll-remove padding-20">
                    	<button id="btn_moddev_cancel" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
                        <button id="btn_moddev_modify" class="form-button btn-save" ng-click="modify()">Modify</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
