<div layout="column" ng-cloak>
	<md-content>
	<form ng-submit="$event.preventDefault()">
		<md-autocomplete ng-disabled="false" md-no-cache="true" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.deviceId" md-min-length="0" md-removable="false" placeholder="Search by device ID"> 
			<md-item-template>
				<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.deviceId}}</span>
			</md-item-template> 
			<md-not-found> No matches found. </md-not-found> 
		</md-autocomplete>
		<br />
	</form>
	</md-content>
</div>
