<div class="big-tabs__tab" ng-class="{active: activeDashboardTabNumb == 1}" ng-click="selectedDashboardTab(1)"  ui-sref="app.dashboard.showMap" id="map">
    <div class="big-tabs__icon"><div class="sprite sprite--map"></div></div>
    <div class="big-tabs__text">Map</div>
</div>
<div class="big-tabs__tab" ng-class="{active: activeDashboardTabNumb == 2}" ng-click="selectedDashboardTab(2)" ui-sref="app.dashboard.alert" id="alert">
    <div class="big-tabs__icon"><div class="big-tabs__icon-alert"></div><div class="big-tabs__icon-alert-text">{{allNotificationCount}}</div></div>
    <div class="big-tabs__text" >Alerts</div>
</div>