<div class="big-tabs__tab" ng-class="{active: activeTabNumb == 1}" ng-click="selectedTab(1)" ui-sref="app.productsDetails.map" id="map">
   <div class="big-tabs__icon"><div class="sprite sprite--map"></div></div>
   <div class="big-tabs__text" >Map</div>
</div>
<div class="big-tabs__tab" ng-class="{active: activeTabNumb == 2}" ng-click="selectedTab(2)" ui-sref="app.productsDetails.data" id="data">
   <div class="big-tabs__icon"><div class="sprite sprite--data"></div></div>
   <div class="big-tabs__text">Data</div>
</div>
<div class="big-tabs__tab" ng-class="{active: activeTabNumb == 3}" ng-click="selectedTab(3)" ui-sref="app.productsDetails.alert" id="alert">
   <div class="big-tabs__icon"><div class="big-tabs__icon-alert"></div><div class="big-tabs__icon-alert-text">{{notificationCount}}</div></div>
   <div class="big-tabs__text" >Alerts</div>
</div>