<div class="content content--with-side-menu">
    <div class="map-container">
		<div id="map-3" style="width:100%; height:100%"></div>
        <div class="map-info dashboard_bottompanel_width">
            <div class="map-info__title">
                <span>{{productId}}</span><span class="padding-left-10">{{packageId}}</span>
            </div>
            <div class="map-info__flag" ng-class="{'map-info__flag--flagged': selectedPointFavoriteStatus == 1}"></div>
            <div class="map-info__info">
                <div class="map-info__info-item padding-right-10">
                    <div class="map-info__info-item-name">{{productAttrLegend1}}</div>
                    <div class="map-info__info-item-value--big" ng-class="isColorRedAttr1 == true ? 'map-info__info-item-value' : 'map-info__info-item-value--red'">
                        {{productAttrVal1}}{{productAttrUnit1}}
                    </div>
                </div>
                <div class="map-info__info-item padding-right-10 padding-left-10">
                    <div class="map-info__info-item-name">{{productAttrLegend2}}</div>
                    <div class="map-info__info-item-value--big" ng-class="isColorRedAttr2 == true ? 'map-info__info-item-value' : 'map-info__info-item-value--red'">
                        {{productAttrVal2}}{{productAttrUnit2}}
                    </div>
                </div>
                <div class="map-info__info-item padding-right-10 padding-left-10">
                    <div class="map-info__info-item-name">Location</div>
                    <div class="map-info__info-item-value map-info-nearest-location">
                        <span>{{productLocationCoordinates}}</span><br>
                        <span class="nearest-location padding-top-5">{{nearestLocation}}</span>
                    </div>
                </div>
				<div class="map-info__info-item padding-left-10 padding-right-0 width-140">
					<div class="map-info__info-item-name">Time</div>
					<div class="map-info__info-item-value map-info-last-update-time">
						<span>{{productLastUpdateTime}}</span><br>
					</div>
				</div>
			</div>
            <div class="tabs">
                <div class="tabs__tab"  ng-if="selectedItemType.typeId !== 4" >
                    <div class="tabs__icon"><div class="sprite sprite--data"></div></div>
                    <div class="tabs__text" id="device_data" ng-click="selectedTab(2)" ui-sref="app.productsDetails.data">Device Data</div>
                </div>
                <div class="tabs__tab"  ng-if="selectedItemType.typeId !== 4" >
                    <div class="tabs__icon"><div class="tabs__icon-alert"></div><div class="tabs__icon-alert-text">{{notificationCount}}</div></div>
                    <div class="tabs__text" id="device_alert" ng-click="selectedTab(3)" ui-sref="app.productsDetails.alert">Device Alerts</div>
				</div>
				<!--  div class="tabs__tab" ng-if="selectedItemType.typeId !== 1" -->
				<div class="tabs__tab" >
					<div class="tabs__icon"><div class="sprite sprite--data"></div></div>
					<div class="tabs__text" id="device_data" ng-click="onViewDetailsClick(productId,selectedItemType.typeId, traceId)">
					Item Details
					</div>
				</div>
            </div>
        </div>
        
    </div>
</div>
<div id="map-3-popup" style="display:none;">
	<div class="popup-heading"><img id="map-3-popup-img" src="app/assets/img/rfXcel-logo.png" width="30" height="15">&nbsp Intelligent Monitoring</div>
	<div>Stationary shipment detected...</div>
	<div>Monitoring temperature...</div>
	<div>Temperature Charts...</div>
	<div>
		<svg viewBox="0 0 480 80" class="svgchart" id="svgchart">
		  <g class="svggrid" id="maxValue">
	  		<line x1="0" x2="420" y1="70" y2="70"></line>
		  </g>
		  <g class="svggrid" id="maxValue">
	  		<line x1="0" x2="420" y1="32" y2="32"></line>
		  </g>
		  <polyline
		     fill="none"
		     stroke="#0074d9"
		     stroke-width="2"
		     points="
		       00,66.0
		       20,66.2
		       40,65.8
		       60,65.5
		       80,62.5
		       100,60
		       120,59.8
		       140,58.3
		       160,57.9
		       180,54.4
		       200, 53.2
		       220, 52.5
		       240, 49.9
		       260, 48.4
		       280, 48.1
		       300, 46.4
		       320, 45.1
		       340, 44
		       360, 40.2
		       380, 38.6
		       400, 36.1
		       420, 35
			   "
		   />
		</svg>
	</div>	
	<div>Gathering weather info</div>
	<div id="openweathermap-widget-18" display="none"></div>
	<script>
		window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
		window.myWidgetParam.push({id: 18,cityid: '5308655',appid: 'a9e2f01bf5a88778901db4c5dc061a28',units: 'imperial',containerid: 'openweathermap-widget-18',  });
		(function() {var script = document.createElement('script');
			script.async = true;
			script.charset = "utf-8";
			script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(script, s);
		})();
	</script>
	<div class="popup-warning">Shipment is at risk of overheating!</div>
	<div>Sending SMS alerts</div>
	<div>Sending Voice alerts</div>
	<div>Monitoring complete...</div>
</div>
