<!-- <link rel="stylesheet" href="app/assets/css/common/nav-tab.css"> -->
<div class="content content--with-side-menu wide">
	<div class="charts-container">
        <div ng-if="message != null" class="alert">{{message}}</div>
        <div class="charts">
                <div class="charts__actions">
                    <button id="btn-downloadData" class="btn btn--action-tertiary btn--small" ng-click="downloadReports()">Download Data</button>
                    <button id="btn-downloadData" class="btn btn--action-tertiary btn--small" >Locate Now</button>
                    <div class="charts__tabs">
                        <div class="big-tabs">
                            <div ng-include="'app/view/partials/mapDataAlertsBtn.html'"></div>
                        </div>
                    </div>
                </div>

                <div class="charts__filter">
                    <div class="filter">
                        <div class="filter__label">View</div>
                        <div class="filter__select select">
                            <md-select id="selectedDuration" ng-model="selectedDuration" ng-change="durationSelected(selectedDuration)">
                                <md-option ng-value="item" ng-repeat="item in duration">{{item.lable}}</md-option>
                            </md-select>
                            
                        </div>
                    </div>
                    <div class="filter">
                        <md-datepicker md-placeholder="Start Date" md-hide-icons="all" ng-model="startDate" md-hide-icons="calendar" ng-change="pickDate('startDate')"></md-datepicker>
                        <md-datepicker ng-model="endDate" ng-change="pickDate('endDate')" md-hide-icons="calendar" md-placeholder="End Date"></md-datepicker>
                    </div>
                </div>
                <div class="charts__chart" ng-repeat="chart in deviceGraphData">
                    <!--<div class="charts__chart-title">{{chart.attrName}} </div>--> <!-- <span class="charts__chart-subtitle">[&deg; per hour]</span> -->
                    <line-chart attr-name="chart.attrName" data="chart.dataPoints" 
                                min-thresh-val="chart.minValue" max-thresh-val="chart.maxValue"
                                legend="chart.legend" unit="chart.unit" range-min="chart.rangeMin"
                                range-max="chart.rangeMax" startdatetime="startDateTime" enddatetime="endDateTime"
                                alert-flag="chart.alert" >
                    </line-chart>
                </div>
		</div>
	</div>
</div>