/*@logo-blue: #0083BB;
@logo-green: #29BF89;*/
/*@grid-header-title-bg: #797979;
@grid-header-title-color: #FFFFFF;
@grid-column-header-bg: #EAEAEA;
@grid-clickable-text-color: #0083BB;*/
/*@grid-column-header-bg: #EAEAEA;*/
/*@grid-column-header-bg: #f2f2f2;*/
/* Color themes */
/*@panel-title-bg: #002A48;*/
/*
@panel-title-bg: #29BF89;
@panel-title-bg: orangered;
@panel-title-bg: #7E8D85;
*/
/*@grid-header-title-bg: #7E8D85;
@grid-column-header-bg: #BDBDBE;*/
/*@grid-header-title-bg: yellow;
@grid-column-header-bg: pink;*/
/* Grid Header Title */
[data-results] .search_results_byline,
[data-results="true"] .search_results_holder {
  display: block;
}
.search_results_byline {
  margin-bottom: 0;
  background-color: #797979;
  color: #FFFFFF;
  /*margin-right: 18px;*/
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
[data-collapser] {
  /*margin: 34px 0 10px 50px;*/
  /*margin: 34px 18px 0 50px;*/
  margin: 5px 18px 0 48px;
}
.search_results_byline .collapser {
  background-color: #797979 !important;
}
[data-collapser="show"] .collapser {
  background: url(../img/arrow-down.png) no-repeat center, linear-gradient(transparent, transparent);
  background-size: 14px 12px;
}
[data-collapser] .collapser {
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  left: 18px;
  position: absolute;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
/* Grid Header Title ends */
/* Grid Column Header */
.search_results_holder {
  margin: 0 18px;
  overflow: auto;
}
.search_results_holder table {
  table-layout: fixed;
}
[data-table-kind] table {
  width: 100%;
}
table thead tr th {
  border: 1px solid #d5d6d8;
  color: #797979;
  font-weight: 500;
  font-size: 14px;
  background: #F9F9F9;
  line-height: 15px !important;
  height: 30px;
}
table tbody tr td {
  border: 1px solid #d5d6d8;
  color: #707070;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  user-select: text;
  overflow: visible;
}
/*.search-simple-advanced .search_holder .search_options_advanced .search_rule_new .search_results_holder table tbody tr td {*/
.search-simple-advanced .search_options_advanced .search_rule_new .search_results_holder table tbody tr td,
.search-simple-advanced .search_options_saved .edit_saved_card table tbody tr td {
  line-height: 0;
}
th,
td {
/*  min-width: 81px;*/
  overflow: hidden;
  padding: 4px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Grid Column Header ends */
/* Grid Data */
.search_results_holder [data-event-id],
.search_results_holder [data-location-id],
.search_results_holder [data-notification-id],
.search_results_holder [data-note-id],
.search_results_holder [data-trace-id],
.search_results_holder [data-item-id],
.search_results_holder [data-item-type] {
  color: #0083BB;
  cursor: pointer;
}
.button_select[data-show="true"] ul {
  margin-top: 0;
}
.button_select ul {
  color: #707070;
  pointer-events: inherit;
  padding: 5px 0;
}
.button_select li {
  padding: 4px 13px;
}
/* Grid Data ends */
/* div layout table */
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
}
.table .table-row {
  display: table-row;
}
.table .table-cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  border: 1px solid #d5d6d8;
  vertical-align: middle;
}
.table-grid > .table-grid-header {
  background-color: #F9F9F9;
  color: #797979;
}
.table-grid > .table-row > .table-cell {
  padding: 8px 10px;
  /*width: initial !important;*/
  font-size: 13px;
  height: 25px;
}
/*.table-grid > .table-row > .table-cell {*/
.table-grid > .table-row:nth-child(1) > .table-cell {
  color: #797979;
  font-weight: 500;
}
/* div layout table */
/* Overwrite bootstrap expand collapse panel style */
.body_search .container {
  width: 100%;
}
.panel-body {
  padding: 0;
}
.panel-default {
  border: none;
}
.panel-group > .panel-default > .panel-heading > .panel-title > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
.panel-group > .panel-default > .panel-heading {
  color: #FFFFFF;
  /*background-color: #797979;*/
  /*background-color: #0083BB;*/
  background-color: #0083BB;
  border-color: #ddd;
  /*padding: 6px 15px;*/
  padding: 4px 15px;
}
.panel-heading > .panel-title > a > .glyphicon {
  padding-right: 8px;
  vertical-align: bottom;
}
/* Overwrite bootstrap expand collapse panel style*/
.search-results-grid {
  /*width: 150%;*/
}
/* Loading Data...  */
.grid-msg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.grid-msg-overlay .msg {
  opacity: 1;
  top: 20%;
  width: 100%;
  height: 100%;
  background-color: #eee;
  /*text-align: center;*/
  font-size: 24px;
  display: table;
  padding-left: 30%;
}
.grid-msg-overlay .msg span {
  display: table-cell;
  vertical-align: middle;
  color: #707070;
}
/* Loading Data...  */
/*** common styles : feb1 ****/
.ui-grid-header-cell-row {
  color: #707070;
  /*color: orangered;*/
  font-weight: 600;
}
.button_primary {
  background-color: #0083BB;
  color: #FFF;
}
footer,
md-sidenav,
md-sidenav .panel-group > .panel-default > .panel-heading,
.search_options_simple .now,
.btn-pagination,
md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: #0083BB;
  /* added */
}
.search-simple-advanced .search-simple-advanced-toggle-section .btn-default:hover {
  background-color: #005f88;
}
.btn.btn-default:hover,
.btn.btn-default:clicked {
  color: #fff;
  background-color: #0083BB;
  border-color: #0083BB;
  outline: none;
  box-shadow: none;
}
.search_tabs .btn.btn-default.active,
.search_tabs .btn.btn-default:active {
  color: #fff;
  background-color: #0083BB !important;
  border-color: #0083BB;
  outline: none;
}
.btn.btn-default.search-tabs-saved.active,
.btn.btn-default.search-tabs-saved:active {
  background: #0083BB url(../images/star_small_white.svg) no-repeat center;
}
.nav-sub-list {
  background-color: #55ccff;
}
.button_primary:active,
.button_primary:hover {
  background-color: #005f88;
  border-color: #0083BB;
}
.btn-default:hover{
    background-color: #0083BB !important;
    border-color: #0083BB;
    outline: none
}
/*** common styles : feb1 ****/
