	body[data-type] {
		overflow: visible;
	}
		
	.search_holder .search_options_saved .saved_card input[type='text'],
	.search_holder .search_options_saved .saved_card select,
	.search_rule_new .search_results_holder input[type='text'],
    .search_rule_new .search_results_holder input[type='number'],
	.panel-group .panel-body-content input[type='text'],
	.panel-group .panel-body-content input[type='number'],
	.search_rule_new .search_results_holder select,
	.button_select,
	.modal .modal-body input[type='text'],
	.panel-body .panel-body-content .table .table-row .table-cell input[type='password'],
    md-input-container md-select,
    md-input-container textarea{
		font-size: 14px;
		border: 1px solid #d5d6d8;
		height: 22px;
		border-radius: 15px;
		padding: 0 10px;
		color: #707070;
		width: 180px;
		margin: 1px 0 1px 12px;
	}
	.search_rule_new .search_results_holder input[type='text'],
	 md-input-container md-select { 
		 /*height: 28px;*/
		 /*height: 26px;*/
		 height: 22px;
		 font-size: 13px;
	}	

	/*.search_holder .button_select ul,
	.search_rule_new .button_select ul {
		width: 180px;
	}*/

	.button_select ul {
		width: 195px;
		max-height: 300px;
    	overflow: auto;
	}

	.search_rule_new .search_results_holder table {
		table-layout: fixed;
		table-layout: auto;
	}
		
	.search_rule_new .search_results_holder {
		table-layout: fixed;
		table-layout: auto;
		margin: 0;
		overflow: visible;
	}

	.search_rule_new .search_results_holder table .subj,
	.search_rule_new .search_results_holder table .subj {
		padding: 6px 15px;
		font-weight: 500;
	}
		
	.search_rule_new .search_results_holder table tr:first-child td {
		border-top-color: #d5d6d8;
	}
		
	.search_rule_new .search_results_holder select::after {
		background: transparent url(../images/menu_down_blue@2x.png) no-repeat 0 center;
		background: -webkit-image-set(url(../images/menu_down_blue.png) 1x, url(../images/menu_down_blue@2x.png) 2x) no-repeat 0 center;
		background: url(../images/menu_down_blue.svg) no-repeat 0 center, linear-gradient(transparent, transparent);
		background-size: 12px 8px;
		content: " ";
		display: inline-block;
		height: 8px;
		margin-left: 5px;
		position: absolute;
		right: 12px;
		top: 10px;
		width: 12px;
	}
		
	.search_options_saved .saved_card {
		width: 100%;
	}

	.search_options_saved .saved_card:nth-child(2n+2) .holder {
		margin-left: 10px;
		margin-left: 0;
	}

	.saved-search .table-grid {
		margin-bottom: 0;
	}

	.saved_card .button_del, .saved_card .button_search, .saved_card .button_edit {
		/*top: 3px;*/
		border: 1px solid #959595;
		display: inline-block;
		height: 22px;
		width: 24px;
		background-color: white;
	}

	.saved_card .panel-group > .panel-default > .panel-heading {
		/*height: 34px;*/
		height: 27px;
	}
	
	.saved_card .panel,
	.item-summary .panel {
		border: none;
	}

	.panel-group > .panel > .panel-collapse > .panel-body {
		padding: 0;
	}

	/* traceItemDetails */
	.panel-group > .panel > .panel-collapse > .panel-body > .search_results_holder {
		margin: 0;
	}

	.panel-group > .panel > .panel-collapse > .panel-body .table-grid {
		margin-bottom: 0;
	}
	/* traceItemDetails */

	.search_options_saved .saved_card .holder {
		/*margin-bottom: 10px;*/
		margin-bottom: 30px;
		position: relative;
		border: none;
	}

	.saved_card .title {
		border: 1px solid #d5d6d8;
		border-bottom: none;
		display: block;
		font-size: 15px;
		padding: 15px 130px 15px 10px;
		font-family: inherit;
		font-weight: 500;
		background-color: #797979;
    	color: #ffffff;
	}

	/*.search_holder .search_options_saved .saved_card .holder table tbody tr td:nth-child(1),
	.search_holder .search_options_saved .saved_card .holder table tbody tr td:nth-child(4), 
	.search_rule_new .search_results_holder table tbody tr td:nth-child(1),
	.search_rule_new .search_results_holder table tbody tr td:nth-child(4) {
		background-color: #F9F9F9;
		font-weight: 500;
	}*/

	/* div layout changes*/
	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(1),
	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(4), 
	.search_rule_new .search_results_holder .table .table-row .table-cell:nth-child(1),
	.search_rule_new .search_results_holder .table .table-row .table-cell:nth-child(4) {
		background-color: #F9F9F9;
		/*font-weight: 500;*/
		font-weight: 600;
		color: #707070;
		/*padding: 10px 10px 10px 15px;
    	line-height: 15px;*/
    	padding: 0 0 0 15px;
		line-height: 0;
		font-size: 13px;
	}

	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(1),
	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(4) {
		width: 20%;	
	}

	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(2),
	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(3),
	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(5),
	.search_holder .search_options_saved .saved_card .holder .table .table-row .table-cell:nth-child(6) {
		width: 15%;
	}


	.search_holder {
		/*margin: 18px;*/
	}

	.search_rule_new, .search_rule_row {
		white-space: nowrap;
		height: inherit; 
	}

	.expandCollapseArrow {
		width: 16px;
		height: 10px;
		display: inline-block;
		margin-right: 2px;
	}

	.expandCollapseArrowDown {
		background: url(../img/arrow-down.png) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 14px 12px;
	}

	.expandCollapseArrowUp {
		background: url(../img/arrow-up.png) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 14px 12px;
	}

	.search-expiry-date-calender {
		background: url(../img/calendar_blue2.png) no-repeat center, linear-gradient(transparent, transparent);
		width: 20px;
		height: 20px;
		display: inline-block;
		top: 5px;
		position: relative;
	}

	[data-search="saved"] .saved {
		background-color: #0083BB !important;
		background: #0083BB url(../images/star_small_white.svg) no-repeat center;
	}

	[data-search="saved"] + .search_results_byline {
		display: none !important;
	}

	.saved_card .title::before {
		display: none;
	}

	/* Name your search: popup*/
	.search_show_hide_holder .title, 
	.search_save_formula .title,
	.search_delete_formula .title,
	.search_save_formula input {
		color: #797979;
	}


	.saved_card .saved-search-actions .button_del, 
	.saved_card .saved-search-actions .button_search, 
	.saved_card .saved-search-actions .button_edit {
		background-color: #fff;
	}

	.saved_card .saved-search-actions .button_search {
		background-position-x: 5px !important;
	}
	
	.saved_card .saved-search-actions .button_edit {
		background-position-y: 1px;
		background-position-x: 3px;
	}

	.search-simple-advanced-toggle-section {
		border: 1px solid #d5d6d8;
		/*margin-bottom: 10px;*/
		background-color: #fbfbfb;
		border-top: none;
	}

	.search-simple-advanced-toggle-section .btn-group  button {
		padding: 3px 12px;
	}

	.search-simple-advanced .search-simple-advanced-toggle-section .search_options_simple {
		display: inline-block !important;
	}

	[data-search="saved"] .search_options_saved {
		border-top: none;
	}

	.saved_card .search_rule_actions .button_search {
		position: inherit;
	}

	.search_results_holder[data-table-kind="event_details_complex"] {
		/* height: 95px; */
		display: block;
		margin: 0; 
	}

	.header_table {
		visibility: visible;
	}

	.search_results {
		margin: 5px 0px 0 30px; 
	}

	.saved_card .button_del:hover, .saved_card .button_search:hover, .saved_card .button_edit:hover {
		background-color: #797979 !important;
	}

	/*.button_select::after {
		background: transparent url(../images/menu_down_blue@2x.png) no-repeat 0 center;
		background: -webkit-image-set(url(../images/menu_down_blue.png) 1x, url(../images/menu_down_blue@2x.png) 2x) no-repeat 0 center;
		background: url(../images/menu_down_blue.svg) no-repeat 0 center, linear-gradient(transparent, transparent);
		background-size: 12px 8px;
		content: " ";
		display: inline-block;
		height: 8px;
		margin-left: 5px;
		position: absolute;
		right: 12px;
		top: 8px;
	}*/

/* hide the textarea */
#vzdata {
	display: none;
}



/* trace item */

.notification1 {
	background: url(../img/notify-with-notification.png) no-repeat center, linear-gradient(transparent, transparent);
	width: 25px;
	height: 25px;
	right: initial;
	display: inline-block;
}

.notification2 {
	background: url(../img/notify-without-notification.png) no-repeat center, linear-gradient(transparent, transparent);
	width: 25px;
	height: 25px;
	right: initial;
	display: inline-block;   
}	

.notification-icon {
	float: right;
	right: 25px;
	position: relative;
	top: 12px;
	position: relative;
}

.notification1 {
	background: url(../img/notify-with-notification.png) no-repeat center, linear-gradient(transparent, transparent);
	width: 30px;
	height: 30px;
	right: initial;
	display: inline-block;
	padding-right: 20px;
	margin-right: 20px;
}
	
/* moved this style to grid-style.css */
/*.btn.btn-default:hover,
.btn.btn-default:clicked {
  color: #fff;
  background-color: #0083BB;
  border-color: #0083BB;
  outline: none;
  box-shadow: none;
}
.search_tabs .btn.btn-default.active,
.search_tabs .btn.btn-default:active {
  color: #fff;
  background-color: #0083BB !important;
  border-color: #0083BB;
  outline: none;
}*/
.btn.btn-default.search-tabs-saved.active,
.btn.btn-default.search-tabs-saved:active {
	background: #0083BB url(../images/star_small_white.svg) no-repeat center;
}


.btn.btn-default.search-tabs-saved {
	background: url(../images/star_small_black.svg) no-repeat center, linear-gradient(transparent, transparent);
	/*height: 34px;*/
	height: 30px;
}
.btn.btn-default.search-tabs-saved:hover {
	background: url(../images/star_small_white.svg) no-repeat center, linear-gradient(transparent, transparent);
}
	
.btn-group >.btn:first-child {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.btn-group >.btn:last-child {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	height: 26px;
}
	
.search_options_simple,
.search_options_advanced,
.search_options_saved {
    display: block;
}

.search_options_saved .saved_card .table-grid > .table-row > .table-cell {
    padding: 0 10px;
}

select {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(../images/menu_down_blue.svg) no-repeat right, linear-gradient(transparent, transparent);
    -webkit-appearance: none;
    background-position-x: 155px;
	outline: 0;
}
.panel-collapse.collapse{
    position: relative;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #fff !important;
}
.search_options_simple {
	/*margin: 0;*/
}

/* trace item */


.search_options_advanced .search_results_holder .table .table-row:nth-child(1) .table-cell {
	border-top: 0;
}


/************* Removed these inline styles from  items, events, notification and product html files *****************/

.panel-title .saved-search-actions {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 30px;
	bottom: 12px;
	float: right;
}

.panel-title {
	width: 100%;
	display: inline-block;
}

.saved-search-actions .div {
	position: relative;
}

.saved-search-actions {
	position: relative;
}

.search_category_group1{
	 -moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	-webkit-column-rule: 1px solid #d5d6d8; /* Chrome, Safari, Opera */
	-moz-column-rule: 1px solid #d5d6d8; /* Firefox */
	column-rule: 1px solid #d5d6d8;    
}

.search_category_menu{
	display: block;  
	   z-index: 1; 
}
.search_options_simple .drop, .search_options_simple .text, .search_options_simple .now{
	float: left;
}

/************* Removed these inline styles from  items, events, notification and product html files *****************/

/***** simple search ********/

.search_category_group1 div, .search_category_group2 div, .search_category_group3 div {
    padding: 4px 20px;
}

.search_category_menu {
    font-size: 13px;
	color: #797979;
}

/***** simple search ********/
.search_results_holder md-radio-group.content-top-radio,.search_results_holder md-checkbox{
	    margin: 1px 0 1px 12px;
}

/******** setup *********/

.panel-body-content .table .table-row .table-cell {
	padding-left: 15px;
	color: #707070;
	height : 25px;
}

.panel-body-content .table .table-row .table-cell:nth-child(1),
.panel-body-content .table .table-row .table-cell:nth-child(3) {
	background-color: #F9F9F9;
	font-weight: 600;
	font-size: 13px;
	color: #707070;
	padding: 0 0 0 15px;
	width: 250px;
}

.table-header {
	background: #f3f3f3;
	font-weight: 600 !important;
	height: 26px;
	font-size: 13px;
}
.multi-select{
	width: 175px;
	padding: 5px;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 14px;
	border: 1px solid #bfbfbf !important; 
	border-radius: 0px; */
	height: 34px;
	background: no-repeat right; 
	background-color: #e9f8ff !important;
	cursor: pointer;
}
.text-area {
    position: relative;
    left: 13px;
    width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid #d4d4d4;
    border-radius: 13px;
    height: 50px;
}

.filter-check-box {
    width: 50%;
    float: left;
    padding: 5px;
}

/*.filter-model-body {
    height: 150px !important;
}*/

/*.md-select-menu-container {
	width: 150px;
}*/

.panel-body-content .compliance-reports .table-row .table-cell:nth-child(1), 
.panel-body-content .compliance-reports .table-row .table-cell:nth-child(3) {
	width: auto;
	font-weight: 500;
	background-color: initial;
}
/******** setup *********/
