		[data-table-kind="event_details_complex"] [data-sort="2"] {
			 width: 115px !important; 
		}
		
		.button_select, 
		.rule_value {
			border: 1px solid #d5d6d8;
		}

		

		.rule_subject ul { 
			height: 300px;
			overflow-y: scroll;
		}

		/* search.css */
	
		

		.search_named {
			color: #707070;
            /*margin: 10px 0 10px 18px;*/
			margin: 8px 0 8px 18px;
			height: auto;
		}

		.body_search .page_title,
		.search_rule_new .title {
			color: #707070;
        }
		
		.search_rule_new .title{
			margin: 5px 0 15px 18px;
		}
		.body_search .page_title{
			/*margin: 5px 0 5px 18px;*/
			margin: 5px 0 5px 0;
			font-size: 20px;
		}

		[data-results="true"] {
			overflow: visible;
		}

		

		/* search.css */
		
		
		
		/* trace.css */
		.r[data-open="true"] [data-level="1"] [data-item-type] {
			background-color: #1969ba;
			color: white;
		}
		
		.item_selected {
			 /*background-color: #fef5e5;*/
			 background-color: #e7f3e7; 
		}

		/* Item Information-> Item Type -> Click Lot1*/
		[data-table-kind="event_details_complex"] td[data-sort="1"] {
			color: #707070;;
		}

		[data-level="1"] [data-actions] [data-event], [data-open-events] [data-actions] [data-event] {
			padding: 15px;
			margin-top: -7px;
			margin-bottom: -8px;
			/*margin-left: 5px;*/
			margin-left: 0;
		}


		/* trace.css */
		
		/* notifications.css */
		
	[data-collapser="hide"] .collapser {
		background: url(../img/arrow-up.png) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 14px 12px;
	}

	[data-table-kind][data-expando="true"] td:last-child, [data-table-kind][data-expando="true"] th:last-child {
		width: inherit !important;
	}

	/* notifications.css */

	.sub1 ul li div::before {
		/*background: url(../img/sub-menu2.png) no-repeat center, linear-gradient(transparent, transparent);*/
		/*background-size: 16px 17px;*/
		background: url(../img/sub-menu2-item.png) no-repeat center, linear-gradient(transparent, transparent);
		/*background-size: 6px 6px;*/
		background-size: 12px 12px;
	}

	.select-trace-item {
		cursor: pointer;
		display: inline-block;
		margin-bottom: 2px;
		padding-top: 1px;
	}

	.select-trace-item input {
		display: none;
	}

	.select-trace-item::before {
		background: transparent url(../images/check_box_transparent@2x.png) no-repeat center;
		background: -webkit-image-set(url(../images/check_box_transparent.png) 1x, url(../images/check_box_transparent@2x.png) 2x) no-repeat center;
		background: url(../images/check_box_transparent.svg) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 16px;
		content: " ";
		display: inline-block;
		margin-bottom: -3px;
		margin-right: 7px;
		width: 16px;
		height: 16px;
	}

	.select-trace-item.checked::before {
		background: transparent url(../images/check_box_blue@2x.png) no-repeat center;
		background: -webkit-image-set(url(../images/check_box_blue.png) 1x, url(../images/check_box_blue@2x.png) 2x) no-repeat center;
		background: url(../images/check_box_blue.svg) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 16px;
		content: " ";
		display: inline-block;
		width: 16px;
		height: 16px;
	}


/* Disposition select box*/
.search_results_byline .button_select {
	margin-left: 748px;
}
/* Disposition select box*/

/* Trace: Item Details starts */

	/* Item type icons for Actions column */
	[data-trace] {
		background: transparent url(../img/map2.png) no-repeat center;
		background: -webkit-image-set(url(../img/map2.png) 1x, url(../img/map2.png) 2x) no-repeat center;
		background: url(../img/map2.png)) no-repeat center, linear-gradient(transparent, transparent); 
		background-size: 17px 16px;
	}

	[data-event] {
		background: -webkit-image-set(url(../img/adjust_blue.png) 1x, url(../img/adjust_blue.png) 2x) no-repeat center;
		background: url(../img/adjust_blue.png) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 18px 18px;
	}

	[data-move] {
		background: -webkit-image-set(url(../img/move_blue.png) 1x, url(../img/move_blue.png) 2x) no-repeat center;
		background: url(../img/move_blue.png) no-repeat center, linear-gradient(transparent, transparent);
		background-size: 18px 18px;
	}

	[data-trace], [data-event], [data-move] {
		color: transparent;
		content: "";
		cursor: pointer;
		display: inline-block;
		margin-top: 1px;
		width: 21px;
		height: 16px;
	}

	.search_results_holder[data-table-kind="event_details_complex"] .hovercols {
		/*top: 474px !important;*/
	}

	.set_disposition_select ul {
		font-weight: 400;
	}

	.set_disposition_select .select_value {
		font-weight: 500;
		color: #707070;
	}
	.ui-grid-headerInfo{
		background-color: #BFBFBF;
		font-weight: 600;
		font-size: 16px;
		color: #fff;
		padding-left: 15px;
		width: 150%;
	}
	a{
		cursor: pointer;
	}
	[data-report-kind="pdf"]::before {
		background: transparent url(../img/pdf_blue.png) no-repeat center;
		background-size: 100%
	}
	[data-report-kind="pdf-disable"]::before {
		background: transparent url(../img/pdf_grey.png) no-repeat center;
		background-size: 100%
	}
    [data-report-kind="eu"]::before {
		background: transparent url(../img/eu_blue.png) no-repeat center;
		background-size: 100%
	}
	[data-report-kind="eu-disable"]::before {
		background: transparent url(../img/eu_grey.png) no-repeat center;
		background-size: 100%
	}
	[data-report-kind="epcis-disable"]::before {
		background: transparent url(../img/epc_grey.png) no-repeat center;
		background-size: 100%
	}
	[data-report-kind="csn"]::before {
		background: transparent url(../img/csn_blue.png) no-repeat center;
		background-size: 100%;
	}
	[data-report-kind="csn-disable"]::before {
		background: transparent url(../img/csn_grey.png) no-repeat center;
		background-size: 100%;
	}
	[data-report-kind]::before{
			width: 24px;
			height: 24px;
	}
	.errorFieldMessage{
		color: red;
		padding: 5px 10px;
		text-shadow: 0 0 0px #F1575A;
	}

/* Trace: Item Details ends */
		