/*.ui-grid {
	height: auto !important;
    width: 99% !important;
    padding: 0px 8px 0px 8px;
}*/

.ui-grid {
	height: auto !important;
    /*width: 99% !important;
    padding: 0px 8px 0px 8px;*/
	border-top: none;
}
.chagehistory {
	height: auto !important;
    width: 98% !important;
    padding: 0px 8px 0px 8px;
}

.ui-grid .ui-grid-viewport {
	height: 100% !important;
}

.grid .ui-grid-pager-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	height: 25px;
}

/* moved this style to grid-style.css */
/*.ui-grid-header-cell-row {
	color: #707070;
	font-weight: 600;
}*/

.ui-grid-header-cell .ui-grid-cell-contents, .ui-grid-row .ui-grid-cell-contents {
	/*padding: 5px 10px;*/
	padding: 3px 10px;
}

/* search result grid adjacent rows height*/

.search_results_holder .ui-grid-contents-wrapper .ui-grid-row {
	height: 26px !important;
}

.search_results_holder .ui-grid-contents-wrapper .ui-grid-row .ui-grid-cell {
	height: 26px !important;
}

.ui-grid-canvas {
    height: auto !important;
}

/* search result grid adjacent rows height*/


.ui-grid-cell-contents {
	font-weight: 500;
}
.expandableRow .ui-grid {
	border: 1px solid #797979;
}

.ui-grid-lastLevel {
	visibility: hidden;
}

/*.ui-grid-canvas .ui-grid-row:first-child .ui-grid-lastLevel{*/ /*may9*/
.ui-grid-canvas .ui-grid-row:only-child .ui-grid-lastLevel{
	display: none;
}
.ui-grid-empty{
	    position: absolute;
		top: 25px;
		font-size:16px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
	font-weight: 600;
}
.ui-grid-pagination-custom{
    position: absolute;
    /*top: -29px;*/
    top: -25px;
    right: 10px;
    color: #fff;
}
.btn-pagination{
 /* background-color: #0083BB;*/ /* moved this style to grid-style.css */
  outline: none;
  padding: 6px 12px !important;
}
.ui-grid-pagination-icon{
	width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
}
.ui-grid-pagination-icon.previous{
	border-width: 5px 8.7px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    margin-left: 0;
}
.ui-grid-pagination-icon.next{
	border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #ffffff;
    margin-left: -1px;
}
.ui-grid-pagination-icon div{
	width: 10px;
    border-left: 2px solid #ffffff;
    margin-top: -6px;
    height: 12px;
}
.ui-grid-pagination-icon.previous div{
    margin-left: -3px;
}
.ui-grid-pagination-icon.next div{
    margin-left: 1px;
}

/* bootstrap panel */
.container .panel-group .panel+.panel {
    margin-top: 15px;
}
/* bootstrap panel */
.ui-grid-row:hover .ui-grid-cell{
    /*background:#4cbc8e !important;*/
    /*background: #93d6bb !important;*/
    background: #6fc9a4 !important;
    color: #fff;
}