/****** Added for auto complete text box , date picker , dialog, design ******/

md-dialog md-dialog-content .md-dialog-content-body {
    padding-top: 20px;
}
md-datepicker.md-default-theme,
md-datepicker {
    background-color: transparent;
}
md-datepicker {
    position: relative;
    bottom: 5px;
    margin-right: 0;
}
md-datepicker .md-button.md-icon-button {
    margin: 0;
}
.md-datepicker-input {
    min-width: 140px;
}
.md-default-theme .md-datepicker-input-container.md-datepicker-invalid,
.md-datepicker-input-container.md-datepicker-invalid {
    border-bottom-color: #e2e3e4;
}
.md-default-theme .md-calendar-date.md-focus .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus .md-calendar-date-selection-indicator {
    background: none;
}
.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border-top-color: #0066CC;
}
.md-datepicker-calendar-icon {
    background-image: url(../img/calendar.png);
}
.md-datepicker-calendar-icon svg {
    display: none !important;
}
.md-datepicker-input-container {
    margin-left: 5px;
    top: 5px;
}
.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle,
.md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: #0066CC;
}
.md-button:not([disabled]).md-focused {
    background-color: transparent;
}
md-autocomplete-wrap {
    border: 1px solid #e2e3e4;
    box-shadow: none !important;
    border-radius: 80px;
}
md-autocomplete-wrap,
md-autocomplete-wrap .flex {
    height: 30px !important;
    font-size: 13px !important;
}
.md-autocomplete-suggestions li {
    padding: 7px 0 0 16px;
    line-height: 20px;
    height: 30px;
}
md-autocomplete {
    width: 236px !important;
    background: #fff;
}
.filter__new md-autocomplete {
    left: 20px;
    height: 100%;
    padding: 20px 0;
}
md-dialog md-dialog-actions .md-button {
    border-radius: 20px;
    text-transform: none;
}
md-dialog md-dialog-actions {
    padding-bottom: 23px;
    /*padding-left: 20px;*/
    
    justify-content: flex-start;
}
md-dialog md-dialog-content {
    padding-right: 20px !important;
}
md-dialog md-dialog-content .md-title {
    font-size: 24px;
    font-weight: 300;
    color: #373A3C;
}
md-dialog md-toolbar {
    background-color: #fff !important;
}
md-dialog md-toolbar .md-toolbar-tools {
    font-size: 24px !important;
    font-weight: 300 !important;
    color: #373A3C !important;
}
md-dialog md-dialog-content .md-dialog-content {
    padding: 0 24px 26px;
}
button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple {
    display: none;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
    top: 3px;
    right: 8px;
}
.md-datepicker-input {
    padding-top: 4px;
}
.md-datepicker-expand-triangle {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
}
.md-datepicker-open .md-datepicker-input {
    height: auto;
}
.md-datepicker-pos-adjusted .md-datepicker-input-mask,
.md-datepicker-input-mask {
    display: none;
}
.md-autocomplete-suggestions-container.md-default-theme,
.md-autocomplete-suggestions-container {
    background-color: #fff;
}
md-dialog button.md-primary.md-button.md-default-theme.md-ink-ripple:last-child {
    background-color: #06C !important;
    color: #FFF !important;
}
md-dialog button.md-primary.md-button.md-default-theme.md-ink-ripple {
    color: #ADADAD !important;
}

.md-autocomplete-suggestions-container.md-default-theme li:hover,
.md-autocomplete-suggestions-container li:hover,
.md-autocomplete-suggestions-container.md-default-theme li.selected,
.md-autocomplete-suggestions-container li.selected {
    background-color: #06c;
    color: #fff;
}
.md-autocomplete-suggestions-container.md-default-theme li:hover .highlight,
.md-autocomplete-suggestions-container li:hover .highlight {
    color: #fff;
    font-weight: bold;
}
.mdCancelBtn {
    display: none !important;
}
md-switch{
	display: inline-block;
    margin:0;
    position: relative;
}
md-switch .md-container {
    /*left: 40px;*/
    top: 10px;
    margin: 0;
}
md-switch .md-label{
    position: absolute;
    bottom: 15px;
    left: 5px;
    /*left: 32px;*/
        
}
md-switch.md-switch-profile .md-bar{
	background-color: red;
}
md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb{
    background-color: #fff;
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar{
    background-color: #58b820;
}

md-switch.md-default-theme .md-bar, md-switch .md-bar{
    background-color: #A9A9A9;
}

md-switch[disabled] .md-container .md-bar{
	background-color: #A9A9A9;
}

md-switch[disabled] .md-thumb:before{
	background-color: #fff;
}

md-switch .md-bar{
    width: 65x;
    top: 0;
    height: 24px;
    border-radius: 24px;
    position: absolute;
}
md-switch .md-thumb{
    left: 2px;
}
md-switch.md-checked .md-thumb{
    left: 0;
}
/*select box css*/
md-select{
    margin:0;
    height: 30px;
    margin-top: -2px;
}
.add-profile md-select{
    height: auto;
}
.md-select-value{
    font-size: 14px;
    color: #4A4A4A;
    border: 1px solid #e2e3e4;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    padding: 0 0 0 10px;
    background-color: #fff;
}
.add-profile .md-select-value{
    border-radius: 15px;
    border: 1px solid #959595;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    width: 100%;
    height: 100%;   
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}
md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder{
    color: #333333;
    padding-left: 10px;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, 
md-select:not([disabled]):focus .md-select-value,md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value{
	border: 1px solid #e2e3e4;	
}
md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value{
    background-image: none;
    background-color: #EFF0F1;
    color: #A0A0A0;
}
.add-profile md-select.md-default-theme:not([disabled]):focus .md-select-value, 
.add-profile md-select:not([disabled]):focus .md-select-value{
	border: 1px solid #959595;
}
.md-select-value .md-select-icon{
    height: 7px;
    width: 11px;
    background-repeat: no-repeat;
    background-image: url(../img/icons-1x-s8cb07e05db.png);
    background-position: 0 -15px;
    margin: 0 10px;
}
.md-select-value .md-select-icon:after{
    display: none;
}
md-option:hover{
    background-color: #06c !important;
}
md-option{
    height: 35px;
    color: #4A4A4A;
}
md-select-menu.md-default-theme md-option[selected]:hover, md-select-menu md-option[selected]:hover,md-option:hover{
    color: #fff !important;
}
md-select-menu:not(.md-overflow) md-content{
    padding: 0;
}
md-select-menu md-content{
    border: 1px solid #06c;
}
md-option .md-text{
	font-size: 14px;
	/*TODO : Check the height*/
	line-height: 35px;
}
md-select[disabled] .md-select-value{
    margin-bottom: 0;
}
md-select-menu.md-default-theme md-option:focus:not([disabled]):not([selected]), md-select-menu md-option:focus:not([disabled]):not([selected]){
    background-color: transparent;
    color: #4A4A4A;
}
.device_state md-switch .md-thumb-container{
	width: 25px !important;
}
.device_state md-switch .md-thumb{
	height: 25px !important;
	width: 25px !important;
}
.device_state md-switch .md-bar {
    width: 50px !important;
    height: 30px !important;
}
.padding-left-50 md-switch .md-thumb-container{
	width: 25px !important;
}
.padding-left-50 md-switch .md-thumb{
	height: 25px !important;
	width: 25px !important;
}
.padding-left-50 md-switch .md-bar {
    width: 50px !important;
    height: 30px !important;
}
.md-scroll-mask{
	display : none;
}
.md-calendar-scroll-container{
	width: 315px;
}
md-dialog-actions button.md-button.md-default-theme.md-primary:hover:first-child + button.md-button.md-default-theme.md-primary:last-child, .btn-cancel:hover + .btn-save {
    border: 1px solid #06c;
    background-color: #fff;
    color: #ADADAD;
}
md-dialog-actions button.md-button.md-default-theme.md-primary:hover:first-child,.btn-cancel:hover {
   border: 1px solid #eceeef;
    background-color: #06C;
    color: #fff;
}
md-dialog-actions button.md-button.md-default-theme.md-primary:last-child {
    border: 1px solid #eceeef;
    background-color: #06C;
    color: #fff;
}

md-dialog-actions button.md-button.md-default-theme.md-primary:first-child {
    border: 1px solid #06c ;
    background-color: #fff;
    color: #ADADAD ;
}
md-dialog-actions button.md-button.md-default-theme.md-primary{
  	font-weight: 500;
    padding: 0 20px;
    height: 40px !important;
    font-size: 15px;
  	border-radius: 20px
}