/***** FONT *****/
body {
    font-family: 'Helvetica';
}

.border-left {
    border-left: 1px solid #ABABAB;
}

.border-top-0 {
    border-top: 0 !important;
}

.font-size-0 {
    font-size: 0;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}
.font-size-20 {
    font-size: 20px !important;
}

.font-size-24 {
	font-size: 24px !important;
}

.color-333333 {
    color: #333333;
}

.color-666666 {
    color: #666666;
}

.color-blue-link {
	color: #183875;
}

/***** FONT *****/


/***** PADDING *****/

.padding-0 {
    padding: 0 !important;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-10 {
    padding: 10px !important;
}



.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-3 {
    padding-top: 3px; 

}

.padding-top-10 {
    padding-top: 10px; 
}

.padding-top-12 {
    padding-top: 12px; 
}

.padding-top-15 {
    padding-top: 15px; 
}

.padding-top-20 {

    padding-top: 20px; 
}

.padding-top-30 {
    padding-top: 30px; ;
}

.padding-bottom-5 {
    padding-bottom: 5px; ;
}

.padding-bottom-15 {
    padding-bottom: 15px; 
}

.padding-bottom-20 {
    padding-bottom: 20px; 
}

.padding-bottom-30 {
    padding-bottom: 30px; ;
}
.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-40 {
    padding-left: 40px !important;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-right-0 {
    padding-right: 0; ;
}


.padding-left-0 {
    padding-left: 0 !important; 
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}


.padding-left-20 {
    padding-left: 20px; 
}

.padding-left-25 {
    padding-left: 25px; 
}

.padding-left-30 {
    padding-left: 30px; 
}




.padding-right-10 {
    padding-right: 10px; 
}

.padding-right-15 {
    padding-right: 15px; 
}

.padding-right-20 {
    padding-right: 20px; 
}

.padding-right-250 {
    padding-right: 250px; ;
}

/***** PADDING *****/

/***** MARGIN *****/

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}


.margin-top-20 {
    margin-top: 20px;

}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}



.margin-right-5 {
    margin-right: 5px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-80 {
    margin-right: 80px;
}

.margin-left-15 {
    margin-left:15px !important;
}

/***** MARGIN *****/

.cursor-pointer {
	cursor: pointer;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-clear {
	clear: both;
}

.height-20 {
	height: 20px;
}

.height-33 {
	height: 33px;
}

.height-40 {
	height: 40px !important;
}

.max-height-none {
	max-height: none;
}

.border-none {
	border: none;
}

.btn-border-blue {
	border: 1px solid #06c;
}

.width-100p {
	width: 100% !important;
}

.width-20 {
	width: 20px !important;
}

.width-63 {
	width: 63px !important;
}

.width-55 {
    width: 55px !important;
}

.width-95 {
	width: 95px !important;
}

.width-140 {
	width: 140px !important;
}

.width-3 {
    width: 3% !important;
}

.width-10 {
    width: 10% !important;
}

.width-11 {
    width: 11% !important;
}

.width-12 {
    width: 12% !important;
}

.width-15 {
    width: 15% !important;
}

.width-21 {
    width: 21% !important;
}

.width-25 {
    width: 25% !important;
}

.width-520 {
	width: 520px !important;
}
input:disabled {
    background: #E6E6E6 !important;
}
a{
	cursor: pointer;
	outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}