/***** FONT *****/
body {
    font-family: 'Helvetica';
}

.border-left {
    border-left: 1px solid #ABABAB;
}
.border-top-0 {
    border-top: 0 !important;
}

.font-size-0 {
    font-size: 0;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-24 {
	font-size: 24px !important;
}

.color-333333 {
    color: #333333;
}

.color-666666 {
    color: #666666;
}

.color-blue-link {
	color: #183875;
}

/***** FONT *****/

/***** PADDING *****/
.padding-0 {
    padding: 0 !important;
}

.padding-top-5 {
	padding-top: 5px;
}
.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-3 {
    padding-top: 3px; 
}

.padding-top-10 {
    padding-top: 10px; 
}

.padding-top-12 {
    padding-top: 12px; 
}

.padding-top-15 {
    padding-top: 15px; 
}

.padding-top-20 {
    padding-top: 20px; 
}

.padding-bottom-15 {
    padding-bottom: 15px; 
}

.padding-bottom-20 {
    padding-bottom: 20px; 
}

.padding-top-30 {
    padding-top: 30px; ;
}

.padding-bottom-5 {
    padding-bottom: 5px; ;
}

.padding-bottom-30 {
    padding-bottom: 30px; ;
}

.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-0 {
    padding-left: 0 !important; 
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px; 
}
.padding-left-40 {
    padding-left: 40px !important; ;
}

.padding-left-50 {
    padding-left: 50px !important; ;
}

.padding-right-0 {
    padding-right: 0; ;
}


.padding-left-25 {
    padding-left: 25px; 
}

.padding-left-30 {
    padding-left: 30px; 
}

.padding-right-10 {
    padding-right: 10px; 
}

.padding-right-15 {
    padding-right: 15px; 
}

.padding-right-20 {
    padding-right: 20px; 
}

.padding-right-250 {
    padding-right: 250px; ;
}

/***** PADDING *****/

/***** MARGIN *****/

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}
.margin-right-5 {
    margin-right: 5px;
}

.margin-right-20 {
    margin-right: 20px;
}

/***** MARGIN *****/

popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 0px;
  left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: /* TIP_HEIGHT= */ 0px solid white;
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 80px;
  left: 320px;
  transform: translate(-50%, -100%);
  /* Style the info window. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  width: 320px;
  height: 280px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}

.svgchart {
  background: #f0fff0;
  width: 200px;
  height: 75px;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
  padding: 20px 20px 20px 0;
}

.popup-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 120%;	
  font-weight: bolder;
}

.popup-warning {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;	
  color: #f1575a;
}

.svggrid {
  stroke: #F1575A;
  stroke-dasharray: 0;
  stroke-width: 1;
}
