/*productDetails.html*/

.big-tabs>div>.active {
    background-color: #06c;
    color: #fff;
}

.big-tabs>div>.active .sprite--map {
    /*background-image: url('../sensor/app/assets/images/icons-1x-s8cb07e05db.png');*/
    /*background-image: url('../images/icons-1x-s8cb07e05db.png');*/
    background-image: url('../img/icons-1x-s8cb07e05db.png');
    background-position: -75px -15px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 15px;
    width: 19px;
    display: inline-block;
	background-size: auto;
}


/*productDetails.html*/


/* product-alert.html*/

.product-alerts .alerts__tabs .big-tabs {
    position: relative;
    top: 0;
    right: 0;
}

.alerts-container .product-alerts {
    padding-top: 20px;
}

.alerts-container .product-alerts .alerts__alert {
    padding-top: 0;
    margin-top: 20px;
}


/* product-alert.html*/


/*product-data.html*/

.charts .charts__actions .charts__tabs .big-tabs {
    position: relative;
    top: 0;
    right: 0;
}


/*product-data.html*/


/*dashboard.html*/

.big-tabs>div>.active {
    background-color: #06c;
    color: #fff;
}

.big-tabs>div>.active>.big-tabs__icon>.big-tabs__icon-alert {
    background-color: #fff;
    /*color: #F1575A;*/
}

.big-tabs>div>.active>.big-tabs__icon>.big-tabs__icon-alert-text {
    /*background-color: #fff;*/
    /*color: #06c;*/
    color: #F7515A;
}


/*Data Tab*/

.big-tabs>div>.active>.big-tabs__icon>.sprite--data {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    /*background-position: -34px -15px;*/
    background-position: -19px -15px;
    height: 10px;
}


/*dashboard.html*/

.big-tabs>div>.active .sprite--map {
    /*background-image: url('../sensor/app/assets/images/icons-1x-s8cb07e05db.png');*/
    /*background-image: url('../images/icons-1x-s8cb07e05db.png');*/
    background-image: url('../img/icons-1x-s8cb07e05db.png');
    background-position: -75px -15px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 15px;
    width: 19px;
    display: inline-block;
	background-size: auto;
}


/*dashboard-alert.html*/

.dashboard-alerts .alerts__tabs .big-tabs {
    position: relative;
    top: 0;
    right: 0;
}

.alerts-container .dashboard-alerts .alerts__alert {
    padding-top: 0;
    margin-top: 20px;
}


/*dashboard-alert.html*/
.md-sidenav-left, md-sidenav{
	background-color: #0083BB !important;
	top: 60px;
}
