multiselect {
    display:block; 
    outline:none; 
    border:none;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 236px;
    box-sizing: border-box;
    padding:0px;
}
multiselect .dropdown-menu > li > a {
    padding:7px 10px;
    cursor:pointer;
}

.input-text-dropdown {
    position: relative;
    height: 50px;
    line-height: 30px;    
}
.select-new {
	font-size: 14px;
    color: rgb(74, 74, 74);
    width:236px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    /*border-color: rgb(226, 227, 228);*/
    border-color: #959595;
    border-image: initial;
    overflow: hidden;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;}
    
.caret2 { 
    height: 7px;
    width: 11px;
    border: 0px;
    background-repeat: no-repeat;
    background-image: url(../img/icons-1x-s8cb07e05db.png) !important;
    background-position: 0 -15px !important;
    margin: 6px 11px 0 0;
    float: right;
}

.btn-link,.btn-link:active,.btn-link[disabled] {
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.btn-link {
	border-color:transparent;
	cursor:pointer;
	color:#0066CC;
}
.btn-link:hover,.btn-link:focus {
	color:#005580;
	text-decoration:underline;
	background-color:transparent;
}
.btn-link[disabled]:hover,.btn-link[disabled]:focus {
	color:#333333;
	text-decoration:none;
}
[class^="icon-"],[class*=" icon-"] {
	display:inline-block;
	width:14px;
	height:14px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../img/glyphicons-halflings.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
	margin-top:1px;
}
.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],
.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],
.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],
.dropdown-menu>li>a:focus>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],
.dropdown-menu>li>a:focus>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],
.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],
.dropdown-submenu:focus>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"],
.dropdown-submenu:focus>a>[class*=" icon-"] {
	background-image:url("../img/glyphicons-halflings-white.png");
}
.icon-ok {
	background-position:-288px 0;
}
.icon-remove {
	background-position:-312px 0;
}

.dropdown-menu {
	font-size:14px;
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	list-style:none;
	background-color:#ffffff;
	border:1px solid #ccc;
	border:1px solid rgba(0, 0, 0, 0.2);
	*border-right-width:2px;*border-bottom-width:2px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:0;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
}
.dropdown-menu.pull-right {
	right:0;
	left:auto;
}

.dropdown-menu>li>a {
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:normal;
	line-height:20px;
	color: #4A4A4A;
	white-space:nowrap;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
	text-decoration:none;
	color:#ffffff;
	background-color:#0066CC;
}
.open {
	*z-index:1000;
}
.open>.dropdown-menu {
    display: block;
    margin:-50px 0 0 0 !important;
    height:250px;
    /*width:50%;*/
    overflow:auto;
    border:1px solid #06c;
	font-size:14px;
}
.btn-small {
	padding:2px 10px;
	font-size:12.9px;
}
.pull-left {
	float:left !important;
}
.outline-none {
	outline: none !important;
}