#rootContainer .header__menu > a {
    outline: 0;
}
.content-holder .big-tabs {
    position: absolute;
    right: 10px;
    z-index: 50;
    top: 10px;
    border: none;
}
.pointer {
    cursor: pointer;
}
.map-container .map-info .tabs {
    background-color: #fff;
}
.map-info__info-item {
    width: inherit;
}
.map-container>.map-container-ui-view {
    min-height: 100%;
    height: 100%;
}
.details .details__detail .details__detail-value {
    word-wrap: break-word;
}
.map-info .map-info__title {
    text-overflow: ellipsis;
    overflow: hidden;
}
.map-info .map-info-nearest-location {
    width: 120px;
    display: inline-block;
}
.map-info .map-info-nearest-location .nearest-location {
    display: inline-block;
}
.side-menu__row>.product>.product__info {
    outline: 0;
}
.dashboard__alignment {
    margin-left: -360px
}
.wrap-text {
    word-wrap: break-word
}
/* Product Tab Alerts */

.alert-item-header {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    
    font-size: 16px;
    font-weight: 300;
    /*color: #06C;*/
    
    color: #F7515A;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.alerts__alert-item--header:first-child:before {
    top: 50%;
}
.alerts__alert-item--header:before {
    top: 0;
}
.alerts__alert-item:before {
    left: 23px;
    width: 2px;
    background-color: #ECEEEF;
}
.alerts .alerts__alert {
    /*box-shadow: 0 1px 7px lightgrey;*/
}
.alerts__alert-item .alerts-notification-msg {
    font-style: italic;
    font-size: 12px;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
.alerts__alert-item--red:after {
    background-color: #F7515A;
}
.alerts__alert-item--green:after {
    background-color: #58B820;
}
.alerts__alert-item--yellow:after {
    background-color: #F7BA2A;
}
.big-tabs__icon-alert {
    background-color: #F7515A;
}
/* Product Tab Alerts */
/* Dashboard Tab Alerts */

.alerts-container .dashboard-alerts .no-alerts-found {
    height: 350px;
    position: relative;
}
.alerts-container .dashboard-alerts .no-alerts-found div {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150px;
    height: 30px;
}
/* Dashboard Tab Alerts */
}
.btn--action-new {
    margin-right: 50px !important;
}
.btn--cancel-new {
    margin-right: 50px !important;
    background-color: #06C;
    color: #fff;
}
/** common styles **/

.padding-top-5 {
    padding-top: 5px;
}
.charts__chart {
    width: 100%;
    /*height: 159px;*/
    
    height: 400px;
}
.charts {
    width: 100%;
}
.charts .filter:last-child {
    float: left;
}
.padding-left-10 {
    padding-left: 10px;
}
.text_bold {
    font-weight: bold !important;
}
.outline-0 {
    outline: 0;
}
.margin-right-30 {
    margin-right: 30px;
}
/** commom styles **/

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin: 0 auto;
    width: 350px;
    text-align: center;
}
/*.product_add_msg {
    padding-bottom: 0px !important;
}*/

.alert_success {
    padding: 10px;
    background-color: #19A432;
    color: white;
    margin: 0 auto;
    width: 400px;
}
#logoutContainer {
    top: 60px;
}
#logoutContainer .content-holder {
    top: 0;
}
#help-tab {
    cursor: pointer;
}
.side-menu .side-menu__row .product {
    border-right: 4px solid transparent;
}
.selectedProduct {
    /* background-color: aliceblue; */
    /*background-color: #F3F3F3;*/
    
    border-right: 4px solid #06C !important;
}
.alert_timestamp {
    padding-bottom: 8px;
}
.bottom-table {
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 38%;
    right: 370%;
}
.settings_btn {
    background-color: rgba(158, 158, 158, 0.6)!important;
    border-radius: 15px!important;
}
.settings_btn:hover,
.settings_btn:focus {
    background-color: rgba(158, 158, 158, 0.6);
    text-decoration: none;
}
.logout_btn {
    font-family: Lato!important;
}
.btn--add {
    background-image: url("../img/icons-1x-s8cb07e05db.png");
    background-position: -19px 3px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 18px;
    overflow: hidden;
    width: 15px;
    bottom: 3px;
}

.table__add__new {   
    position: absolute;
    right: 16px;
    top: 8px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #eceeef;
    border-radius: 20px;
    color: #fff;
    background-color: #06c;
}
.table__add__new .table__add-text {
    padding-left: 0;
}
.table {
    width: 787px;
    position: relative;
}
.table--new {
    margin-bottom: 30px;
}
.table__filter__new {
    margin-top: 60px !important;
}
.alerts__alert-item__new {
    border-top: 1px solid #eceeef !important;
    border-bottom: 0px solid #eceeef !important;
}
/****** products.html ******/

.selected-sortby-filter {
    background-color: #06C;
    color: #fff;
}
.product .product__info .product__updated .product__updated-1 {
    width: 200px;
}
/****** products.html ******/
/****** dashboard.html ******/

.dashboard-shipment-filter {
    background-color: #EFF0F1;
    color: #A0A0A0;
}
/*hide the dropdown icon*/

.dashboard-shipment-filter:after {
    background: transparent;
}
/****** dashboard.html ******/

.header--with-nav .header__logo {
    outline: 0;
    cursor: pointer;
}
.validationError {
    color: red;
    position: relative;
    bottom: 4px;
    left: 12px;
    font-size: 14px;
    margin: 0 0 10px 0;
}
.btn--arrow {
    display: inline-block;
    cursor: pointer;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #06c;
}
.btn--arrow-rotate {
    transform: rotate(180deg);
}
.select-horizontal .btn--arrow {
    bottom: 45px;
    position: relative;
}
.input-textarea {
    margin-bottom: 20px;
    height: 120px;
}
.select-multiple {
    border-radius: 15px;
    height: 110px;
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 500;
    width: 100%;
    padding-left: 5px;
    border: 1px solid #e2e3e4;
}
.select-horizontal {
    width: 100% !important;
}
.select-horizontal .select-multiple {
    width: 45%;
}
.select-horizontal .input-text {
    display: inline-block;
    position: relative;
    bottom: 14px;
}
.btn--goback {
    position: fixed;
    left: 10px;
    top: 70px;
    margin: 0;
}
.btn--goback span {
    /*background-image: url(../img/back.png);*/
    
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.disabled {
    background-color: #EFF0F1;
    color: #A0A0A0;
}
.full-width {
    width: 100%;
}
.width-260 {
    width: 260px !important;
}
.width-100x {
    width: 100px !important;
}
.input--container-80 {
    margin: 20px auto 0 auto;
    width: 80%;
}
.input--container-100 {
    margin: 20px auto 0 auto;
    width: 100%;
}

.table__addbtn {
    position: absolute;
    right: 16px;
    top: 5px;
}
.text-center {
    text-align: center
}
input[type='checkbox'] + label {
    width: 15px;
    height: 15px;
    border: 1px solid #e2e3e4;
    display: inline-block;
    background-color: #fff;
}
input[type='checkbox'] {
    display: none;
}
input[type='checkbox']:checked + label {
    background-image: url('../img/checkmark.png');
    background-size: 100%;
}
/*.long-form{
        border: 1px solid #e4e4e4;
        padding: 20px 0 10px 20px
}*/
/* DivTable.com */

.divTable {
    display: table;
    width: 100%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
.divTableRow {
    display: table-row;
}
.divTableBody .divTableRow:nth-child(even),
.divTableBody .divTableRow:nth-child(even) input {
    /*background-color: #F8F8F8;*/
    /*background-color: #F6F8FA;*/
}
.activedivTableCell {
    border-bottom: 1px solid #eceeef;
    display: table-cell;
    padding: 8px 10px;
    color: #373a3c;
    font-size: 14px;
    font-weight: normal;
    background-color: #d2d6d8;
}
.activedivTableCell a {
    color: #0266cb;
    text-decoration: none;
    cursor: pointer;
    background-color: #d2d6d8;
}
.activedivTableCell a:hover {
    color: #373a3c;
    text-decoration: none;
    background-color: #d2d6d8;
}
.divTableCell {
    border-bottom: 1px solid #eceeef;
    display: table-cell;
    padding: 7px 10px;
    color: #373a3c;
    font-size: 14px;
    font-weight: normal;
}
.divTableCell a {
    color: #0266cb;
    text-decoration: none;
    cursor: pointer;
}
.divTableCell a:nth-child(1) img {
    height: 17px;
}
/*.divTableCell a:nth-child(2) img{
	height: 16px;
	background-color: #373a3c;
}*/

.divTableCell a:hover {
    color: #373a3c;
    text-decoration: none;
}
.divTableHead {
    background-color: #EEE;
    display: table-header-group;
    font-size: 20px !important;
}
.divTableHead .divTableCell {
    font-weight: 700;
    padding: 8px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    /*background-color: #EEE;*/
    
    background-color: #FFF;
    /*display: table-footer-group;*/
    
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.long-form__header {
    padding: 15px 0 15px 10px;
    font-weight: 400;
    /*background-color: #FAFAFA;*/
}
.content-new {
    top: 60px;
}
.table--new--large {
    margin-bottom: 30px;
}
.table--new--large input[type='text'] {
    height: 30px;
}
.notAvailable {
    border: 1px solid #eceeef;
    padding: 7px 10px;
}
.settings-textarea-height {
    height: 100px;
}
.content--with-side-menu.side-menu__row--filter-select input {
    height: 30px;
}
.bg-color-disabled {
    background: #E6E6E6 !important;
}
.display-inline-block {
    display: inline-block;
}
.big-tabs__tab:hover,
.tabs .tabs__tab:hover {
    color: #fff;
}
#rootContainer .header .header__menu a {
    letter-spacing: 1px;
}
.deviceid-text-height {
    height: 10px !important;
}
#logoutContainer .content .md-button {
    border-radius: 20px;
    text-transform: none;
    width: 96px;
}
.divTableRow .divTableCell .btn--delete {
    width: 14px;
    height: 14px;
    /*margin-left: 10px*/
}
.divTableRow .divTableCell .btn--delete .btn__icon {
    height: 20px;
}
.alerts-container .alerts {
    width: 900px;
}
.organization .divTableRow .divTableCell:nth-last-child(1),
.profile-list .divTableRow .divTableCell:nth-last-child(1) {
    width: 100px;
}
.btn--delete--new,
.btn--edit--new,
.btn--email--new,
.btn--login--new,
.btn--locatenow {
    height: 16px;
    width: 16px;
    background-size: 100%;
    display: inline-block;
    background-repeat: no-repeat;
}
.btn--delete--new {
    background-image: url(../img/delete.png);
}
.btn--edit--new {
    background-image: url(../img/edit.png);
}
.btn--email--new {
    background-image: url(../img/email.png);
    height: 13px;
}
.btn--login--new {
    background-image: url(../img/login.png);
}
.btn--locatenow {
    background-image: url(../img/locatenow.png);
    height: 13px;
}
.product-header__title,
.sensor-header__title {
    font-weight: 400;
}
.btn--cancel:hover {
    background-color: #06c;
    color: #FFF;
}
.btn--action:disabled,.form-button:disabled,.btn-cancel:hover + .btn-save.form-button:disabled{
    background-color: #E6E6E6;
    border: none;
    color: #fff;
}
.btn--cancel {
    border: 1px solid #06c;
}
/* .product__title,.tabs__text{
	color: #0266cb;
} */

.add-user .long-form,
.modify-user .long-form,
.add-org .long-form,
.modify-org .long-form,
.add-device .long-form,
.modify-device .long-form {
    margin: 0 38%;
}
.hline {
    width: 35%;
    text-align: center;
    border-bottom: 1px solid #58B820;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #58B820;
}
.htext {
    background: #F6F8FA !important;
    padding: 0 10px;
    font-size: 18px;
    color: #58B820;
    position: relative;
    top: 2px;
}
.shipment-edit {
    position: absolute;
    right: 36px;
    bottom: 15px;
}
.shipment-edit a {
    margin-right: 4px;
}
body {
    -moz-user-select: auto;
    -ms-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}
.alerts__noAlert .alerts__alert-item--header{
	color: #4A4A4A;
}
.big-form__error{
    font-weight: bold;
    text-shadow: 0 0 0px #F1575A;
}
.product__flag--flagged,.product__flag,.map-info__flag--flagged,.map-info__flag{
    background-image: url(../img/icons-1x-s8cb07e05db.png);
    outline: 0;
}
.map-info__flag{
     background-position: -20px -47px;
}
.map-info__flag--flagged{
	 background-position: 0px -48px;
}
.table--user .divTableCell,.table--org .divTableCell{
    max-width: 150px;
}
.divTableCell-email{
    max-width: 215px;
}
.device-timewidth {
    width: 20% !important;
}
.divTableCell-group {
	/* word-break: break-word !important; */
    max-width: 160px;
}
.md-popup-width {
	width:600px !important; 
	padding:5px;
}
ul.pop-list {
	float:left;
	width:100%;
	padding:0;
	margin:0 10px;
}
ul.pop-list li  { 
	color: #000;
    list-style-position: inside;
    list-style-type: disc;
    margin: 5px 0 0;
    padding: 0 22px 4px;
    background-position: 0 0;
}  
.popup-note-content {
	padding-top:10px;
	width:100%;
	float:left;
}
ul.popup-note-content li{
	list-style: square;
	color:#000;
}
.left-20 {
	left: 20px !important;
}
.left-60 {
	left: 60px !important;
}
.alert-item-header-black{
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bottom-button {
	width:100%;
	float:left;
	text-align: center;
	position: absolute;
	bottom: 5%;
}
.device_state {
	margin-left: 18px !important;
}
.input-text__input_width {
	padding:5px 10px;
}
.audit_table{
	width: 1100px;
    margin: 0 auto;
}
.audit_table_user{
	width: 150px;
}
.audit_table_entity{
	width: 140px;
}
.audit_table_desc{
	width: 540px;
}
.audit_table_date{
	width: 170px;
}
.audit_table_action{
	width: 100px;
}
.add_alertgroup_user{
	width:50%;
	float:left; 
	padding-bottom:10px;
}
.audit_search_width{
	width: 250px;
}
.side-menu__row .filter {
    padding: 10px 0 10px 20px;
}
.side-menu__row .filter:last-child {
    padding-top:0;
}
.md-fileupload-width {
	width: 627px;
    height: 287px;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #000000;
}
.browse_upload_width {
	padding:0px 10px;
}
.deviceType_error_msg {
	float: right;
    position: relative;
    right: 0;
    top: -20px;
}
.big-form__success {
	font-weight: bold;
    text-shadow: 0 0 0px #4F8A10;
    min-height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #4F8A10;
}
.file_upload_width {
	width: 260px;
	/*border: 1px solid #e2e3e4;
    border-radius: 15px;*/
}
.dashboard_bottompanel_width  {
	width: 614px !important;
}
.help_popup_left {
	left: 230px;
}
.organization_width {
	width: 787px !important;
}
.sensor__threshold-editor{
	padding: 10px;
}
.form-button{
	font-weight: 500;
    padding: 0 20px;
    height: 40px !important;
    font-size: 15px;
    border-radius: 20px;
}
.btn-cancel{
	border: 1px solid #06c;
    background-color: #fff;
    color: #ADADAD;
}
.btn-save{
	border: 1px solid #eceeef;
	background-color: #06C;
    color: #fff;   
}
.sensor__threshold-editor-text-segment{
	    color: rgba(0,0,0,.87);
}
.long-form .input-text.width-auto{
	width: auto;
}
.long-form{
	width: 580px;
}