body,
button,
html,
input {
    padding: 0;
    margin: 0
}

a img,
button,
input {
    border: none
}

.content,
.content-holder,
.root {
    position: absolute;
    left: 0
}

footer,
header  {
	display: -block
}
article,
aside,
body,
details,
figcaption,
figure,
hgroup,
main,
menu,
nav,
section,
summary {
    display: inline-block
}

.content,
.content-holder,
.input-text .btn,
.root {
    bottom: 0;
    right: 0
}

.sidenav-place-holder  {
  /*display: inline-block*/
  height: 100%;
}
.btn,
.filter__tab,
.table__add {
    cursor: pointer
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1;
    background: #fff
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

.select__value:after,
.sensor__threshold-range--above:before,
.sensor__threshold-range--below:after,
.sensor__threshold-range--between:after,
.sensor__threshold-range--between:before {
    content: ""
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Hairline.eot?1481322910);
    src: url(fonts/Lato/Lato-Hairline.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Hairline.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Hairline.ttf?1481322910) format('truetype');
    font-weight: 100
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Thin.eot?1481322910);
    src: url(fonts/Lato/Lato-Thin.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Thin.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Thin.ttf?1481322910) format('truetype');
    font-weight: 200
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Light.eot?1481322910);
    src: url(fonts/Lato/Lato-Light.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Light.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Light.ttf?1481322910) format('truetype');
    font-weight: 300
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.eot?1481322910);
    src: url(fonts/Lato/Lato-Regular.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Regular.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Regular.ttf?1481322910) format('truetype');
    font-weight: 400
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Medium.eot?1481322910);
    src: url(fonts/Lato/Lato-Medium.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Medium.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Medium.ttf?1481322910) format('truetype');
    font-weight: 500
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Semibold.eot?1481322910);
    src: url(fonts/Lato/Lato-Semibold.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Semibold.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Semibold.ttf?1481322910) format('truetype');
    font-weight: 600
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Bold.eot?1481322910);
    src: url(fonts/Lato/Lato-Bold.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Bold.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Bold.ttf?1481322910) format('truetype');
    font-weight: 700
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Heavy.eot?1481322910);
    src: url(fonts/Lato/Lato-Heavy.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Heavy.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Heavy.ttf?1481322910) format('truetype');
    font-weight: 800
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Black.eot?1481322910);
    src: url(fonts/Lato/Lato-Black.eot?&1481322910#iefix) format('embedded-opentype'), url(fonts/Lato/Lato-Black.woff?1481322910) format('woff'), url(fonts/Lato/Lato-Black.ttf?1481322910) format('truetype');
    font-weight: 900
}

* {
    box-sizing: border-box
}

body,
button,
html,
input,
select,
textarea {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none
}

button:focus,
input:focus {
    outline: 0
}

button {
    background: 0 0
}

.input-text,
.input-textarea,
.select__value {
    background-color: #fff
}

.root {
    top: 0
}

.content-holder {
    top: 60px;
    overflow: auto;
	left:140px;
}

.content {
    top: 0
}

.input-text {
    position: relative;
    height: 30px;
    line-height: 30px;
    overflow: hidden
}

.input-text__input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid #e2e3e4;
    display: block;
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 500
}


/*.input-text__input:active,
.input-text__input:focus {
    border-color: #F1575A
}*/


/*updates from Clearform: 6 feb*/

.input-text__input:active,
.input-text__input:focus,
.input-textarea__input:active,
.input-textarea__input:focus {
    border-color: #06C;
}

.input-text .btn--go,
.btn--action {
    background-color: #06C;
}

.input-text--stacked .input-text__input {
    border-radius: 0;
    border-bottom: 0
}

.input-text--stacked .input-text__input:active,
.input-text--stacked .input-text__input:focus {
    border-color: #e2e3e4
}

.input-text--stacked:first-child .input-text__input {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
}

.input-text--stacked:last-child .input-text__input {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #e2e3e4
}

.input-text--with-btn .input-text__input {
    padding: 0 40px 0 10px
}

.input-text--big {
    height: 40px
}

.input-text--big .input-text__input {
    border-radius: 20px;
    padding: 0 15px
}

.input-text--inline {
    display: inline-block;
    vertical-align: middle
}

.input-text--inline .input-text__input {
    width: auto
}

.input-text--narrow .input-text__input {
    width: 50px
}

.input-text .btn {
    position: absolute;
    top: 0;
    border-left: 1px solid #e2e3e4;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

.input-textarea,
.select,
.select__value {
    position: relative
}

.input-textarea {
    height: 140px
}

.input-textarea__input {
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    line-height: 18px;
    border-radius: 15px;
    border: 1px solid #e2e3e4;
    display: block;
    font-size: 14px;
    color: #4A4A4A;
    resize: none
}

.input-textarea__input:active,
.input-textarea__input:focus {
    border-color: #06c;
    outline: 0
}

.select__value {
    font-size: 14px;
    color: #4A4A4A;
    border: 1px solid #e2e3e4;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 35px
}

.btn--filter,
.btn--search {
    background-color: #e2e3e4;
    border-radius: 15px
}

.select__value:after {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: 0 -15px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 7px;
    width: 11px;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto 0
}

.btn--with-icon-and-text .sprite,
.select--inline {
    display: inline-block;
    vertical-align: middle
}

.btn__icon,
.select__input {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .select__value:after {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: 0 -15px;
        height: 7px;
        width: 11px
    }
}*/

.select__input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%
}

.btn {
    position: relative
}

.btn__icon {
    position: absolute;
    margin: auto
}

.btn--with-icon-and-text .sprite {
    margin-right: 5px
}

.btn--close .btn__icon,
.btn--delete .btn__icon,
.btn--edit .btn__icon,
.btn--filter .btn__icon,
.btn--search .btn__icon {
    background-repeat: no-repeat;
    overflow: hidden;
    display: block
}

.btn--search {
    width: 30px;
    height: 30px
}

.btn--search .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -49px -15px;
    height: 13px;
    width: 13px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--search .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -49px -15px;
        height: 13px;
        width: 13px
    }
}*/

.btn--filter {
    width: 30px;
    height: 30px
}

.btn--filter .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -64px -111px;
    height: 15px;
    width: 14px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--filter .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -64px -111px;
        height: 15px;
        width: 14px
    }
}*/

.btn--delete {
    border: 1px solid #CCC;
    width: 30px;
    height: 30px;
    border-radius: 15px
}

.btn--delete .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -24px -62px;
    height: 16px;
    width: 14px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--delete .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -24px -62px;
        height: 16px;
        width: 14px
    }
}*/

.btn--close,
.btn--close .btn__icon {
    height: 22px;
    width: 22px
}

.btn--close .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -80px -30px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--close .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -80px -30px;
        height: 22px;
        width: 22px
    }
}*/

.btn--edit,
.btn--edit .btn__icon {
    height: 32px;
    width: 32px
}

.btn--edit .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -32px -111px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--edit .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -32px -111px;
        height: 32px;
        width: 32px
    }
}*/

.btn--back {
    width: 20px;
    height: 20px;
    border-radius: 10px
}

.btn--back .btn__icon,
.btn--back--white .btn__icon {
    height: 12px;
    width: 8px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block
}

.btn--back .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -11px -15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--back .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -11px -15px;
        height: 12px;
        width: 8px
    }
}*/

.btn--back--white {
    background-color: #fff;
    border: 1px solid #CCC
}

.btn--back--white .btn__icon {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: 0 -30px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .btn--back--white .btn__icon {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: 0 -30px;
        height: 12px;
        width: 8px
    }
}*/

.btn--back--grey {
    background-color: #9B9B9B
}

.btn--back--green {
    background-color: #58B820
}

.btn--back--yellow {
    background-color: #F7BA2A
}

.btn--action,
.btn--back--red,
.btn--go {
    background-color: #06c
}

.btn--go {
    color: #fff;
    padding: 0 10px;
    font-weight: 500;
    font-size: 14px
}

.btn--action,
.btn--action-secondary,
.btn--action-tertiary,
.btn--cancel {
    padding: 0 20px;
    font-weight: 500
}

.btn--action {
    height: 40px;
    font-size: 15px;
    border: 1px solid #eceeef;
    border-radius: 20px;
    color: #fff
}

.btn--action:disabled {
    background-color: transparent;
    color: #9B9B9B
}

.btn--action.btn--small {
    height: 30px;
    border-radius: 15px;
    font-size: 14px
}

.btn--action-secondary {
    height: 40px;
    font-size: 15px;
    border: 1px solid #9B9B9B;
    border-radius: 20px;
    background-color: #fff;
    color: #9B9B9B
}

.btn--action-secondary.btn--small {
    height: 30px;
    border-radius: 15px;
    font-size: 14px
}

.btn--action-tertiary {
    height: 40px;
    font-size: 15px;
    border: 1px solid #9B9B9B;
    border-radius: 20px;
    color: #9B9B9B
}

.btn--action-tertiary.btn--small {
    height: 30px;
    border-radius: 15px;
    font-size: 14px
}

.btn--cancel {
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #ADADAD
}

.btn--cancel.btn--small {
    height: 30px;
    border-radius: 15px;
    font-size: 14px
}

.actions {
    overflow: hidden
}

.actions__left {
    float: left
}

.actions__right {
    float: right
}

.sprite--account {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -40px -30px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 20px;
    width: 20px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--account {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -40px -30px;
        height: 20px;
        width: 20px
    }
}*/

.sprite--product-id,
.sprite--sensor-profile {
    height: 17px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block
}

.sprite--product-id {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -53px -62px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--product-id {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -53px -62px;
        height: 17px;
        width: 15px
    }
}*/

.sprite--sensor-profile {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -68px -62px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--sensor-profile {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -68px -62px;
        height: 17px;
        width: 15px
    }
}*/

.sprite--shipping-from {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -78px -111px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 16px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--shipping-from {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -78px -111px;
        height: 16px;
        width: 15px
    }
}*/

.sprite--shipping-to {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -38px -62px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 17px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--shipping-to {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -38px -62px;
        height: 17px;
        width: 15px
    }
}*/

.sprite--code,
.sprite--location,
.sprite--map {
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 15px
}

.sprite--location {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -19px 0;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--location {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -19px 0;
        height: 15px;
        width: 15px
    }
}*/

.sprite--code {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -34px 0;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--code {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -34px 0;
        height: 15px;
        width: 15px
    }
}*/

.sprite--map {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -75px -15px;
    width: 19px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--map {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -75px -15px;
        height: 15px;
        width: 19px
    }
}*/

.sprite--data,
.sprite--star-tab {
    width: 15px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden
}

.sprite--data {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -34px -15px;
    height: 10px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--data {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -34px -15px;
        height: 10px;
        width: 15px
    }
}*/

.sprite--star-tab {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -94px 0;
    height: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--star-tab {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -94px 0;
        height: 15px;
        width: 15px
    }
}*/

.sprite--help {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: 0 -62px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 24px;
    width: 24px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--help {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: 0 -62px;
        height: 24px;
        width: 24px
    }
}*/

.sprite--description {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -49px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 15px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--description {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -49px 0;
        height: 15px;
        width: 15px
    }
}*/

.sprite--add {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: 0 -111px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 32px;
    width: 32px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sprite--add {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: 0 -111px;
        height: 32px;
        width: 32px
    }
}*/

.big-form {
    padding-top: 125px;
    width: 496px;
    margin: 0 auto
}

.big-form__header,
.big-form__row {
    text-align: center
}

.big-form__input-label,
.big-form__input-text {
    width: 315px;
    margin: 0 auto
}

.big-form__row {
    padding-bottom: 20px
}

.big-form__header {
    font-size: 24px;
    padding: 0 0 30px;
    color: #373A3C;
    font-weight: 300
}

.big-form__input-label {
    font-size: 14px;
    color: #373A3C;
    line-height: 24px;
    text-align: left;
    padding-left: 15px
}

.big-form__error {
    min-height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #F1575A
}

.big-form__msg {
    margin: 0;
    padding: 91px 0;
    font-size: 24px;
    font-weight: 300;
    color: #373A3C
}

.big-form a {
    font-size: 12px;
    color: #4A4A4A;
    font-style: italic;
    text-decoration: none
}

.long-form {
    width: 552px;
    margin: 0 auto
}

.long-form__header {
    padding-top: 10px;
    padding-bottom: 32px;
    font-size: 24px;
    font-weight: 300;
    color: #373A3C;
}

.filter__label,
.filter__tab {
    line-height: 30px;
    font-weight: 500;
    font-size: 14px
}

.long-form__section {
    padding: 0 20px
}

.long-form__section-title {
    position: relative;
    padding-bottom: 7px
}

.long-form__section-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px
}

.long-form__section-icon .sprite {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0
}

.long-form__section-header {
    padding-left: 10px
}

.long-form__section-header .btn {
    margin-left: 5px
}

.long-form__actions {
    padding: 40px 20px 0;
    overflow: hidden
}

.long-form__actions .btn {
    margin-right: 5px
}

.long-form__actions .btn--delete {
    margin-top: 5px;
    margin-right: 0;
    float: right;
    padding: 6px;
}

.filter__btn,
.filter__input-text,
.filter__label,
.filter__select,
.filter__tabs,
.sensor__threshold-lower {
    float: left
}

.long-form .input-text,
.long-form .input-text-stack,
.long-form .select {
    width: 236px;
    margin-bottom: 20px
}

.long-form .input-text-stack .input-text {
    margin-bottom: 0
}

.filter {
    overflow: hidden
}

.filter__label {
    width: 56px;
    color: #ADADAD
}

.filter__btn {
    margin-left: 10px
}

.product__flag,
.product__status {
    margin: auto 0;
    position: absolute
}

.filter__tabs {
    overflow: hidden;
    border: 1px solid #eceeef;
    border-radius: 15px
}

.filter__tab {
    height: 30px;
    padding: 0 15px;
    float: left;
    background-color: #fff;
    color: #373A3C;
    border-right: 1px solid #eceeef
}

.product__title,
.sensor-profile {
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.filter__tab:last-child {
    border-right: none
}

.filter__tab--active,
.filter__tab:active,
.filter__tab:hover {
    background: #06C;
}

.filter__tab--active .sprite--star-tab,
.filter__tab:active .sprite--star-tab,
.filter__tab:hover .sprite--star-tab {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -79px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 15px;
    width: 15px;
    display: inline-block
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .filter__tab--active .sprite--star-tab,
    .filter__tab:active .sprite--star-tab,
    .filter__tab:hover .sprite--star-tab {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -79px 0;
        height: 15px;
        width: 15px
    }
}*/

.filter__tab--disabled {
    color: #9B9B9B
}

.filter__tab--disabled:active,
.filter__tab--disabled:hover {
    background-color: #fff;
    color: #9B9B9B
}

.filter__tab .sprite {
    display: inline-block;
    vertical-align: middle
}

.product {
    position: relative
}

.product__status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 20px
}

.product__status--green {
    background-color: #58B820
}

.product__status--yellow {
    background-color: #F7BA2A
}

.product__status--red {
    background-color: #F1575A
}

.product__info {
    padding-right: 55px;
    padding-left: 50px
}

.product__title {
    font-size: 14px;
    color: #373A3C;
    overflow: hidden
}

.product__updated {
    font-size: 12px;
    color: #8F8F8F;
    font-style: italic
}

.product__updated-1 {
    display: inline-block;
    width: 250px
}

.product__flag,
.product__flag--flagged {
    height: 15px;
    width: 15px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat
}

.product__flag {
    top: 0;
    bottom: 0;
    right: 20px;
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -94px -15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .product__flag {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -94px -15px;
        height: 15px;
        width: 15px
    }
}*/

.product__flag--flagged {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -64px 0
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .product__flag--flagged {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -64px 0;
        height: 15px;
        width: 15px
    }
}*/

.sensor-profile {
    font-size: 14px;
    color: #373A3C;
    overflow: hidden
}

.sensor-container {
    min-height: 100%;
    background-color: #F6F8FA
}

.sensor {
    margin: 0 auto;
    padding: 5px
}

.sensor__add {
    padding-top: 10px;
    text-align: center
}

.sensor__add--empty {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto
}

.sensor__threshold {
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #eceeef
}

.sensor__threshold-header {
    font-size: 24px;
    font-weight: 300;
    color: #373A3C;
    padding: 20px 20px 0
}

.sensor__threshold-graph-container {
    padding: 14px 20px
}

.sensor__threshold-graph {
    height: 5px;
    position: relative;
    background-color: #58B820;
    border-radius: 3px
}

.sensor__threshold-range {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F1575A
}

.sensor__threshold-range:after,
.sensor__threshold-range:before {
    border: 1px solid #fff;
    width: 7px;
    position: absolute;
    top: -8px;
    bottom: -8px;
    background-color: #F1575A
}

.sensor__threshold-range:before {
    left: 0
}

.sensor__threshold-range:after {
    right: 0
}

.sensor__threshold-range--edit:after,
.sensor__threshold-range--edit:before {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -8px -30px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 32px;
    width: 12px;
    top: -14px;
    bottom: -14px;
    border: none;
    background-color: transparent
}

.big-tabs,
.table__add {
    border: 1px solid #eceeef
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .sensor__threshold-range--edit:after,
    .sensor__threshold-range--edit:before {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -8px -30px;
        height: 32px;
        width: 12px
    }
}*/

.big-tabs__icon,
.big-tabs__tab {
    height: 52px
}

.sensor__threshold-limits {
    padding: 0 20px 12px;
    overflow: hidden
}

.sensor__threshold-lower,
.sensor__threshold-upper {
    font-style: italic;
    font-size: 12px;
    color: #373A3C
}

.sensor__threshold-upper {
    float: right
}

.sensor__threshold-rule {
    padding: 15px 20px;
    border-top: 1px solid #eceeef;
    overflow: hidden
}

.sensor__threshold-rule-text {
    float: left;
    width: 90%;
    font-size: 14px;
    color: #737576
}

.sensor__threshold-rule-var {
    font-weight: 500;
    color: #373A3C;
    line-height: 32px
}

.sensor__threshold-rule-action {
    float: right
}

.big-tabs__icon,
.big-tabs__text,
.column,
.tabs__icon,
.tabs__text {
    float: left
}

.sensor__threshold-rule-action .btn {
    vertical-align: top
}

.sensor__threshold-editor {
    padding: 20px;
    border-top: 1px solid #eceeef
}

.sensor__threshold-editor-text {
    width: 384px;
    padding-bottom: 20px
}

.sensor__threshold-editor-text-segment {
    line-height: 40px;
    font-size: 14px;
    color: #737576
}

.big-tabs__icon,
.big-tabs__tab,
.big-tabs__text {
    line-height: 52px
}

.sensor__threshold-editor-text .input-text,
.sensor__threshold-editor-text .select,
.sensor__threshold-editor-text-segment {
    margin: 0 2px
}

.sensor__threshold-editor-message {
    width: 384px;
    padding-bottom: 30px
}

.sensor__threshold-editor-message-label {
    padding: 0 0 10px 10px;
    font-size: 14px;
    color: #373A3C
}

.big-tabs__tab:last-child,
.tabs__tab:last-child {
    border-right: none
}

.tabs__icon,
.tabs__tab,
.tabs__text {
    line-height: 42px
}

.tabs__icon,
.tabs__tab {
    height: 42px
}

.big-tabs,
.tabs {
    overflow: hidden
}

.big-tabs__tab,
.tabs__tab {
    padding: 0 20px;
    float: left;
    color: #373A3C;
    font-weight: 500;
    font-size: 15px;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px solid #eceeef
}

.big-tabs__tab--active,
.big-tabs__tab:focus,
.big-tabs__tab:hover,
.tabs__tab--active,
.tabs__tab:focus,
.tabs__tab:hover {
    background-color: #06C;
}

.big-tabs__tab--active .big-tabs__icon-alert,
.big-tabs__tab--active .tabs__icon-alert,
.big-tabs__tab:focus .big-tabs__icon-alert,
.big-tabs__tab:focus .tabs__icon-alert,
.big-tabs__tab:hover .big-tabs__icon-alert,
.big-tabs__tab:hover .tabs__icon-alert,
.tabs__tab--active .big-tabs__icon-alert,
.tabs__tab--active .tabs__icon-alert,
.tabs__tab:focus .big-tabs__icon-alert,
.tabs__tab:focus .tabs__icon-alert,
.tabs__tab:hover .big-tabs__icon-alert,
.tabs__tab:hover .tabs__icon-alert {
    background-color: #fff
}

.big-tabs__tab--active .big-tabs__icon-alert-text,
.big-tabs__tab--active .tabs__icon-alert-text,
.big-tabs__tab:focus .big-tabs__icon-alert-text,
.big-tabs__tab:focus .tabs__icon-alert-text,
.big-tabs__tab:hover .big-tabs__icon-alert-text,
.big-tabs__tab:hover .tabs__icon-alert-text,
.tabs__tab--active .big-tabs__icon-alert-text,
.tabs__tab--active .tabs__icon-alert-text,
.tabs__tab:focus .big-tabs__icon-alert-text,
.tabs__tab:focus .tabs__icon-alert-text,
.tabs__tab:hover .big-tabs__icon-alert-text,
.tabs__tab:hover .tabs__icon-alert-text {
    color: #06c
}

.big-tabs__tab--active .sprite--map,
.big-tabs__tab:focus .sprite--map,
.big-tabs__tab:hover .sprite--map,
.tabs__tab--active .sprite--map,
.tabs__tab:focus .sprite--map,
.tabs__tab:hover .sprite--map {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 15px;
    width: 19px;
    display: inline-block
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .big-tabs__tab--active .sprite--map,
    .big-tabs__tab:focus .sprite--map,
    .big-tabs__tab:hover .sprite--map,
    .tabs__tab--active .sprite--map,
    .tabs__tab:focus .sprite--map,
    .tabs__tab:hover .sprite--map {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: 0 0;
        height: 15px;
        width: 19px
    }
}*/

.big-tabs__tab--active .sprite--data,
.big-tabs__tab:focus .sprite--data,
.big-tabs__tab:hover .sprite--data,
.tabs__tab--active .sprite--data,
.tabs__tab:focus .sprite--data,
.tabs__tab:hover .sprite--data {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -19px -15px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 10px;
    width: 15px;
    display: inline-block
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .big-tabs__tab--active .sprite--data,
    .big-tabs__tab:focus .sprite--data,
    .big-tabs__tab:hover .sprite--data,
    .tabs__tab--active .sprite--data,
    .tabs__tab:focus .sprite--data,
    .tabs__tab:hover .sprite--data {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -19px -15px;
        height: 10px;
        width: 15px
    }
}*/

.big-tabs__icon,
.tabs__icon {
    position: relative
}

.big-tabs__icon .sprite,
.tabs__icon .sprite {
    vertical-align: middle;
    display: inline-block
}

.big-tabs__icon .sprite--data,
.tabs__icon .sprite--data {
    vertical-align: baseline
}

.big-tabs__icon-alert,
.tabs__icon-alert {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #06c;
    border-radius: 8px
}

.big-tabs__icon-alert-text,
.tabs__icon-alert-text {
    width: 16px;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    position: relative;
    color: #fff
}

.alerts__tabs,
.charts__tabs {
    text-align: right
}

.big-tabs__text,
.tabs__text {
    padding-left: 10px
}

.columns {
    overflow: hidden
}

.column {
    width: 50%
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8)
}

.modal {
    width: 492px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 285px;
    left: 0;
    right: 0;
    background-color: #fff
}

.modal__title {
    font-size: 24px;
    font-weight: 300;
    color: #373A3C
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px
}

.modal__description {
    font-size: 14px;
    color: #373A3C;
    padding: 20px 0
}

.modal__input-label {
    font-size: 14px;
    color: #373A3C;
    padding: 0 0 6px 15px
}

.modal__input {
    padding-bottom: 20px;
    width: 250px
}

.modal__actions {
    overflow: hidden
}

.modal__error {
    color: #F1575A;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    float: right;
    line-height: 30px
}

.modal .columns {
    padding: 20px 0
}

.modal .column {
    padding: 0 10px
}

.modal .column:first-child {
    padding-left: 0
}

.modal .column:last-child {
    padding-right: 0
}

.table {
    width: 664px;
    margin: 0 auto
}

.table__add {
    border-top: none;
    height: 50px;
    padding: 0 22px
}

.table__add .sprite,
.table__add .table__add-text {
    display: inline-block;
    vertical-align: middle
}

.alerts .big-tabs,
.charts .big-tabs {
    vertical-align: top;
    display: inline-block
}

.table__add .table__add-text {
    padding-left: 5px
}

.table__filter {
    height: 60px;
    padding: 15px 10px;
    margin-top: 20px;
    border: 1px solid #eceeef;
    overflow: hidden;
    background-color: #FAFAFA
}

.table__result-info {
    height: 46px;
    padding-left: 20px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 300
}

.table__result-info-prefix {
    font-weight: 500
}

.table__row {
    border-bottom: 1px solid #eceeef
}

.table__row .product {
    padding: 10px 0
}

.table__row .alert-list-item,
.table__row .sensor-profile {
    padding: 10px 20px
}

.table .filter {
    float: left;
    padding: 0 10px
}

.table .filter__select {
    width: 250px
}

.table .filter__input-text,
.table .filter__select--full-width {
    width: 506px
}

.table .filter:last-child {
    float: right
}

.table .filter:first-child {
    float: left
}

.table__pagination {
    padding-bottom: 20px
}

.table__pagination-details {
    font-size: 12px;
    font-style: italic;
    color: #4A4A4A;
    padding: 40px 15px 15px
}

.table__pagination-nav {
    overflow: hidden
}

.table__pagination-nav .filter {
    padding: 0
}

.alerts-container {
    min-height: 100%;
    background-color: #F6F8FA
}

.alerts {
    width: 624px;
    margin: 0 auto;
    padding: 20px
}

.alerts__filter {
    margin-top: 20px;
    overflow: hidden
}

.alerts__alert {
    padding-top: 20px
}

.alerts__alert-item {
    padding: 16px 46px;
    margin-bottom: 1px;
    position: relative;
    background-color: #FCFDFF;
    color: #4A4A4A;
    border: 1px solid #eceeef
}

.alerts__alert-item:after,
.alerts__alert-item:before {
    position: absolute;
    content: ""
}

.alerts__alert-item:before {
    top: -2px;
    bottom: -1px;
    left: 24px;
    width: 1px;
    background-color: #ADADAD
}

.alerts__alert-item:after {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: 19px;
    border-radius: 5px
}

.alerts__alert-item--header {
    padding-top: 24px;
    padding-bottom: 14px;
    background-color: #fff;
    border-color: #fff
}

.header,
.header--without-nav,
.side-menu__row {
    border-bottom: 1px solid #eceeef
}

.alerts__alert-item--header:before {
    top: 50%
}

.alerts__alert-item:last-child:before {
    bottom: 50%
}

.alerts__alert-item--red:after {
    background-color: #06c
}

.alerts__alert-item--red .alerts__alert-status {
    color: #06c
}

.alerts__alert-item--green:after {
    background-color: #58B820
}

.alerts__alert-header-title {
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: 300
}

.alerts__alert-status {
    font-size: 12px;
    font-style: italic
}

.alerts .filter {
    float: left;
    padding: 0 10px
}

.alerts .filter__select {
    width: 250px
}

.alerts .filter__input-text {
    width: 506px
}

.alerts .filter:first-child {
    padding-left: 0
}

.alerts .filter:last-child {
    float: right;
    padding-right: 0
}

.alert-list-item__header {
    font-size: 14px;
    color: #373A3C;
    line-height: 18px
}

.alert-list-item__details {
    font-size: 12px;
    color: #4A4A4A;
    line-height: 20px;
    font-style: italic
}

.alert-list-item__details--open {
    color: #06c
}

.alert-container {
    min-height: 100%;
    background-color: #F6F8FA
}

.alert {
    margin: 0 auto;
    padding: 20px
}

.alert__alert {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #eceeef
}

.alert__alert-header {
    font-size: 24px;
    color: #373A3C;
    font-weight: 300;
    padding-bottom: 5px
}

.alert__alert-detail {
    font-size: 12px;
    color: #4A4A4A;
    font-style: italic;
    line-height: 20px
}

.header__logo,
.header__menu a {
   /* line-height: 60px; */
}

.charts-container {
    min-height: 100%;
    background-color: #F6F8FA
}

.charts {
    width: 624px;
    margin: 0 auto;
    padding: 20px
}

.charts__actions .btn {
    margin-top: 12px;
    float: left
}

.charts__filter {
    margin-top: 20px;
    overflow: hidden
}

.charts .filter {
    float: left;
    padding: 0 10px
}

.charts .filter__select {
    width: 210px
}

.charts .filter__label {
    width: auto;
    padding-right: 5px
}

.charts .filter__input-text {
    width: 506px
}

.charts .filter:first-child {
    padding-left: 0
}

.charts .filter:last-child {
    float: right;
    padding-right: 0
}

.charts__chart {
    margin-top: 20px;
    padding: 18px;
    box-shadow: 0 0 6px 0 rgba(176, 208, 227, .17);
    background-color: #fff;
    /*        width:624px;
    height: 159px;*/
}

.charts__chart-title {
    padding-bottom: 14px;
    font-size: 24px;
    font-weight: 300;
    color: #373A3C
}

.charts__chart-subtitle {
    font-size: 12px;
    font-style: italic
}

.header {
    height: 60px
}

.header__logo-img {
    background-image: url(../img/rfXcel-logo.png);
    /* background-position: 0 -86px; */
    background-repeat: no-repeat;
    overflow: hidden;
    height: 40px;

    width: 86px;
    display: inline-block;
    vertical-align: text-bottom
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .header__logo-img {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: 0 -86px;
        height: 25px;
        width: 113px
    }
}*/

.header__title {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: #4A4A4A
}

.header__menu {
    float: right;
    padding: 0 20px
}

.header__menu a {
    color: #010202;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    display: block;
    position: relative;
    font-size: 13px;
    letter-spacing: 2px;
}

.header__menu a.active::after,
.header__menu a:focus::after,
.header__menu a:hover::after {
    content: "";
    height: 3px;
    background-color: #06C;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px
}

.header__menu a .sprite {
    display: inline-block;
    vertical-align: middle
}

.header--without-nav {
    text-align: center
}

.header--with-nav .header__logo {
    padding-left: 22px;
    float: left
}

.side-menu {
    width: 240px;
    position: absolute;
    top: 0;
    bottom: 0;
    /*left: 153px;*/
    overflow: auto;
    border-right: 1px solid #eceeef;
	padding: 0 10px; 
	display: inline;
	float:left;
}
.side-menu.wide {
	width: 360px;
}

.side-menu__row {
    overflow: hidden
}

.side-menu__row--filter-select,
.side-menu__row--filter-text {
    background-color: rgba(247, 247, 247, .5)
}

.side-menu__row--details {
    border-bottom: none
}

.side-menu__row--button {
    text-align: center;
    padding: 20px 0;
    border-bottom: none
}

.side-menu__row .product {
    padding: 10px 0
}

.side-menu__row .product-header,
.side-menu__row .sensor-header {
    height: 52px
}

.side-menu__row .filter {
    padding: 15px 20px
}

.side-menu__row .filter__input-text,
.side-menu__row .filter__select {
    width: 222px
}

.product-header,
.sensor-header {
    position: relative
}

.product-header__back,
.sensor-header__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto 0
}

.product-header__title,
.sensor-header__title {
    /*padding-right: 55px;
    padding-left: 52px;
	*/
    font-size: 24px;
    color: #373A3C;
    line-height: 52px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.product-header__flag,
.sensor-header__flag {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -94px -15px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 15px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .product-header__flag,
    .sensor-header__flag {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -94px -15px;
        height: 15px;
        width: 15px
    }
}*/

.product-header__flag--flagged,
.sensor-header__flag--flagged {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -64px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 15px;
    width: 15px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .product-header__flag--flagged,
    .sensor-header__flag--flagged {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -64px 0;
        height: 15px;
        width: 15px
    }
}*/

.details__row {
    padding-top: 16px;
    position: relative;
    overflow: hidden
}

.details__row:last-child {
    padding-bottom: 16px
}

.details__icon {
    float: left;
   /* width: 50px; */
    min-height: 1px;
    text-align: center;
	margin-right: 10px;
}

.details__icon .sprite {
    display: inline-block
}

.details__detail {
    float: left;
    width: 308px;
	padding-bottom:4px;
}

.details__actions {
   /* padding: 0 40px 0 50px */
}

.details__detail-attr {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #4A4A4A
}

.details__detail-value {
    font-size: 14px;
    color: #373A3C;
    line-height: 18px
}

.details__detail-input {
    padding: 4px 40px 0 0
}

.content--with-side-menu {
  left: 240px ;
}
.content--with-side-menu.wide {
  left: 360px ;
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative
}

.map-container .big-tabs {
    position: absolute;
    top: 20px;
    right: 20px
}

.map-container .map-info {
    position: absolute;
    bottom: 0;
    left: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.map-container .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc
}

.map-info {
    width: 564px;
    height: 200px;
    background-color: #fff;
    position: relative
}

.map-info__flag,
.map-info__flag--flagged {
    background-repeat: no-repeat;
    width: 20px;
    overflow: hidden;
    display: block
}

.map-info__title {
    font-size: 24px;
    color: #373A3C;
    font-weight: 300;
    padding: 20px 60px 0 20px
}

.map-info__flag {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: auto 0;
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -60px -30px;
    height: 20px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .map-info__flag {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -60px -30px;
        height: 20px;
        width: 20px
    }
}*/

.map-info__flag--flagged {
    background-image: url(../img/icons-1x-s0e6f524d83.png);
    background-position: -20px -30px;
    height: 19px
}

/*@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dppx) {
    .map-info__flag--flagged {
        background-image: url(../img/icons-2x-sf2176c8e8c.png);
        background-size: 113px 143px;
        background-position: -20px -30px;
        height: 19px;
        width: 20px
    }
}*/

.map-info__info {
    /*height: 114px; */
    padding: 8px 0 8px;
    overflow: hidden
}

.map-info__info-item {
    width: 140px;
    padding: 0 20px;
    float: left
}

.map-info__info-item-name {
    font-size: 11px;
    font-style: italic;
    color: #4A4A4A
}

.map-info__info-item-value {
    padding-top: 15px;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    color: #4A4A4A;
    overflow: hidden;
    text-overflow: ellipsis
}

.map-info__info-item-value--big {
    padding-top: 5px;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    font-weight: 300
}

.map-info__info-item-value--red {
    color: #F1575A
}

.settings {
    padding-top: 100px;
    text-align: center;
    color: #373A3C
}

.settings__signed-in {
    font-size: 14px;
    padding-bottom: 12px
}

.settings__name {
    font-size: 24px;
    padding-bottom: 7px;
    font-weight: 300
}

.settings__role {
    font-size: 14px;
    padding-bottom: 28px;
    color: #9B9B9B
}

.settings .btn {
    display: block;
    margin: 0 auto 34px
}

.settings .btn--help {
    color: #373A3C
}

.settings .btn .sprite {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

md-content.layout-padding.flex{
	/*width:100%;
	height:93% !important;
	*/
	height:91%
}

md-backdrop{top:0px;height: 0px !important;}
md-sidenav{
	width:140px  !important; 
    clear: both;
}
md-backdrop.md-sidenav-backdrop{z-index: -1 !important;}

ul.nav-list{float:left;padding:0;width:100%; text-align:left;background-color: #0083BB !important;color:#FFFFFF}
ul.nav-list li{color:#010202; display:block; list-style-position:inside; list-style-type:none;margin:0; /* padding:0 3px 20px 0px; */font-size:13px; line-height:18px;text-transform: uppercase;}
ul.nav-list li a{padding:15px 6px 15px 15px !important; color:#FFF; text-decoration:none;display:block;}
ul.nav-list li a:hover{color:#fff; background:#2bb5f2;}
ul.nav-list li a.active{
	background: #319a69;
	}
.layout-margin{margin:0;}
.header__title{
	/*margin-top: -3px !important;*/
	}
.header--with-nav .header__logo{
	/*padding-top:8px !important; */
	position:relative;}
.header-menu {float: right;position: absolute;right: -36px;z-index: 1; top: 12px;}
i.material-icons, i.material-icons a, i.material-icons:focus, i.material-icons:hover{ outline:none !important; border:0px !important;}
button:focus {outline:0;}
*:focus {outline:none !important}
.btn:focus {
  outline: none;
}

a, i{outline : none;}

.md-sidenav-left, md-sidenav{
	background-color: #0083BB !important;
	top: 60px;
}








div.flex {
    height: 100%;
	overflow:hidden;
}
div.details {
float: left;
    display: inline;
	width:100%;
}
html  {
	overflow:hidden;
}
