<div class="content-holder">
    <div class="content">
    	<div class="big-form__error text-center"> {{message}} </div>
        <div class="audit_table">
            <div class="table__filter table__filter__new" ng-show="fetchESData">
                <div class="filter">
                    <div class="filter__label">Search</div>
                    <div class="filter__select audit_search_width">
                       <input id="auditId" type="text" class="input-text__input input-text__input_width" ng-model="deviceLog" ng-enter="getAuditLogs()">
                    </div>
                    <div class="filter">
	                    <button class="filter__btn btn btn--search" id="searchAuditLog" ng-click="getAuditLogs()">
	                        <div class="btn__icon"></div>
	                    </button>
	                </div>
                </div>
            </div>
            <div class="table__filter__new" ng-hide="fetchESData">              
            </div>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell audit_table_user">User</div>
                        <div class="divTableCell audit_table_entity">Entity Name</div>
                        <div class="divTableCell audit_table_desc">Audit Logs</div>
                        <div class="divTableCell audit_table_date">Time</div>
                        <div class="divTableCell audit_table_action">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="audit in auditLogs">
                        <div class="divTableCell">{{audit.userName}}</div> 
                        <div class="divTableCell">{{audit.entityType}}</div>   
                        <div class="divTableCell">{{audit.description}}</div>
                        <div class="divTableCell">{{audit.createdOn |  date:'yyyy-MM-dd HH:mm:ss'}}</div>
                        <div class="divTableCell">{{audit.action}}</div>   
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="noLogsFound!=''">{{noLogsFound}}</div>
        </div>
    </div>
</div>