<form name="createpasswordFrom" ng-submit="createPassword()" role="createpasswordFrom" method="get">
    <div class="root">
        <header class="header header--without-nav">
            <div class="header__logo">
                <div class="header__logo-img"></div>
                <div class="header__title">{{appTitle}}</div>
            </div>
        </header>
        
        <div class="content-holder">
            <div class="content">
                <div class="big-form">
                    <h1 class="big-form__header">Create New  Password</h1>
                    <div class="big-form__row">
                        <div class="big-form__input-label">login Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : {{ loginId }}</div>
						<div class="big-form__input-label">User Name : {{ username }}  </div>
						
                       
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Password</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" type="password" name="password" id="password" ng-model="password" required> </div>
                            <p ng-if="createpasswordFrom.password.$dirty && createpasswordFrom.password.$error.required" class="big-form__error">Password is required</p>
                        </div>
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Confirm password</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" type="password" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" required> </div>
                            <p ng-if="createpasswordFrom.confirmpassword.$dirty && createpasswordFrom.confirmpassword.$error.required" class="big-form__error">Confirm Password is required</p>
                        </div>
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__error">
                            <!-- error message goes here -->
                        </div>
                    </div>
                    <div class="big-form__row">
                       <button class="btn btn--action" ng-disabled="createpasswordFrom.$invalid || dataLoading">Submit</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>