<!-- <link rel="stylesheet" href="app/assets/css/common/nav-tab.css"> -->

<div class="content-holder">
    <!-- <div class="side-menu">
        <div class="side-menu__row side-menu__row--filter-select">
            <div class="filter">
                <div class="filter__label">View</div>
                <div class="filter__select select">
                	<md-select ng-model="selectedItemType" ng-change="shipmentSelectionChange(selectedItemType.typeId)">
                        <md-option ng-value="shipment" ng-repeat="shipment in shipmentTypeArr | filter: shipmentType">{{shipment.type}}</md-option>
                    </md-select>
                </div>
                <div ng-show="fetchESData">
                	<button ng-class="btnSearchEnable ? 'filter__btn btn btn--filter' : 'filter__btn btn btn--search'" ng-click="showHideSearchAction(btnSearchEnable)">
	                	<div class="btn__icon"></div>
	                </button>
                </div>
            </div>
            <div class="filter" ng-show="btnSearchEnable">
            	<div class="filter__label">Search</div>
               	<div class="filter__select audit_search_width">
                      	<input id="shipmentId" type="text" class="input-text__input input-text__input_width" ng-model="shipment" ng-enter="loadActiveShipmentsSearch(selectedItemType)">
                  </div>
                  <div>
					<button class="filter__btn btn btn--search" id="searchshipmentId" ng-click="loadActiveShipmentsSearch(selectedItemType)">
						<div class="btn__icon"></div>
					</button>
               </div>
            </div>
        </div>
        <div class="side-menu__row side-menu__row--product" ng-repeat="shipment in activeShipmentsArr">
            <div ng-attr-id="{{'dashboard_' + $index}}" class="product outline-0" ng-class="{selectedProduct: selectedProductIndex == $index}" ng-click="showMapMarkerPath($index, shipment.productId)">
                <div ng-class="shipment.pairStatus == 0 ? 'product__status product__status--green' : shipment.pairStatus == 1 ? 'product__status product__status--yellow' : 'product__status product__status--red'"></div>
                <div class="product__info">
                    <h1 class="product__title pointer">{{shipment.productId + "-" + shipment.packageId}}</h1>
                    <h4 class="product__updated">{{updatedTimeArr[$index]}}</h4>
                </div>
                <div class="shipment-edit" ng-if="selectedItemType.typeId == 1">
	                        <a ng-attr-id="{{'locatenow_' + $index}}" ng-click="locateNow(shipment.deviceId);$event.stopPropagation();" class="btn--locatenow" title="Locate Now"></a>
	                        <a ng-attr-id="{{'edit_' + $index}}" ng-click="modifyProduct(shipment);$event.stopPropagation();" class="btn--edit--new" title="Edit"></a>
	                        <a ng-attr-id="{{'disassociate_' + $index}}" class="btn--delete--new" ng-hide="" ng-click="disassociate(shipment.deviceId,shipment.packageId);$event.stopPropagation();" title="disassociate"></a>
                </div>
                <div ng-attr-id="{{'favorite_' + $index}}" ng-class="shipment.isfavorite == 0 ? 'product__flag pointer' : 'product__flag product__flag--flagged pointer'" ng-click="onFavoriteSelect(shipment,shipment.isfavorite == 0 ? 1 : 0);$event.stopPropagation();"></div>
            </div>
        </div>
        <p class="product" ng-if="!activeShipmentsArr.length && fetchESData">{{noShipmentFound}}</p>
    </div> -->

    <div class="big-tabs" ng-show="isShowMapAlertsBtn">
        <div ng-include="'app/view/partials/mapDataBtn.html'"></div>
    </div>

    <div class="content">
        <div class="map-container">
            <div ui-view class="map-container-ui-view"></div>
        </div>
    </div>
</div>