<!-- <link rel="stylesheet" href="app/assets/css/common/nav-tab.css"> -->
<div class="content content--with-side-menu">
	<div class="big-form__error"> {{message}} </div>
    <div class="alerts-container dashboard__alignment">
        <div class="alerts dashboard-alerts">
            <div class="alerts__tabs">
                <div class="big-tabs">
                    <div ng-include="'app/view/partials/mapDataBtn.html'"></div>
                </div>
            </div>
            <div class="alerts__filter" ng-show="fetchESData || alertDeviceLogSearch">
                <div class="filter float-left">
                    <div class="filter__label">Search</div>
                    <div class="filter__select select">
						<input id="alertSearchId" type="text" class="input-text__input input-text__input_width" ng-model="alert" ng-enter="getAlerts()">
                    </div>
                    <div class="filter">
	                    <button class="filter__btn btn btn--search" ng-click="getAlerts()">
	                        <div class="btn__icon"></div>
	                    </button>
	                </div>
                </div>
                <!--<div class="filter">
                    <div class="filter__label">Sort by</div>
                    <div class="filter__tabs">
                        <div class="filter__tab" ng-click="isSelectedAlertSortBy = true" ng-class="{'selected-sortby-filter': isSelectedAlertSortBy}"> Age </div>
                        <div class="filter__tab" ng-click="isSelectedAlertSortBy = false" ng-class="{'selected-sortby-filter': !isSelectedAlertSortBy}"> Type </div>
                    </div>
                </div>
                <div class="filter">
                    <button class="filter__btn btn btn--search">
                        <div class="btn__icon"></div>
                    </button>
                </div>-->
            </div>
			 <div class="alerts__alert alerts__noAlert" ng-if="(!isShowAlerts && (fetchESData || alertDeviceLogSearch))">
					<div class="alerts__alert-item alerts__alert-item--header alerts__alert-item--green alert-item-header" ng-show="fetchESData || alertDeviceLogSearch">{{noAlertsFound}}</div>
			 </div>
			 <div class="alerts__alert alerts__noAlert" ng-if="(!isShowAlerts && (!fetchESData || !alertDeviceLogSearch))">
	                <div class="alerts__alert-item alerts__alert-item--header alerts__alert-item--green alert-item-header" ng-hide="fetchESData || alertDeviceLogSearch">No alert found</div>
             </div>
			<div class="alerts__alert" ng-repeat="deviceNotification in notificationList" ng-if="isShowAlerts">
                <div class="alerts__alert-item alerts__alert-item--header font-size-24" ng-class="deviceNotification.state == 0 ? 'alerts__alert-item--green' : deviceNotification.state == 1 ? 'alerts__alert-item--yellow' : deviceNotification.state == 2 ? 'alerts__alert-item--red' : ''"><span ng-class="deviceNotification.state == 0 ? 'alert-item-header-black' : deviceNotification.state == 1 ? 'alert-item-header-black' : deviceNotification.state == 2 ? 'alert-item-header' : ''"> {{deviceNotification.productId + "-" + deviceNotification.packageId + "-" + deviceNotification.deviceId}} </span></div>
                <div class="alerts__alert-item alerts__alert-item--header" ng-class="{'alerts__alert-item--green': notification.state==0,'alerts__alert-item--yellow': notification.state==1,'alerts__alert-item--red': notification.state==2}" ng-repeat="notification in deviceNotification.notifications">
                    <div class="alerts-notification-msg alert_timestamp" id="alerts-msg-{{$parent.$index}}-{{$index}}"> {{notification.notification}} </div>
                    <div class="product__updated" id="created-time-{{$parent.$index}}-{{$index}}"> created at {{notification.createdOn}} </div>
                </div>
            </div>
        </div>
    </div>
</div>