<div class="content-holder">
    <div class="content">
    	<div class="big-form__error text-center"> {{message}} </div>
        <div class="table">
            <div class="table__filter table__filter__new" ng-show="fetchESData || alertDeviceLogSearch">
                <div class="filter">
                    <div class="filter__label">Search</div>
                    <div class="filter__select">
                       <input id="deviceLogId" type="text" class="input-text__input input-text__input_width" ng-model="deviceLog" ng-enter="getDeviceLogs(deviceLog)">
                    </div>
                    <div class="filter">
	                    <button class="filter__btn btn btn--search" id="searchDeviceLog" ng-click="getDeviceLogs(deviceLog)">
	                        <div class="btn__icon"></div>
	                    </button>
	                </div>
                </div>
            </div>
            <div class="table__filter table__filter__new" ng-hide="fetchESData || alertDeviceLogSearch">
                <div class="filter">
                    <div class="filter__label">Search</div>
                    <div class="filter__select select">
                       <auto-complete-comp on-text-entered="onItemSearch(value)" on-device-selection="$scope.onDeviceSelection(deviceID)"></auto-complete-comp>
                    </div>
                </div>
            </div>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell">Device ID</div>
                        <div class="divTableCell">User</div>
                        <div class="divTableCell">Device Logs</div>
                        <div class="divTableCell device-timewidth">Time</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="log in deviceLogs">
                        <div class="divTableCell">{{log.deviceId}}</div>
                        <div class="divTableCell">{{log.userName}}</div>    
                        <div class="divTableCell">{{log.logMsg}}</div>    
                        <div class="divTableCell">{{log.createdTime |  date:'yyyy-MM-dd HH:mm:ss'}}</div>    
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="noLogsFound!=''">{{noLogsFound}}</div>
        </div>
    </div>
</div>