<md-dialog md-theme="mytheme" id="myModel" class="md-fileupload-width">
<md-dialog-content>
	<span ng-if="fileUploadMsg != ''" class="big-form__success"> {{fileUploadMsg}} </span>
    <span ng-if="fileUploadErrorMsg != ''" class="big-form__error"> {{fileUploadErrorMsg}} </span>
	<div class="long-form__section">
	    <div class="long-form__section-title">
	        <div class="long-form__section-header">Device Type</div>
	    </div>
	     <div class="input-text">
	     <md-select id="device_deviceType" class="file_upload_width" placeholder="Select Device Type" ng-model="selectedDeviceType" ng-change="changeDeviceType(selectedDeviceType)">
	            <md-option ng-value="item" ng-repeat="item in deviceTypeList">{{item.deviceType}}</md-option>
	     </md-select>
	    </div>
	    <span ng-if="errorDeviceType != ''" class="big-form__error deviceType_error_msg">{{errorDeviceType}}</span>
	</div>
	<div class="long-form__section">
	    <div class="long-form__section-title padding-top-20">
	        <div class="long-form__section-header">Enter Path to import (.xls, .xlsx)</div>
	    </div>
	     <div class="input-text browse_upload_width">
	     	<input type = "file" id="upload-file" file-model = "myFile"/>
	     	<span ng-if="errorFile != ''" class="big-form__error">{{errorFile}}</span>
	    </div>
	</div>
	<div class="long-form__actions scroll-remove padding-20">
		<button id="btn_adddev_cancel" ng-class="{'btn-save': hoverCancel,'btn-cancel': !hoverCancel}" ng-mouseleave="hoverCancel=false"  class="form-button" ng-model="hoverCancel" ng-mouseover="hoverCancel=true" ng-click="close()">Cancel</button>
		<button id="btn_adddev_add" ng-class="{'btn-save': !hoverCancel,'btn-cancel': hoverCancel}" class="form-button" ng-click="uploadFile()">Import</button>
	</div>
</md-dialog-content>
</md-dialog>