<form name="forgotpasswordForm" ng-submit="forgotPassword()" role="forgotpasswordForm">
    <div class="root">
        <header class="header header--without-nav">
            <div class="header__logo">
                <div class="header__logo-img"></div>
                <div class="header__title">{{appTitle}}</div>
            </div>
        </header>
        <div ng-if="errorMessage != null" class="alert"> {{errorMessage}} </div>
        <div class="content-holder">
            <div class="content">
                <div class="big-form">
                    <h1 class="big-form__header">Reset your password</h1>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Username</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" name="username" id="username" ng-model="username" required> </div>
                            <p id="forgotPassword" ng-if="forgotpasswordForm.username.$dirty && forgotpasswordForm.username.$error.required" class="big-form__error">Username is required</p>
                        </div>
                    </div>
                    <div class="big-form__row">
                        <button id="reset" class="btn btn--action" ng-disabled="forgotpasswordForm.$invalid || dataLoading">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>