<md-dialog md-theme="mytheme" class="md-popup-width">
<md-dialog-content>
<ul class="popup-note-content">
<li ng-repeat="helpdeskContactLine in helpdeskContactLines track by $index">
  {{ helpdeskContactLine }}
</li>
</ul>
<ul class="popup-note-content">
	<li><button ng-click="closeDialog()" class="btn btn--cancel help_popup_left">Close</button></li>
</ul>
</md-dialog-content>
</md-dialog>