<form name="loginForm" ng-submit="login()" role="loginForm" novalidate>
    <div class="root">
        <header class="header header--without-nav">
            <div class="header__logo">
                <div class="header__logo-img"></div>
                <div class="header__title">{{appTitle}}</div>
            </div>
        </header>
        <div class="content-holder">
			<div class="content">
				<!--<div ng-if="passwordMessage != null" class="alert_success"> {{passwordMessage}} </div>
        		<div ng-if="errorMessage != null" class="alert"> {{errorMessage}} </div>-->
                <div class="big-form">
                    <h1 class="big-form__header">Log in</h1>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Username</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" name="username" id="username" ng-model="username" required> </div>
                            <p ng-if="loginForm.username.$dirty && loginForm.username.$error.required" class="big-form__error">Username is required</p>
                        </div>
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Password</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" type="password" name="password" id="password" ng-model="password" required> </div>
                            <p ng-if="loginForm.password.$dirty && loginForm.password.$error.required" class="big-form__error">Password is required</p>
                        </div>
                    </div>
					<!--<div class="big-form__row">
						<p ng-if="passwordMessage != null" class="big-form__error"> {{passwordMessage}} </p>
        				<p ng-if="errorMessage != null" class="big-form__error"> {{errorMessage}} </p>
					</div>-->
					<div class="big-form__row">
						<div ng-if="passwordMessage != null" class="alert_success"> {{passwordMessage}} </div>
        				<div ng-if="errorMessage != null" class="alert"> {{errorMessage}} </div>
					</div>
                    <div class="big-form__row">
                        <button id="btn-logIn" class="btn btn--action" ng-disabled="loginForm.$invalid || dataLoading">Log In</button>
                    </div>
                    <div class="big-form__row cursor-pointer">
						<a id="forgotPassword" ng-click="forgotPassword()" class="cursor-pointer">Forgot Password?</a>
					</div>
                </div>
            </div>
        </div>
    </div>
</form>