<form name="logoutForm" role="logoutForm">
    <div id="logoutContainer" class="root">
        <div class="content-holder">
            <!--<div class="content">
                <div class="settings">
                    <div class="settings__signed-in">Signed in as</div>
                    <div class="settings__name">{{userName}}</div>
                    <div class="settings__role"></div>
                    <button class="btn btn--action logout_btn">Sign out</button>
                </div>
            </div>-->
			
			<div class="content">
				
				<div class="settings">
					<div class="settings__signed-in">Signed in as</div>
					<div class="settings__name">{{userName}}</div>
					<button class="btn btn--action" ng-click="logout()">Sign out</button>
					<md-button class="btn btn--help" ng-click="showHelpDialog($event)"> <div class="sprite sprite--help"></div>Help</md-button>
					<!-- Commented code below is for the "click to chat" functionality
						<button class="btn btn--action purechat-button-expand" ng-show="clickToChat">Click to chat</button>
						<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '32a7e29f-2777-4400-8dd5-4c513c42e704', f: true }); done = true; } }; })();
						</script>				
					 -->
				</div>
				<div class="bottom-button">
					<button class="btn btn--action margin-right-5" ng-click="resetOrg($event)" ng-show="showResetOrg">Reset Organization</button>
				</div>
                <!--<div class="big-form">
                    <div class="big-form__row">
						<div class="settings__signed-in">Signed in as</div>
                        <div class="settings__name">{{userName}}</div>
                        <div class="settings__role"></div>
                    	<button class="btn btn--action logout_btn">Sign out</button>
					</div>
                    <button class="btn btn--help" ng-click="showHelpDialog($event)"><div class="sprite sprite--help"></div>Help</button>
					<div class="big-form__row">
                    	<md-button class="btn btn--help settings_btn" ng-click="showHelpDialog($event)"> Help </md-button>
					</div>
				</div>-->
            </div>
        </div>
    </div>
</form>