<head>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons"
    rel="stylesheet">
</head>

<div id="rootContainer" class="root"  ng-style="!isNotPopUp && {'overflow-y' : 'scroll'}" >

  <header class="header header--with-nav">    
    <div id="header__logo" class="header__logo">      
      <div class="header__logo-img" ng-click="logoClickedHandler()"></div>
      <div class="header__title">{{appTitle}}</div>
     </div>
  </header>


   <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="1" ng-if="isNotPopUp" > 
    <md-content>
      <ul class="nav-list">
        <li>
          <a ng-attr-id="{{navMenu.menuName}}" ng-repeat="navMenu in navMenuList  | orderBy: 'order'"
            ng-class="{active: activeTabNav == navMenu.menuCode}" ng-click="selectedTabTopNav(navMenu.menuCode)"
            ui-sref="{{navMenu.state}}">{{navMenu.menuName}}</a>
          <a id="nav_logout" ng-class="{active: activeTabNumbTopNav == 9}" ng-click="selectedTabTopNav(9)" ui-sref="app.logout">Logout </a>
        </li>
      </ul>
    </md-content>
  </md-sidenav>

<!--
 <div class="sidenav-place-holder">
  
 </div>
-->
<div ui-view></div>
<!--
 <md-content flex="" layout-padding="">

  </md-content>
  -->

</div>