<map-marker-path></map-marker-path>

<div class="map-info dashboard_bottompanel_width" ng-show="mapInfo">
    <div class="map-info__title">
        <span>{{productId}}</span><span class="padding-left-10">{{packageId}}</span>
    </div>
    <div class="map-info__flag" ng-class="{'map-info__flag--flagged': selectedPointFavoriteStatus == 1}"></div>
    <div class="map-info__info">
     
        <div class="map-info__info-item padding-right-10">
            <div class="map-info__info-item-name">{{productAttrLegend1}}</div>
            <div class="map-info__info-item-value--big" ng-class="isColorRedAttr1 == true ? 'map-info__info-item-value' : 'map-info__info-item-value--red'">
                {{productAttrVal1}}{{productAttrUnit1}}
            </div>
        </div>
		<div class="map-info__info-item padding-right-10 padding-left-10">
            <div class="map-info__info-item-name">{{productAttrLegend2}}</div>
            <div class="map-info__info-item-value--big" ng-class="isColorRedAttr2 == true ? 'map-info__info-item-value' : 'map-info__info-item-value--red'">
                {{productAttrVal2}}{{productAttrUnit2}}
            </div>
        </div>
        
		<div class="map-info__info-item padding-right-10 padding-left-10">
            <div class="map-info__info-item-name">Location</div>
            <div class="map-info__info-item-value map-info-nearest-location">
                <span>{{productLocationCoordinates}}</span><br>
                <span class="nearest-location padding-top-5">{{nearestLocation}}</span>
            </div>
        </div>
		<div class="map-info__info-item padding-left-10 padding-right-0 width-140">
            <div class="map-info__info-item-name">Time</div>
            <div class="map-info__info-item-value map-info-last-update-time">
                <span>{{productLastUpdateTime}}</span><br>
			</div>
        </div>
	</div>
    <div class="tabs">
        <div class="tabs__tab">
            <div class="tabs__icon"><div class="sprite sprite--data"></div></div>
            <div class="tabs__text" id="device_data" ng-click="onViewDataClick(deviceId, packageId)">Device Data</div>
        </div>
        <div class="tabs__tab">
            <div class="tabs__icon"><div class="tabs__icon-alert"></div><div class="tabs__icon-alert-text">{{notificationCount}}</div></div>
            <div class="tabs__text" id="device_alert" ng-click="onViewAlertClick(deviceId, packageId)">Device Alerts</div>
        </div>
        <!--  div class="tabs__tab" ng-if="selectedItemType.typeId !== 1" -->
				<div class="tabs__tab" >
					<div class="tabs__icon"><div class="sprite sprite--data"></div></div>
					<div class="tabs__text" id="device_data" ng-click="onViewDetailsClick(productId,1,traceId)">
					Item Details
					</div>
				</div>
           <!-- <div class="tabs__tab" ng-if="selectedItemType.typeId !== 1">
            <div class="tabs__icon"><div class="sprite sprite--data"></div></div>
            <div class="tabs__text" id="device_data" ng-click="onViewDetailsClick(productId,selectedItemType.typeId, deviceId)">
            {{selectedItemType.type}} Data
            </div>-->
        </div>
    </div>
</div> 