<div ui-view="" class="content-holder ng-scope">
    <div class="content content-new">
        <div ng-if="message != null" class="alert">{{message}}</div>        
        <div class="table table--new table--org">
            <button id="btn_org_add" class="table__add table__add__new" ui-sref="app.addOrg" ng-if="userType == '0'">
              <!--<div class="btn btn--add"></div>-->
              <div class="table__add-text">Add</div>
              </button>
           <div class="long-form__header ng-scope">Organization</div>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <!--   <div class="divTableCell">Org ID</div> -->
                        <div class="divTableCell">Name</div>
                        <div class="divTableCell">Short Name</div>
                        <div class="divTableCell">Email</div>
                        <div class="divTableCell">Status</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="orgList in organizationList">
                        <!--  <div class="divTableCell">{{orgList.orgId}}</div>  -->
                        <div class="divTableCell">
                        	<a ng-click="showUserList(orgList.orgId)" ng-attr-id="{{'org_' + $index}}" ng-if="orgList.active == true">{{orgList.name}}</a>
                        	<span ng-if="orgList.active == false" ng-attr-id="{{'org_' + $index}}">{{orgList.name}}</span>
                        </div>
                        <div class="divTableCell">{{orgList.shortName}}</div>
                        <div class="divTableCell divTableCell-email">{{orgList.email}}</div>
                        <div class="divTableCell">
                        	<span ng-if="orgList.active == true">Active</span>
                            <span ng-if="orgList.active == false">Inactive</span></div>
                        <div class="divTableCell">
                            <a ng-attr-id="{{'org_modify_' + $index}}" ng-click="modifyOrg(orgList)" class="btn--edit--new" ng-if="orgList.active == true && userType !='2' && userType !='3'" title="Edit"></a>
                           <a ng-attr-id="{{'org_delete_' + $index}}" class="btn--delete--new" ng-if="orgList.active == true && userType == '0'" ng-click="deleteOrg(orgList.orgId)" title="Delete"></a>
						</div>
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="!organizationList.length">No Organizations available.</div>
        </div>
    </div>
</div>
