<div class="root">
    <header class="header header--without-nav">
        <div class="header__logo">
            <div class="header__logo-img"></div>
            <div class="header__title">{{appTitle}}</div>
        </div>
    </header>
    <div class="content-holder">
        <div class="content">
            <div class="big-form">
                <div ng-if="userName != null" class="big-form__row">
                    <h2 class="big-form__msg">An email has been sent to <span class="text_bold">{{userName}}</span> with instructions to reset your password.</h2> </div>
            </div>
        </div>
    </div>
</div>