<form name="addForm" role="addForm">
	<div class="content-holder">
		<div class="content">
			<div class="long-form">
				<div ng-if="shipmentType == 'Shipments'"
					class="long-form__header padding-left-20">Add Shipment</div>
				<div ng-if="shipmentType == 'Products'" class="long-form__header">Add
					Product</div>
				<div class="big-form__error">{{message}}</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<div class="long-form__section-header">Device ID</div>
							</div>
							<div class="filter__select select deviceid-text-height">
								<!--<input class="input-text__input" name="deviceId" id="deviceId"
									ng-model="deviceId" required>-->
								<auto-complete-comp on-text-entered="onItemSearch(value)"
									on-device-selection="$scope.onDeviceSelection(deviceID)"></auto-complete-comp>
							</div>
							<p ng-if="addForm.deviceId.$dirty && addForm.deviceId.$error.required">Device ID is required</p>
						</div>
					</div>
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<div class="long-form__section-header">Device Type</div>
							</div>
							 <div class="input-text">
                                  <md-select placeholder="Select Device Type" id="deviceTypeId" name="deviceTypeId" ng-model="deviceTypeValue" ng-disabled="disableDeviceType" ng-change="deviceTypeSelection(deviceTypeValue)">
                                    <md-option ng-selected="{{deviceTypeValue == item.deviceType}}" ng-value="item.deviceType" ng-repeat="item in deviceList">{{item.deviceType}}</md-option>
                                  </md-select>  
							</div>
							<p ng-if="addForm.deviceTypeId.$dirty && addForm.deviceTypeId.$error.required">Device
								Type is required</p>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--sensor-profile"></div>
								</div> -->
								<div class="long-form__section-header">Product ID</div>
							</div>
							<div class="input-text">
								<input id="productId" type="text" class="input-text__input" ng-model="productData.productId" required>
							</div>
							<p ng-if="addForm.productId.$dirty && addForm.productId.$error.required">ProductID is required</p>
						</div>
					</div>
                    <div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--product-id"></div>
								</div> -->
								<div class="long-form__section-header">Product Serial Number</div>
							</div>
							<div class="input-text">
								<input class="input-text__input" name="packageId" id="packageId" ng-model="packageId" required>
								<!-- ng-blur="checkSerialNumberAlreadyAssociated(packageId)" -->

							</div>
							<p ng-if="addForm.packageId.$dirty && addForm.packageId.$error.required">Product Serial Number is required</p>
						</div>
					</div>
				</div>
				
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--sensor-profile"></div>
								</div> -->
								<div class="long-form__section-header">rTS Item ID</div>
							</div>
							<div class="input-text">
								<input id="rTSItemID" type="text" class="input-text__input" ng-model="productData.rtsItemId" >
							</div>
						</div>
					</div>
                    <div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--product-id"></div>
								</div> -->
								<div class="long-form__section-header">rTS Trace ID</div>
							</div>
							<div class="input-text">
								<input class="input-text__input" name="rTSTraceID" id="rTSTraceID" ng-model="productData.rtsSerialNumber" >
								<!-- ng-blur="checkSerialNumberAlreadyAssociated(packageId)" -->

							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--shipping-from"></div>
								</div> -->
								<div class="long-form__section-header">Shipping From</div>
							</div>
							<div class="input-text-stack">
								<div class="input-text input-text--stacked">
									<input type="hidden" name="shippingFromLocationId" id="shippingFromLocationId" ng-model="productData.shipFrom.locationId"> 
									<input ng-keypress="manualAddress()" ng-paste="manualAddress()" class="input-text__input" name="shippingFromName" id="tags" ng-model="productData.shipFrom.location" placeholder="Name">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingFromAddress1"
										id="shippingFromAddress1" ng-model="productData.shipFrom.add1"
										placeholder="Address 1" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-1">
								</div>

								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingFromAddress2"
										id="shippingFromAddress2" ng-model="productData.shipFrom.add2"
										placeholder="Address 2" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-2">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingFromCity"
										id="shippingFromCity" ng-model="productData.shipFrom.city"
										placeholder="City" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="city">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingFromState"
										id="shippingFromState" ng-model="productData.shipFrom.state"
										value="{{state}}" placeholder="State" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="state">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingFromZipcode"
										id="shippingFromZipcode" ng-model="productData.shipFrom.zip"
										placeholder="Postal Code" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="postal-code">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingFromCountry"
										id="shippingFromCountry"
										ng-model="productData.shipFrom.country" value="{{country}}"
										placeholder="Country" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="country-name">
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--shipping-from"></div>
								</div> -->
								<div class="long-form__section-header">Shipping To</div>
							</div>
							<div class="input-text-stack">
								<div class="input-text input-text--stacked">
									<input type="hidden" name="shippingToLocationId"
										id="shippingToLocationId"
										ng-model="productData.shipTo.locationId"> <input
										class="input-text__input" name="shippingToName" id="tags1"
										ng-model="productData.shipTo.location" placeholder="Name" ng-keypress="manualAddress()" ng-paste="manualAddress()">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingToAddress1"
										id="shippingToAddress1" ng-model="productData.shipTo.add1"
										placeholder="Address 1" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-1">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingToAddress2"
										id="shippingToAddress2" ng-model="productData.shipTo.add2"
										placeholder="Address 2" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-2">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingToCity"
										id="shippingToCity" ng-model="productData.shipTo.city"
										placeholder="City" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="city">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingToState"
										id="shippingToState" ng-model="productData.shipTo.state"
										value="{{shippingToState}}" placeholder="State" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="state">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingToZipcode"
										id="shippingToZipcode" ng-model="productData.shipTo.zip"
										placeholder="Postal Code" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="postal-code">
								</div>
								<div class="input-text input-text--stacked">
									<input class="input-text__input" name="shippingToCountry"
										id="shippingToCountry" ng-model="productData.shipTo.country"
										value="{{shippingToCountry}}" placeholder="Country" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="country-name">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--sensor-profile"></div>
								</div> -->
								<div class="long-form__section-header">Device Profiles</div>
							</div>
							<div class="input-text">
                                <md-select placeholder="Select Device Profile" id="deviceProfile" name="" ng-model="deviceProfile" ng-disabled="disableDeviceProfile" ng-change="getHomeAddressByProfileId(deviceProfile)">
                                    <md-option ng-selected="item.profileId==deviceProfile || profiles.length==1" ng-value="item.profileId" ng-repeat="item in profiles">{{item.name}}</md-option>
                                </md-select> 
                            </div>
						</div>
					</div>
					<!--  -->
				</div>
				<div class="long-form__actions scroll-remove padding-20">
					<button id="btn-cancel" class="form-button btn-cancel" ng-click="Cancel()">Cancel</button>
                    <button class="form-button btn-save" id="btn-save" ng-disabled="addForm.$invalid || dataLoading || disableSave" ng-model="disableSave" ng-click="addProduct()">Save</button>
                    <button id="btn-delete" class="btn btn--delete" ng-click="disassociate(deviceId,packageId,productData.productId)" ng-model="disableDisassociate" ng-disabled="disableDisassociate" title="disassociate">
						<div class="btn--delete--new margin-top-5"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>