<form name="addForm" role="addForm">
	<div class="content-holder">
		<div class="content">
			<div class="long-form">
				<div class="long-form__header padding-left-20">Modify Shipment</div>
				<div class="big-form__error">{{message}}</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--code"></div>
								</div> -->
								<div class="long-form__section-header">Device ID</div>
							</div>
							<div class="input-text">
								<input ng-disabled="true" ng-disabled="true" class="input-text__input" name="deviceId" id="deviceId" ng-model="deviceId">
							</div>
						</div>
					</div>
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<div class="long-form__section-header">Device Type</div>
							</div>
							<div class="input-text">
									<input ng-disabled="true" class="input-text__input" name="devicetype" id="devicetype" ng-model="devicetype">
								</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--sensor-profile"></div>
								</div> -->
								<div class="long-form__section-header">Product ID</div>
							</div>
							<div class="input-text">
								<input ng-disabled="true" id="productId" type="text" class="input-text__input" ng-model="productId" required>
							</div>
						</div>
					</div>
                    <div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<div class="long-form__section-header">Product Serial Number</div>
							</div>
							<div class="input-text">
								<input ng-disabled="true" class="input-text__input" name="packageId" id="packageId" ng-model="packageId" required>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--sensor-profile"></div>
								</div> -->
								<div class="long-form__section-header">rTS Item ID</div>
							</div>
							<div class="input-text">
								<input id="rTSItemID" type="text" class="input-text__input" ng-model="rtsItemId" >
							</div>
						</div>
					</div>
                    <div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--product-id"></div>
								</div> -->
								<div class="long-form__section-header">rTS Trace ID</div>
							</div>
							<div class="input-text">
								<input class="input-text__input" name="rTSTraceID" id="rTSTraceID" ng-model="rtsSerialNumber" >
								<!-- ng-blur="checkSerialNumberAlreadyAssociated(packageId)" -->

							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--shipping-from"></div>
								</div> -->
								<div class="long-form__section-header">Shipping From</div>
							</div>
							<div class="input-text-stack">
								<div class="input-text input-text--stacked">
									<input  type="hidden" name="shippingFromLocationId" id="shippingFromLocationId" ng-model="shipFromLocationId"> 
									<input  class="input-text__input" name="shippingFromName" id="tags" ng-model="shipFromLocation" placeholder="Name" 
										ng-keypress="manualAddress()" ng-paste="manualAddress()">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingFromAddress1"
										id="shippingFromAddress1" ng-model="shipFromAdd1"
										placeholder="Address 1" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-1">
								</div>

								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingFromAddress2"
										id="shippingFromAddress2" ng-model="shipFromAdd2"
										placeholder="Address 2" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-2">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingFromCity"
										id="shippingFromCity" ng-model="shipFromCity"
										placeholder="City" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="city">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingFromState"
										id="shippingFromState" ng-model="shipFromState"
										placeholder="State" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="state">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingFromZipcode"
										id="shippingFromZipcode" ng-model="shipFromZip"
										placeholder="Postal Code" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="postal-code">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingFromCountry"
										id="shippingFromCountry"
										ng-model="shipFromCountry"
										placeholder="Country" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="country-name">
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--shipping-from"></div>
								</div> -->
								<div class="long-form__section-header">Shipping To</div>
							</div>
							<div class="input-text-stack">
								<div class="input-text input-text--stacked">
									<input  type="hidden" name="shippingToLocationId"
										id="shippingToLocationId"
										ng-model="shipToLocationId"> <input 
										class="input-text__input" name="shippingToName" id="tags1"
										ng-model="shipToLocation" placeholder="Name" ng-keypress="manualAddress()" ng-paste="manualAddress()">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingToAddress1"
										id="shippingToAddress1" ng-model="shipToAdd1"
										placeholder="Address 1" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-1">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingToAddress2"
										id="shippingToAddress2" ng-model="shipToAdd2"
										placeholder="Address 2" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="address-line-2">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingToCity"
										id="shippingToCity" ng-model="shipToCity"
										placeholder="City" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="city">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingToState"
										id="shippingToState" ng-model="shipToState"
										placeholder="State" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="state">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingToZipcode"
										id="shippingToZipcode" ng-model="shipToZip"
										placeholder="Postal Code" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="postal-code">
								</div>
								<div class="input-text input-text--stacked">
									<input  class="input-text__input" name="shippingToCountry"
										id="shippingToCountry" ng-model="shipToCountry"
										placeholder="Country" ng-keypress="manualAddress()" ng-paste="manualAddress()" autocomplete="country-name">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="long-form__section">
							<div class="long-form__section-title">
								<!-- <div class="long-form__section-icon">
									<div class="sprite sprite--sensor-profile"></div>
								</div> -->
								<div class="long-form__section-header">Device Profiles</div>
							</div>
							<div class="input-text">
                                <md-select placeholder="Select Device Profile" id="deviceProfile" name="" ng-model="deviceProfile" ng-change="getHomeAddressByProfileId(deviceProfile.profileId)">
                                    <md-option ng-selected="item.profileId==deviceProfile.profileId" ng-value="item" ng-repeat="item in profiles">{{item.name}}</md-option>
                               </md-select>
                            </div>
						</div>
					</div>
					<!--  -->
				</div>
				<div class="long-form__actions scroll-remove padding-20">
					<button id="btn-cancel" class="form-button btn-cancel" ng-click="Cancel()">Cancel</button>
                    <button class="form-button btn-save" id="btn-save" ng-click="modifyProduct()">Update</button>
					<button id="btn-disassociate" title="disassociate" id="btn-delete" class="btn btn--delete" ng-click="disassociate(deviceId,packageId,productId)" ng-model="disableDisassociate" ng-disabled="disableDisassociate">
						<div class="btn--delete--new margin-top-5"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>