<!-- <link rel="stylesheet" href="app/assets/css/common/nav-tab.css"> -->

<div class="content-holder">
    <div class="side-menu wide">
        <div class="side-menu__row side-menu__row--product-header">
            <div class="product-header">
                <!--
                <button class="product-header__back btn btn--back btn--back--red" ng-Click="productBackClicked()">
                    <div class="btn__icon" ></div>
                </button>
            -->
                <!-- <h1 class="product-header__title">&lt;{{packageId}}&gt;</h1> -->
                <h1 class="product-header__title">{{productId + "-" +packageId}}</h1>
                <div class="product__flag" ng-class="{'product__flag--flagged': selectedPointFavoriteStatus == 1}"></div>
            </div>
        </div>
        <div class="side-menu__row side-menu__row--details">
            <div class="details">
                <div class="details__row">
                    <div class="details__icon">
                        <div class="sprite sprite--product-id"></div>
                    </div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Product Serial Number
                        </div>
                        <div class="details__detail-value">
                            {{packageId}}
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon">
                    	<div class="sprite sprite--sensor-profile"></div>
                    </div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Product ID
                        </div>
                        <div class="details__detail-value">
                            {{productId}}
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon">
                        <div class="sprite sprite--shipping-from"></div>
                    </div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Origin
                        </div>
                        <!-- {{shipFromTime | date:'MM/dd/yyyy HH:mm:ss':'UTC'}} -->
                        <div class="details__detail-value">
                            {{shipFrom}}
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon">
                        <div class="sprite sprite--location"></div>
                    </div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Location
                        </div>
                        <!-- as of {{shipFromTime | date:"MM/dd/yyyy 'at' HH:mm:ss":'UTC'}} -->
                        <!--<div class="details__detail-value">
                            {{productLat}}<span>, </span>{{productLng}}
                            <div>{{productLastLocation}}</div>
                        </div>-->
                        <div class="details__detail-value">
                            {{productLocationCoordinates}}
                            <div>{{productLastLocation}}</div>
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon">
                        <div class="sprite sprite--shipping-to"></div>
                    </div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Destination
                        </div>
                        <div class="details__detail-value">
                            {{shipTo}}
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon">
                        <div class="sprite sprite--code"></div>
                    </div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Device code
                        </div>
                        <div class="details__detail-value">
                            {{deviceCode}}
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon"></div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Device ID
                        </div>
                        <div class="details__detail-value">
                            {{deviceId}}
                        </div>
                    </div>
                </div>
                <div class="details__row">
                    <div class="details__icon"></div>
                    <div class="details__detail">
                        <div class="details__detail-attr">
                            Profile Name
                        </div>
                        <div class="details__detail-value">
                            {{profileName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="big-tabs" ng-show="isShowProductAlertsBtn">
        <div ng-include="'app/view/partials/mapDataAlertsBtn.html'"></div>
    </div>

    <div ui-view></div>