<div class="content-holder">
    <div class="content">
        <div class="big-form__error text-center"> {{message}} </div>
        <div class="table">
            <button ng-if="orgId != 0" id="btn_product_add" class="table__add table__add__new" ui-sref="app.addproduct">
                <!--<div class="btn btn--add"></div>-->
                <div class="table__add-text">Add</div>
            </button>
            <div class="table__filter table__filter__new">
                <div class="filter">
                    <div class="filter__label">View</div>
                    <div class="filter__select select">
                        <md-select ng-model="selectedItemType" ng-change="shipmentSelectionChange(selectedItemType.typeId)">
                            <md-option ng-hide="item.typeId === 2" ng-value="item" ng-repeat="item in shipmentTypeArr">{{item.type}}</md-option>
                        </md-select>                        
                    </div>
                </div>
                <div ng-show="fetchESData">
                	<div class="filter__label">Search</div>
                	<div class="filter__select audit_search_width">
                       	<input id="shipmentId" type="text" class="input-text__input input-text__input_width" ng-model="shipment" ng-enter="loadActiveShipmentsSearch(selectedItemType)">
                   </div>
                   <div>
						<button class="filter__btn btn btn--search" id="searchshipmentId" ng-click="loadActiveShipmentsSearch(selectedItemType)">
							<div class="btn__icon"></div>
						</button>
	               </div>
                </div>
                <!--<div class="filter">
                    <div class="filter__label">Sort by</div>
                    <div class="filter__tabs product-filter-tabs">
                        <div class="filter__tab" ng-click="isSelectedProductSortBy = true" ng-class="{'selected-sortby-filter': isSelectedProductSortBy}">
                            Age
                        </div>
                        <div class="filter__tab" ng-click="isSelectedProductSortBy = false" ng-class="{'selected-sortby-filter': !isSelectedProductSortBy}">
                            Health
                        </div>
                        <div class="filter__tab"><div class="sprite sprite--star-tab"></div></div>
                    </div>
                </div>
                <div class="filter">
                    <button class="filter__btn btn btn--search"><div class="btn__icon"></div></button>
                </div>-->
            </div>
            <!--
            <div class="table__filter">
                <div class="filter">
                    <div class="filter__label">Search</div>
                    <div class="filter__input-text input-text">
                        <input class="filter__input-text-input input-text__input">
                    </div>
                </div>
                <div class="filter">
                    <button class="filter__btn btn btn--filter"><div class="btn__icon"></div></button>
                </div>
            </div>-->
            <!--<div class="table__result-info">
                <span class="table__result-info-prefix">10 Results:</span> 4/17/2017 - 4/30/2017
            </div>-->
            <div class="table__rows">
                <div class="table__row">
                    <div ng-attr-id="{{'shipmentLocationData_' + $index}}" class="product outline-0 table__row" ng-repeat="shipment in shipmentLocationData" ng-click="onProductSelect(shipment)">
                    	<!-- <div ng-if="shipment.pairStatus == 0" class="product__status product__status--green"></div>
		                <div ng-if="shipment.pairStatus == 1" class="product__status product__status--yellow"></div>
		                <div ng-if="shipment.pairStatus == 2" class="product__status product__status--red"></div> -->
		                <div ng-class="selectedItemType.typeId == 6 ? 'product__status product__status--red' : shipment.pairStatus == 0 ? 'product__status product__status--green' : shipment.pairStatus == 1 ? 'product__status product__status--yellow' : 'product__status product__status--red'"></div>
                        <div class="product__info">
                            <h1 ng-class="selectedItemType.typeId == 2 ? 'product__title' : 'product__title pointer'">{{shipment.productId + "-" + shipment.packageId}}</h1>
                            <div class="product__updated" ng-if="selectedItemType.typeId != 4 && selectedItemType.typeId != 5 && selectedItemType.typeId != 6">
                                <span class="product__updated-1">created {{createdDate[$index]}} at {{createdTime[$index]}}</span>
                                <!--<span class="product__updated-2">updated {{updatedTimeArr[$index]}}</span>-->
                                <span class="product__updated-2"> {{updatedTimeArr[$index]}}</span>
                            </div>
                        </div>
                        <div class="shipment-edit" ng-if="selectedItemType.typeId != 4 && selectedItemType.typeId != 5">
                        	<!-- Arun: hiding locatenow temporarily
	                        <a ng-attr-id="{{'locatenow_' + $index}}" ng-click="locateNow(shipment.deviceId);$event.stopPropagation();" class="btn--locatenow" title="Locate Now"></a>
	                         -->
	                        <a ng-attr-id="{{'edit_' + $index}}" ng-click="modifyProduct(shipment);$event.stopPropagation();" class="btn--edit--new" title="Edit"></a>
	                        <a ng-attr-id="{{'disassociate_' + $index}}" class="btn--delete--new" ng-hide="" ng-click="disassociate(shipment.deviceId,shipment.packageId,shipment.productId);$event.stopPropagation();" title="disassociate"></a>
                        </div>
                        <div ng-if="selectedItemType.typeId != 4 && selectedItemType.typeId != 5" ng-attr-id="{{'favorite_' + $index}}" ng-class="shipment.isfavorite == 0 ? 'product__flag pointer' : 'product__flag product__flag--flagged pointer'" ng-click="onFavoriteSelect(shipment,shipment.isfavorite == 0 ? 1 : 0);$event.stopPropagation();"></div>
                        <!-- <div ng-if="shipment.isfavorite == 1" class="product__flag product__flag--flagged pointer" ng-click="onFavoriteSelect(shipment,0);$event.stopPropagation();"></div> -->
                    </div>
                    <p class="product" ng-if="!shipmentLocationData.length && fetchESData">{{noShipmentFound}}</p>
                    <p class="product" ng-if="!shipmentLocationData.length && !fetchESData">{{noShipmentFound}}</p>
                </div>
            </div>
        </div>
    </div>
</div>