<form name="resetpasswordFrom" ng-submit="resetPassword()" role="resetpasswordFrom" method="get">
    <div class="root">
        <header class="header header--without-nav">
            <div class="header__logo">
                <div class="header__logo-img"></div>
                <div class="header__title">{{appTitle}}</div>
            </div>
        </header>
        
        <div class="content-holder">
            <div class="content">
                <div class="big-form">
                    <h1 class="big-form__header">Successfully Password is created !</h1>
                    <div class="big-form__row">
                        
						
                       <a ng-href="/sensor/#/login">Login Page</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</form>