<form name="resetpasswordFrom" ng-submit="resetPassword()" role="resetpasswordFrom" method="get">
    <div class="root">
        <header class="header header--without-nav">
            <div class="header__logo">
                <div class="header__logo-img"></div>
                <div class="header__title">{{appTitle}}</div>
            </div>
        </header>
        <div ng-if="errorMessage != null" class="alert"> {{errorMessage}} </div>
        <div class="content-holder">
            <div class="content">
                <div class="big-form">
                    <h1 class="big-form__header" ng-if="action == 'set'">Create your password</h1>
                    <h1 class="big-form__header" ng-if="action == 'reset'">Reset your password</h1>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Username</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" name="username" id="username" ng-model="username" disabled="true" required> </div>
                        </div>
                        <p ng-if="resetpasswordFrom.username.$dirty && resetpasswordFrom.username.$error.required" class="big-form__error">Username is required</p>
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Password</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" type="password" name="password" id="password" ng-model="password" required> </div>
                            <p ng-if="resetpasswordFrom.password.$dirty && resetpasswordFrom.password.$error.required" class="big-form__error">Password is required</p>
                        </div>
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__input-label">Confirm password</div>
                        <div class="big-form__input-text">
                            <div class="input-text input-text--big">
                                <input class="input-text__input" type="password" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" required> </div>
                            <p ng-if="resetpasswordFrom.confirmpassword.$dirty && resetpasswordFrom.confirmpassword.$error.required" class="big-form__error">Confirm Password is required</p>
                        </div>
                    </div>
                    <div class="big-form__row">
                        <div class="big-form__error">
                            <!-- error message goes here -->
                        </div>
                    </div>
                    <div class="big-form__row">
                        <button class="btn btn--action" ng-disabled="resetpasswordFrom.$invalid || dataLoading">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>