<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Verizon {{appTitle}}</title>
        <!-- <link rel="stylesheet" type="text/css" href="app/assets/css/sensor.css?1479957560968" /> -->
    </head>
    <body>
        <div class="root">
            <header class="header header--with-nav">
                <div class="header__logo">
                    <div class="header__logo-img"></div>
                    <div class="header__title">{{appTitle}}</div>
                </div>
                <nav class="header__menu">
                    <a ui-sref="dashboard">Dashboard</a>
                    <!--<a ui-sref="products">Products</a>-->
                    <a ui-sref="products">Shipments</a>
                    <a href="#">Profiles</a>
                    <a href="#">Notifications</a>
                    <a ui-sref="settings"><div class="sprite sprite--account"></div></a>
                </nav>
            </header>
            <div class="content-holder">
                <div class="content">
                    <div class="settings">
                        <div class="settings__signed-in">Signed in as</div>
                        <div class="settings__name">Joseph McCracken</div>
                        <div class="settings__role">vzuser</div>
                        <button class="btn btn--action">Sign out</button>
                        <button class="btn btn--help"><div class="sprite sprite--help"></div>Help</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>