<div class="content-holder">
	<div class="content content-new">
        <div class="big-form__error text-center"> {{message}} </div>
		<div class="table table--new--large">
			<div class="long-form__header">
				Settings
			</div>
			<div class="divTable border-left-none border-none">
				<div class="divTableHead">
					<div class="divTableRow">
						<div class="divTableCell">Parameter/Key</div>
						<div class="divTableCell">Value</div>
						<!--<div class="divTableCell">Settings</div>
						<div class="divTableCell">&nbsp;</div>-->
					</div>
				</div>
				<div class="divTableBody">
					<div class="divTableRow" ng-init='index=0' ng-repeat="settingVal in settingValList">
						<div class="divTableCell">{{settingVal.displayName}}
                            <input type="hidden" id="paramName{{$index+1}}" class=".input-text__input setting-input"  ng-model="settingVal.paramName" name="paramName" value="{{settingVal.paramName}}">
						</div>
						<div class="divTableCell">
							<input type="text" ng-if="settingVal.paramName != 'createpassword_mail_content' && settingVal.paramName != 'resetpassword_mail_content'" id="paramValue_{{$index+1}}"  class="input-text__input setting-input"  ng-model="settingVal.paramValue" name="paramValue" value="{{settingVal.paramValue}}">
							<textarea ng-if="settingVal.paramName == 'createpassword_mail_content' || settingVal.paramName == 'resetpassword_mail_content'" id="paramValue_{{$index+1}}" class="input-textarea__input border-radius settings-textarea-height" ng-model="settingVal.paramValue" name="paramValue" value="{{settingVal.paramName}}" ng-trim="false"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div style="border-bottom:0px;" class="divTableCell">
				<button id="btn_sysset_cancel" id="btn-cancel" class="form-button btn-cancel" ng-click="cancel()" tabindex="0">Cancel</button>
				<button id="btn_sysset_save" class="form-button btn-save" id="btn-save" ng-disabled="addForm.$invalid || dataLoading" ng-click="editSettingVal(settingValList)">Save</button>
			</div>
		</div>
	</div>
</div>