<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="app/assets/css/rts/trace-custom.css">
<link rel="stylesheet" href="app/assets/css/rts/search-custom-new-div.css">
<link rel="stylesheet" href="app/assets/css/rts/grid-style.css">
<link rel="stylesheet" href="app/assets/css/rts/ui-grid-custom.css">

<style>
	.item_selected td:first-child {
		box-shadow: inset 5px 0 0 0 #81c181;
	}
	
	.overflow-x-hidden {
		overflow-x: hidden;
	}
	
	.child-trace-item-grid {
		width: 100%;
	}
	
	.child-trace-item .search_results_holder {
		overflow-x: hidden;
	}
   
	md-dialog {
		width: 90%;
		max-width: 90%;
	}
	
	md-content {
		padding: 0 16px;
		overflow-x: hidden;
	}
	.color-red{
	color:red;
	}
		
	/* angular material modal */
	
</style>	

<script>
		
	$(document).ready(function(){  
		$('.panel-title > a').on('click', function(){
			console.log('clicked');
			$(this).children('span').toggleClass('glyphicon-menu-down glyphicon-menu-up'); 
		});
	});
		
</script>

<body data-type="trace_items">
	<div class="body_search trace-items-details" data-results="true">
	<div class="container item-summary">
		<div class="page_title">Item Details</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#collapse1" ng-click="showCollapse(collapse.isItemsSummaryOpen , 'itemsSummary')">
								<span class="glyphicon" ng-class="{'glyphicon-menu-down':  !collapse.isItemsSummaryOpen ,'glyphicon-menu-up': collapse.isItemsSummaryOpen}"></span>Items Summary
							</a>
							<div class="pull-right">
								<span ng-click='showMapForTracking(tempTraceId)' title="Cluster Map"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
								<span class="rts-icon rts-icon-mapIcon1" ng-click="openParentWindow()" title="Find Nearby" aria-hidden="true"></span>
							</div>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse" ng-class="{'collapse': !collapse.isItemsSummaryOpen,'collapse in': collapse.isItemsSummaryOpen}">
						<div class="panel-body">
							<div class="search_results_holder">
                                <div ui-grid="itemSummaryList" class="grid search-results-grid" ui-grid-resize-columns ui-grid-auto-resize></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Notification -->
				<div class="panel panel-default" >
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse2">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': !notificationsList.data.length,'glyphicon-menu-up': notificationsList.data.length}"></span>Notifications<span ng-if="!notificationsList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" ng-class="{'in': notificationsList.data.length}" ng-if="notificationsList.data.length!==0">
							<div class="panel-body">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': notificationsList.data.length === 0}">
									<div ui-grid="notificationsList" class="grid search-results-grid" ui-grid-resize-columns ui-grid-auto-resize>
								</div>
							</div>
						</div>
                </div>
                </div>
             	
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#collapse3" ng-click="showCollapse(collapse.isParentTraceOpen , 'parentTrace')">
								<span class="glyphicon" ng-class="{'glyphicon-menu-down': (!parentTraceItemList.data.length || !collapse.isParentTraceOpen),'glyphicon-menu-up': parentTraceItemList.data.length && collapse.isParentTraceOpen}"></span>Parent Trace Items<span ng-if="!parentTraceItemList.data.length" class="panel-title-noneText">(None)</span>
								<a id="showHideParent" ng-click="showPrefixParent()" ng-hide="!topLevelTraceItemList.data.length && !parentTraceItemList.data.length">
									<span ng-if="!isParentVisible" class="prefix-text">(<span>Show Prefix</span>)</span>
									<span ng-if="isParentVisible" class="prefix-text">(<span>Hide Prefix</span>)</span>
								</a>
                            </a>
						</h4>
					</div>
                    <div id="collapse3" class="panel-collapse collapse" ng-class="{'in': parentTraceItemList.data.length && collapse.isParentTraceOpen}" >
						<div class="panel-body" ng-if="parentTraceItemList.data.length!==0 && collapse.isParentTraceOpen">
							<div class="search_results_holder" ng-class="{'overflow-x-hidden': parentTraceItemList.data.length === 0}">
								<div class="ui-grid-headerInfo">Top-Level Trace Items</div>
								<div ui-grid="topLevelTraceItemList"  class="grid search-results-grid" ui-grid-resize-columns>
								</div>
								<div class="ui-grid-headerInfo">Parent Trace Items</div>
								<div ui-grid="parentTraceItemList" class="grid search-results-grid"  ng-if="parentTraceItemList.length!==0" ui-grid-resize-columns>
								</div>
							</div>
						</div>
					</div>
				</div>
							
				<div class="panel panel-default" >
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse4">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': !itemInformationList.data.length,'glyphicon-menu-up': itemInformationList.data.length}"></span>Child Trace Items<span ng-if="!itemInformationList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
							  	<a id="showHideChild" ng-click="showPrefixChild()">
									<span ng-if="!traceIdPrefix.isVisible" class="prefix-text">(<span>Show Prefix</span>)</span>
									<span ng-if="traceIdPrefix.isVisible" class="prefix-text">(<span>Hide Prefix</span>)</span>
								</a>
								<span ng-if="toggle.isForwardTracing" class="rts-icon rts-icon-clockwise" ng-click="changeTraceToggle()" ng-model="toggle.isForwardTracing" title="Forward Tracking"></span>
								<span ng-if="!toggle.isForwardTracing" class="rts-icon rts-icon-aclockwise" ng-click="changeTraceToggle()" title="Backward Tracing"></span>
							</h4>
							
                        </div> 
                        <div id="collapse4" class="panel-collapse collapse child-trace-item" ng-class="{'in': itemInformationList.data.length}" ng-if="itemInformationList.data.length!==0">
							<div class="panel-body">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': itemInformationList.data.length === 0}">
									<!--<div ui-grid="itemInformationList" ui-grid-tree-view  class="grid search-results-grid" ui-grid-resize-columns></div>-->
									<div ui-grid="itemInformationList" ui-grid-tree-view  class="grid search-results-grid child-trace-item-grid" ui-grid-resize-columns></div>
								</div>
							</div>
						</div>
                </div>
			</div>
		</div>
		
	</div>

</body>