	<link rel="stylesheet" href="app/assets/css/rts/grid-style.css">
	<link rel="stylesheet" href="app/assets/css/rts/ui-grid-custom.css">
	<link rel="stylesheet" href="app/assets/css/rts/trace-custom.css">
	<link rel="stylesheet" href="app/assets/css/rts/search-custom-new-div.css">
	<style>
	.compliance-reporting table thead tr th {
		width: auto !important;
	}
	
	.trace-event-item-info .set_disposition_select {
		margin-left: 800px;
	}

	md-input-container {
		margin: 0;
	}
	
	md-select-menu md-content md-option {
		height: auto !important;
	}
	
	.md-option {
		height: auto !important;
	}
	
	.md-select-menu-container md-select-menu md-content md-option .md-text {
		font-size: 14px;
		color: #707070;
		width: 180px;
		margin: 4px 0 4px 12px;
	}
	
	md-select .md-select-value {
	  border-bottom-color: transparent !important;
		padding: 0;
	}
	
	.md-select-menu-container {
		z-index: 9999;
	}
	
	.md-datepicker-calendar-pane {
		z-index: 1200
	}
    
    .overflow-x-hidden {
		overflow-x: hidden;
	}
		
	[data-table-kind="event_details_info"] table tr td:first-child {
		font-weight: 600;
		font-size: 13px;
	}
	
	.display-inline-block {
		display: inline-block;
	}
		
	</style>
	
	<script>

		$(document).ready(function(){ 
			$('.panel-title > a').on('click', function(){
				$(this).children('span').toggleClass('glyphicon-menu-down glyphicon-menu-up'); 
			});
		});

	</script>

<body data-type="trace_results">
	
	<div class="body_search" data-results="true">
		<div class="container">
		<div class="page_title">Event Details</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default" ng-if="eventInformation.eventTypeId === 32">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse1" ng-click="showCollapse(collapse.isInputSummaryOpen,'inputSummary')">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!eventInputItemSummaryList.data.length || !collapse.isInputSummaryOpen),'glyphicon-menu-up': eventInputItemSummaryList.data.length && collapse.isInputSummaryOpen}"></span>Input Items Summary<span ng-if="!eventInputItemSummaryList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" ng-class="{'in': eventInputItemSummaryList.data.length && collapse.isInputSummaryOpen}" >
							<div class="panel-body" ng-if="eventInputItemSummaryList.data.length!==0 && collapse.isInputSummaryOpen">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': eventInputItemSummaryList.data.length === 0}">

									<div ui-grid="eventInputItemSummaryList" class="grid search-results-grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-resize-columns></div>
								</div>
							</div>
						</div>
               	</div>
               	<div class="panel panel-default" >
						<div class="panel-heading">
							<h4 class="panel-title">
								<!-- <a data-toggle="collapse" data-target="#collapse2" ng-click="showCollapse(collapse.isOutputSummaryOpen,'outputSummary')">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!eventOutputItemSummaryList.data.length || !collapse.isOutputSummaryOpen),'glyphicon-menu-up': eventOutputItemSummaryList.data.length && collapse.isOutputSummaryOpen}"></span><span ng-if="eventInformation.eventTypeId === 32">Output Items Summary</span><span ng-if="eventInformation.eventTypeId !== 32">Items Summary</span><span ng-if="!eventOutputItemSummaryList.data.length" class="panel-title-noneText">(None)</span>
							  	</a> -->
							  	<a data-toggle="collapse" data-target="#collapse2" ng-click="showCollapse(collapse.isOutputSummaryOpen,'outputSummary')">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!eventOutputItemSummaryList.data.length || !collapse.isOutputSummaryOpen),'glyphicon-menu-up': eventOutputItemSummaryList.data.length && collapse.isOutputSummaryOpen}"></span>
									<p ng-if="eventInformation.eventTypeId === 32" class="display-inline-block">Output Items Summary</p>
									<p ng-if="eventInformation.eventTypeId !== 32" class="display-inline-block">Items Summary</p>
									<span ng-if="!eventOutputItemSummaryList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" ng-class="{'in': eventOutputItemSummaryList.data.length && collapse.isOutputSummaryOpen}" >
							<div class="panel-body" ng-if="eventOutputItemSummaryList.data.length!==0 && collapse.isOutputSummaryOpen">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': eventOutputItemSummaryList.data.length === 0}">

									<div ui-grid="eventOutputItemSummaryList" class="grid search-results-grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-resize-columns></div>
								</div>
							</div>
						</div>
               	</div>
               <div class="panel panel-default" >
					<div class="panel-heading">
						<h4 class="panel-title">
					  		<a data-toggle="collapse" data-target="#collapse3" ng-click="showCollapse(collapse.isEventInfoOpen,'eventInfo')">
								<span class="glyphicon" ng-class="{'glyphicon-menu-down': (eventInformation===undefined || !collapse.isEventInfoOpen),'glyphicon-menu-up': eventInformation!==undefined && collapse.isEventInfoOpen}"></span>Event Information
							</a>
							<!-- <i class="fa fa-map-signs" aria-hidden="true"></i> -->
							<!-- <a class="pull-right" ng-click="showMap(eventInformation)"><i class="fa fa-map" aria-hidden="true"></i></a> -->
							<a class="pull-right" ng-click="showMap(eventInformation)"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
						</h4>
					</div>
					<!--<div id="collapse2" class="panel-collapse collapse in">-->
					<div id="collapse3" class="panel-collapse collapse" ng-class="{'in': eventInformation!==undefined && collapse.isEventInfoOpen}">
						<div class="panel-body">
							<div class="search_results_holder" data-table-kind="event_details_info">
								<table ng-if="eventInformation!==undefined">
									<tr>
										<td class="subj">Event ID</td>
										<td>{{(eventInformation.eventExtId!=null)?eventInformation.eventExtId:eventInformation.eventId}}</td>
									</tr>
									<tr>
										<td class="subj">Event Type</td>
										<td>{{eventInformation.eventType}}</td>
									</tr>
									<tr>
										<td class="subj">Event Date</td>
										<td>{{eventInformation.eventDateTime1}}</td>
									</tr>
									<tr>
										<td class="subj">Local Event Time</td>
										<td>{{eventInformation.eventTzDate}}</td>
									</tr>
									<tr>
										<td class="subj">Processed Date</td>
										<td>{{eventInformation.createDate}}</td>
									</tr>
									<tr>
										<td class="subj">Event Location ID</td>
										<td>{{eventInformation.eventLocExtId}}</td>
									</tr>
									<tr>
										<td class="subj">Event Location</td>
										<td>{{eventInformation.mfrLocName}}</td>
									</tr>
									<tr ng-show="eventInformation.bizTransactionsList.length >= 0" >
										<td>Biz Trans. Info</td>
										<td>
										<table class="table table-striped table-bordered">
											<thead>
												<th>Biz Trans. Type</th>
												<th>Biz Trans. Id</th>
												<th>Biz Trans. Date</th>
												<th>Biz Trans. Line</th>
											</thead>
												<tr ng-repeat="biz in eventInformation.bizTransactionsList">
													<td>{{biz.bizTransTypeValue}}</td>
													<td>{{biz.bizTransId}}</td>
													<td>{{biz.bizTransDateStr}}</td>
													<td>{{biz.bizTransHasLines}}</td>
												</tr>
										</table>
										</td>
									</tr>
									
									<tr ng-if="eventInformation.senderShipLocExtId!=null">
									<td class="subj">Sender Owner</td>
									<td>
										<strong>ID:</strong>{{eventInformation.senderId}}&nbsp;&nbsp;|
										<strong>Name:</strong>{{eventInformation.sender}}
									</td>
									</tr>
									
									<tr ng-if="eventInformation.senderShipLocExtId!=null">
									<td class="subj">Sender Custodian</td>
									<td>
										<strong>ID:</strong>{{eventInformation.senderShipLocExtId}}&nbsp;&nbsp;|
										<strong>Name:</strong>{{eventInformation.senderShipLocName}}
									</td>
									</tr>
									
									<tr ng-if="eventInformation.receiverShipLocExtId!=null">
									<td class="subj">Receiver  Owner</td>
									<td>
										<strong>ID:</strong>{{eventInformation.receiverId}}&nbsp;&nbsp;|
										<strong>Name:</strong>{{eventInformation.receiver}}
									</td>
									</tr>
									
									<tr ng-if="eventInformation.receiverShipLocExtId!=null">
									<td class="subj">Receiver  Custodian</td>
									<td>
										<strong>ID:</strong>{{eventInformation.receiverShipLocExtId}}&nbsp;&nbsp;|
										<strong>Name:</strong>{{eventInformation.receiverShipLocName}}
									</td>
									</tr>
									
									<tr>
										<td class="subj">Reason</td>
										<td>{{eventInformation.reason}}</td>
									</tr>
									<tr>
										<td class="subj">Attachment</td>
										<td>{{eventInformation.attachment}}</td>
									</tr>
									<tr>
										<td class="subj">Comment</td>
										<td>{{eventInformation.comment}}</td>
									</tr>
									<tr>
										<td class="subj">User</td>
										<td>{{eventInformation.createdUser}}</td>
									</tr>
									<!-- <tr ng-if="eventInformation.eventDetailInfoList.length >= 0" ng-repeat="info in eventInformation.eventDetailInfoList | unique:'detailAttrName' | filter: { detailAttrName: '!USER_ID' }" > -->
									<tr ng-if="eventInformation.eventDetailInfoList.length >= 0" ng-repeat="info in eventInformation.eventDetailInfoList | filter: { detailAttrName: '!USER_ID' }" >
										<td class="subj">{{info.detailAttrName}}</td>
										<td >{{info.detailString}}</td>
									</tr>
																		
								</table>
                            </div>
                        </div>
					</div>
				</div>

				<!-- Notification -->
				<!-- <div class="panel panel-default" >
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse4" ng-click="showCollapse(collapse.isNotificationOpen,'notification')">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!notificationsList.data.length || !collapse.isNotificationOpen),'glyphicon-menu-up': notificationsList.data.length && collapse.isNotificationOpen}"></span>Notifications<span ng-if="!notificationsList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" ng-class="{'in': notificationsList.data.length && collapse.isNotificationOpen}" >
							<div class="panel-body" ng-if="notificationsList.data.length!==0 && collapse.isNotificationOpen">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': notificationsList.data.length === 0}">

									<div ui-grid="notificationsList" class="grid search-results-grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-resize-columns></div>
								</div>
							</div>
						</div>
               	</div> -->
				<!-- Notification  ends-->
				<!-- Related Events -->
				<!-- <div class="panel panel-default" >
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse5" ng-click="showCollapse(collapse.isRelatedEventsOpen,'relatedEvents')">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!relatedEventsList.data.length || !collapse.collapse.isRelatedEventsOpen),'glyphicon-menu-up': relatedEventsList.data.length && collapse.collapse.isRelatedEventsOpen}"></span>Related Events<span ng-if="!relatedEventsList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" ng-class="{'in': relatedEventsList.data.length && collapse.collapse.isRelatedEventsOpen}">
							<div class="panel-body"  ng-if="relatedEventsList.data.length!==0 && collapse.collapse.isRelatedEventsOpen">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': relatedEventsList.data.length === 0}">

									<div ui-grid="relatedEventsList" class="grid search-results-grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-resize-columns></div>
								</div>
							</div>
                		</div>
                </div> -->
				<!-- Related Events end -->
				<!-- Item Information -->
				
					<!--<div class="panel panel-default" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-target="#collapse5" ng-click="showCollapse(collapse.isItemInfoOpen,'itemInfo')">
	                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!eventItemDetailsList.data.length || !collapse.isItemInfoOpen),'glyphicon-menu-up': eventItemDetailsList.data.length && collapse.isItemInfoOpen}"></span>Items Information<span ng-if="!eventItemDetailsList.data.length" class="panel-title-noneText">(None)</span>
								  	</a>
								  	<a class="pull-right" ng-click="showItemPrefix()"  ng-if="!traceIdPrefix.isVisible">Show Prefix</a>
									<a class="pull-right" ng-click="showItemPrefix()"  ng-if="traceIdPrefix.isVisible">Hide Prefix</a>
	                            </h4>
	                        </div>
                            <div id="collapse5" class="panel-collapse collapse" ng-class="{'in': eventItemDetailsList.data.length && collapse.isItemInfoOpen}">
								<div class="panel-body" ng-if="eventItemDetailsList.data.length!==0 && collapse.isItemInfoOpen">
									<div class="search_results_holder" ng-class="{'overflow-x-hidden': eventItemDetailsList.data.length === 0}">
										<div ui-grid="eventItemDetailsList" ui-grid-tree-view class="grid search-results-grid" ui-grid-resize-columns></div>
									</div>
								</div>
	                		</div>
					</div>-->
					
					
					<div class="panel panel-default" ng-if="eventInformation.eventTypeId === 32" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-target="#collapse6" ng-click="showCollapse(collapse.isInputItemInfoOpen,'inputItemInfo')">
	                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!eventInputItemDetailsList.data.length || !collapse.isInputItemInfoOpen),'glyphicon-menu-up': eventInputItemDetailsList.data.length && collapse.isInputItemInfoOpen}"></span>Input Items Information<span ng-if="!eventInputItemDetailsList.data.length" class="panel-title-noneText">(None)</span>
								  	</a>
								  	<a ng-click="showItemPrefix('input')"  ng-if="!traceIdinputItemInfoPrefix.isVisible" class="prefix-text">(<span>Show Prefix</span>)</a>
                                    <a ng-click="showItemPrefix('input')"  ng-if="traceIdinputItemInfoPrefix.isVisible" class="prefix-text">(<span>Hide Prefix</span>)</a>
	                            </h4>
	                        </div>
                            <div id="collapse6" class="panel-collapse collapse" ng-class="{'in': eventInputItemDetailsList.data.length}">
								<div class="panel-body" ng-if="eventInputItemDetailsList.data.length!==0">
									<div class="search_results_holder" ng-class="{'overflow-x-hidden': eventInputItemDetailsList.data.length === 0}">
										<div ui-grid="eventInputItemDetailsList" class="grid search-results-grid" ui-grid-pagination ui-grid-resize-columns></div>
										
										<div class="ui-grid-pagination-custom" ng-if="eventInputItemDetailsList.totalItems"><span>Current page: {{ gridApiInputItemInfo.pagination.getPage() }} of {{ gridApiInputItemInfo.pagination.getTotalPages()}}</span>
										  <button title="Start" type="button" class="btn btn-pagination" ng-click="gridApiInputItemInfo.pagination.seek(1)">
											<div class="ui-grid-pagination-icon previous">
												<div></div>
											</div>

										  </button>
										  <button title="Prev" type="button" class="btn btn-pagination" ng-click="gridApiInputItemInfo.pagination.previousPage()">
											  <div class="ui-grid-pagination-icon previous"></div>
										  </button>
											<span>(&nbsp;{{1 + gridApiInputItemInfo.pagination.getFirstRowIndex()}} - {{1 + gridApiInputItemInfo.pagination.getLastRowIndex()}} of {{eventInputItemDetailsList.totalItems}} &nbsp;)</span>
										  <button title="Next" type="button" class="btn btn-pagination" ng-click="gridApiInputItemInfo.pagination.nextPage()">
											  <div class="ui-grid-pagination-icon next"></div>
										  </button>
										  <button title="End" type="button" class="btn btn-pagination" ng-click="gridApiInputItemInfo.pagination.seek(gridApiInputItemInfo.pagination.getTotalPages())">
											<div class="ui-grid-pagination-icon next">
												<div></div>
											</div>
										  </button>
										</div>
										
									</div>
								</div>
	                		</div>
					</div>
				
					<div class="panel panel-default" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-target="#collapse8" ng-click="showCollapse(collapse.isItemInfoOpen,'itemInfo')">
	                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!eventItemDetailsList.data.length || !collapse.isItemInfoOpen),'glyphicon-menu-up': eventItemDetailsList.data.length && collapse.isItemInfoOpen}"></span><span ng-if="eventInformation.eventTypeId === 32">Output Items Information</span><span ng-if="eventInformation.eventTypeId !== 32">Items Information</span><span ng-if="!eventItemDetailsList.data.length" class="panel-title-noneText">(None)</span>
								  	</a>
								  	<!--<a class="pull-right" ng-click="showItemPrefix()"  ng-if="!traceIdPrefix.isVisible">Show Prefix</a>
									<a class="pull-right" ng-click="showItemPrefix()"  ng-if="traceIdPrefix.isVisible">Hide Prefix</a>-->
                                    <a ng-click="showItemPrefix()"  ng-if="!traceIdPrefix.isVisible" class="prefix-text">(<span>Show Prefix</span>)</a>
                                    <a ng-click="showItemPrefix()"  ng-if="traceIdPrefix.isVisible" class="prefix-text">(<span>Hide Prefix</span>)</a>
	                            </h4>
	                        </div>
                            <div id="collapse8" class="panel-collapse collapse" ng-class="{'in': eventItemDetailsList.data.length}">
								<div class="panel-body" ng-if="eventItemDetailsList.data.length!==0">
									<div class="search_results_holder" ng-class="{'overflow-x-hidden': eventItemDetailsList.data.length === 0}">
										<div ui-grid="eventItemDetailsList"  ui-grid-tree-view class="grid search-results-grid" ui-grid-pagination ui-grid-resize-columns></div>
										
										<div class="ui-grid-pagination-custom" ng-if="eventItemDetailsList.totalItems"><span>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages()}}</span>
										  <button title="Start" type="button" class="btn btn-pagination" ng-click="gridApi.pagination.seek(1)">
											<div class="ui-grid-pagination-icon previous">
												<div></div>
											</div>

										  </button>
										  <button title="Prev" type="button" class="btn btn-pagination" ng-click="gridApi.pagination.previousPage()">
											  <div class="ui-grid-pagination-icon previous"></div>
										  </button>
											<span>(&nbsp;{{1 + gridApi.pagination.getFirstRowIndex()}} - {{1 + gridApi.pagination.getLastRowIndex()}} of {{eventItemDetailsList.totalItems}} &nbsp;)</span>
										  <button title="Next" type="button" class="btn btn-pagination" ng-click="gridApi.pagination.nextPage()">
											  <div class="ui-grid-pagination-icon next"></div>
										  </button>
										  <button title="End" type="button" class="btn btn-pagination" ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())">
											<div class="ui-grid-pagination-icon next">
												<div></div>
											</div>
										  </button>
										</div>
										
									</div>
								</div>
	                		</div>
					</div>
				
				
			<!-- Compliance Reporting -->
				<!-- <div class="panel panel-default" >
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse7" ng-click="showCollapse(collapse.isReportsOpen,'reporting')">
                                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': (!complianceReportsList.data.length || !collapse.isReportsOpen),'glyphicon-menu-up': complianceReportsList.data.length && collapse.isReportsOpen}"></span>Compliance Reporting<span ng-if="!complianceReportsList.data.length" class="panel-title-noneText">(None)</span>
							  	</a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" ng-class="{'in': complianceReportsList.data.length && collapse.isReportsOpen}" >
							<div class="panel-body" ng-if="complianceReportsList.data.length!==0 && collapse.isReportsOpen">
								<div class="search_results_holder" ng-class="{'overflow-x-hidden': complianceReportsList.data.length === 0}">
									<div ui-grid="complianceReportsList" class="grid search-results-grid" ui-grid-resize-columns>
								</div>
							</div>
						</div>
                	</div>
				</div> -->
			<!-- Compliance Reporting -->
				
			
		</div>
	</div>
	</div>
</body>
