<div ui-view="" class="content-holder ng-scope">
    <div class="content content-new organization">
        <div ng-if="message != null" class="alert">{{message}}</div>
        <button class="sensor-header__back btn btn--back btn--back--red btn--goback" ng-if="userType != 1 && userType != 2" ui-sref="app.organization">
			<div class="btn__icon"></div>
		</button>
		<div class="table table--new">
			<div class="long-form__header">Organization</div>
        	<div class="divTable">
        		<div class="divTableHead">
	              <div class="divTableRow">
	                  <div class="divTableCell">Name</div>
	              </div>
		        </div>
        	</div>
        	<div class="divTableBody">
        		<div class="divTableRow">
                 	<div class="divTableCell organization_width">{{organizationName}}</div>
        		</div>
            </div>
        </div>
        <div class="table table--new table--user">
            <div class="long-form__header">Users</div>
            <button id="btn_user_add" class="table__add table__add__new" ng-if="userType != 2 && userType != 3" ui-sref="app.addUser">
              <div class="table__add-text">Add</div>
              </button>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <!--  <div class="divTableCell">User ID</div>-->
                        <div class="divTableCell">Name</div>
                        <div class="divTableCell">User Login</div>
                        <div class="divTableCell">Email</div>
                        <div class="divTableCell">Phone</div>
                        <div class="divTableCell">User Type</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="user in userList">
                        <!-- <div class="divTableCell">{{userlist.userId}}</div> -->
                        <div class="divTableCell">{{user.name}}</div>
                        <div class="divTableCell">{{user.userLogin}}</div>
                        <div class="divTableCell divTableCell-email">{{user.email}}</div>
                        <div class="divTableCell">{{user.phone}}</div>
                        <div class="divTableCell">
                            <span ng-if="'0'==user.userType">System</span>
                            <span ng-if="'1'==user.userType">Admin</span>
                            <span ng-if="'2'==user.userType">Standard</span>
                            <span ng-if="'3'==user.userType">Support</span></div>
                        <div class="divTableCell padding-right-imp0">
                            <!--  <a ng-click="showUserList(user.userId)">
                                <img src="app/assets/img/view.png" alt="">
                            </a> -->
                            <a ng-attr-id="{{'user_modify_' + $index}}" ng-hide="(user.userType == '3' && userType == '2' && user.userType == '1') || (userType == '2' && user.userLogin!=currentUser.toLowerCase()) || (userType == '3' && user.userLogin!=currentUser.toLowerCase())"  ng-click="editUser(user)" class="btn--edit--new" title="Edit"> 
                            </a>
                            <a ng-attr-id="{{'user_delete_' + $index}}" class="btn--delete--new" ng-hide="(user.userType == '3' && userType == '2' && user.userType == '1') || (userType == '2' && user.userLogin!=currentUser.toLowerCase()) || (userType == '3' && user.userLogin!=currentUser.toLowerCase())" ng-click="deleteUser(user.userId)" title="Delete">
							</a>
                            <a ng-attr-id="{{'user_email_' + $index}}" ng-show="userType == '0' || userType == '1'" ng-click="userPassword($event,user)" class="margin-left-5 btn--email--new" title="Invite">
                            </a>
                            <a ng-attr-id="{{'user_support_' + $index}}" ng-show="userType == '0' || userType == '3' && user.userLogin!=currentUser" ng-click="loginAsSupportUser($event,user)" class="btn--login--new" title="Login as this user">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="!userList.length">No User available.</div>
        </div>
        <div ng-if="deviceMessage != null" class="alert">{{deviceMessage}}</div>
        <div class="table table--new" ng-if="userType!=0   && userType!=3">
            <div class="long-form__header">Devices</div>
             <button ng-if="'1'==userType" id="btn_device_import" class="table__add table__add__new margin-right-80" ng-click="deviceFileUpload($event)">
              <div class="table__add-text">Import</div>
            </button>
            <button ng-if="'2'!=userType" id="btn_device_add" class="table__add table__add__new" ui-sref="app.addDevice">
              <!--<div class="btn btn--add"></div>-->
              <div class="table__add-text">Add</div>
            </button>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell">Device ID</div>
                        <div class="divTableCell">Device Type</div>
                        <div class="divTableCell">Device Key</div>
                        <div class="divTableCell">MDN</div>
                        <div class="divTableCell">Status</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="device in deviceList">
                        <div class="divTableCell">{{device.deviceId}}</div>
                        <div class="divTableCell">{{device.deviceType}}</div>
                        <div class="divTableCell">{{device.deviceKey}}</div>
                        <div class="divTableCell">{{device.mdn}}</div>
                        <div class="divTableCell">
                        	<span ng-if="device.active == true">Active</span>
                            <span ng-if="device.active == false">Inactive</span></div>
                        <div class="divTableCell">
                        	<a  ng-attr-id="{{'device_modify_' + $index}}" ng-if="'2'!=userType" ng-click="modifyDevice(device)" class="btn--edit--new" title="Edit">
                            </a>
                            <a  ng-attr-id="{{'device_delete_' + $index}}" ng-if="'2'!=userType" class="btn--delete--new" ng-click="deleteDeviceId(device.deviceId)" title="Delete">
							</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="notAvailable" ng-if="!deviceList.length">No Device available.</div>
        </div>
        <div ng-if="alertMessage != null" class="alert">{{alertMessage}}</div>
        <div class="table table--new" ng-if="userType!=0  && userType!=3" ng-hide="newProfileScreen">
            <div class="long-form__header">Alerts</div>
            <button ng-if="'2'!=userType" id="btn_alert_add" class="table__add table__add__new" ui-sref="app.addAlert">
              <!--<div class="btn btn--add"></div>-->
              <div class="table__add-text">Add</div>
            </button>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell">Attribute Type</div>
                        <div class="divTableCell">Message</div>
                        <div class="divTableCell">Detail Message</div>
                        <div class="divTableCell">User Group</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="alert in alertList">
                        <div class="divTableCell">{{alert.attrName}}</div>
                        <div class="divTableCell">{{alert.alertMsg}}</div>
                        <div class="divTableCell">{{alert.alertDetailMsg}}</div>
                        <div class="divTableCell divTableCell-group">{{alert.alertGroupNameList}}</div>

                        <div class="divTableCell">
                            <a ng-attr-id="{{'alert_modify_' + $index}}" ng-if="'2'!=userType" ng-click="modifyAlert(alert)" class="btn--edit--new" title="Edit">
                            </a>
                           <a ng-attr-id="{{'alert_delete_' + $index}}" ng-if="'2'!=userType" class="btn--delete--new" ng-click="deleteAlert(alert.alertId)" title="Delete"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="!alertList.length">No Alert available.</div>
        </div>
        <div ng-if="alertGroupMessage != null" class="alert">{{alertGroupMessage}}</div>
        <div class="table table--new" ng-if="userType!=0  && userType!=3">
            <div class="long-form__header">Alert Groups</div>
            <button ng-if="'2'!=userType"  id="btn_alertGroup_add" class="table__add table__add__new" ui-sref="app.addAlertGroup">
              <!--<div class="btn btn--add"></div>-->
              <div class="table__add-text">Add</div>
            </button>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell">Group Name</div>
                        <div class="divTableCell">Description</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
				<div class="divTableBody">
                    <div class="divTableRow" ng-repeat="alertgroup in alertGroupList">
                        <div class="divTableCell">{{alertgroup.groupName}}</div>
                        <div class="divTableCell">{{alertgroup.description}}</div>
                        <div class="divTableCell">
                            <a  ng-attr-id="{{'alertGroup_modify_' + $index}}" ng-if="'2'!=userType" ng-click="editAlertGroup(alertgroup)" class="btn--edit--new" title="Edit">
                            </a>
                           <a ng-attr-id="{{'alertGroup_delete_' + $index}}" ng-if="'2'!=userType" class="btn--delete--new" ng-click="deleteAlertGroup(alertgroup.id)" title="Delete">
							</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="!alertGroupList.length">No Alert Group available.</div>
        </div>
        <div ng-if="deviceTypeMessage != null" class="alert">{{deviceTypeMessage}}</div>
        <div class="table table--new" ng-if="userType!=0  && userType!=3">
            <div class="long-form__header">Device Type</div>
            <button ng-if="'2'!=userType" id="btn_deviceType_add" class="table__add table__add__new" ui-sref="app.addDeviceType">
              <!--<div class="btn btn--add"></div>-->
              <div class="table__add-text">Add</div>
            </button>
            <div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell">Device Type</div>
                        <div class="divTableCell">Device Name</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div ng-if="deviceType.active===true" class="divTableRow" ng-repeat="deviceType in deviceTypesList">
                        <div class="divTableCell">{{deviceType.deviceType}}</div>
                        <div class="divTableCell">{{deviceType.manufacturer}}</div>
                        <div class="divTableCell">
                            <a  ng-attr-id="{{'deviceType_modify_' + $index}}" ng-if="'2'!=userType" ng-click="modifyDeviceType(deviceType)" class="btn--edit--new" title="Edit">
                            </a>
                              <a  ng-attr-id="{{'deviceType_delete_' + $index}}" ng-if="'2'!=userType" class="btn--delete--new" ng-click="deleteDeviceType(deviceType.deviceTypeId)" title="Delete">
							</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="!deviceTypesList.length">No Device Type available.</div>
        </div>
    </div>
</div>