<!-- <link rel="stylesheet" type="text/css" href="app/assets/css/common/profile/main.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/common/profile/main_updates.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/common/profile/profiles_update.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/common/profile/create_profile.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/common/profile/rzslider.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/common/sensor-dropdown-multiselect.css" /> -->

<form name="profileForm" role="profileForm" id="profile-form" novalidate>
	<div class="add-profile">
		<div class="content-holder">
			<div class="side-menu smenu">
				<div class="side-menu__row side-menu__row--sensor-header">
					<div class="sensor-header">
						<h1 class="sensor-header__title profile create-profile-header">Create New Profile</h1>
						<!--<div class="product__flag product__flag--flagged"></div>-->
					</div>
				</div>
				<div class="side-menu__row side-menu__row--details">
					<div class="details">
                        <div class="big-form__error padding-left-10">{{errorMessage}}</div>
						<div class="details__row">
							<div class="details__icon">
								<!--<div class="sprite sprite--sensor-profile"></div>-->
							</div>
							<div class="details__detail">
								<div class="details__detail-attr">Device Type</div>
								<div class="select width-100p">
                                    <md-select  placeholder="Select Device type" ng-model="device" ng-change="getAttributesByDeviceType(device.deviceTypeId);setFrequency(device.deviceTypeId)" >
                                        <md-option ng-value="device" ng-repeat="device in deviceList" ng-selected={{deviceList.length===1}}>{{device.deviceType}}</md-option>
                                    </md-select>
								</div>
                                <div ng-if="profiledeviceTypeErrorMsg != ''" class="big-form__error">{{profiledeviceTypeErrorMsg}}</div>
							</div>
						</div>
						<div class="details__row">
							<div class="details__icon">
								<!--<div class="sprite sprite--sensor-profile"></div>-->
							</div>
							<div class="details__detail m70">
								<div class="details__detail-attr">Profile Name</div>
								<div class="details__detail-input padding-0">
									<div class="input-text">
										<input type="hidden" class="input-text__input" name="profileId" id="profileId" ng-model="profile.profileId" value="$index">	
										<input type="text" class="input-text__input" name="profileName" id="profileName" ng-model="profile.profileName" ng-maxlength=50 >
									</div>
									<!--<div class="input-text">
										 <span class="big-form__error">{{profileNameErrorMsg}}</span>
									</div>-->
								</div>
								<div ng-if="profileNameErrorMsg != ''" class="big-form__error">{{profileNameErrorMsg}}</div>
							</div>
						</div>
						<div class="details__row">
							<div class="details__icon">
								<!--<div class="sprite sprite--description"></div>-->
							</div>
							<div class="details__detail m70">
								<div class="details__detail-attr">Description (max 250 characters)</div>                                 
								<div class="details__detail-input padding-0">
									<div class="input-textarea margin-bottom-0">
										<textarea class="input-textarea__input border-radius" name="profileDesc" id="profileDesc"  ng-model="profile.profileDesc"  ng-maxlength=250  ng-trim="false"></textarea>                                            
									</div>
								</div>
								<div class="details__detail-attr">
									<span ng-show="profile.profileDesc.length < 250">{{(250 - profile.profileDesc.length)}} characters left</span>
								</div>
								<div ng-if="profileDescErrorMsg != ''" class="big-form__error">{{profileDescErrorMsg}}</div>
							</div>
						</div>					
						<div class="details__row">
							<div class="details__actions padding-left-70">
								<div class="actions">
									<div class="actions__left">
										<button id="cancel" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
										<button id="save" class="form-button btn-save" ng-click="createProfile(homeLocationIndex)">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content content--with-side-menu right-align">
				<div class="sensor-container bg-color-disabled" ng-hide="isDeviceTypeSelcted">
					<div class="sensor sensor-no-device-selected font-size-17 color-666666">
						No device type selected. Please select a device type.
					</div>
				</div>
				<div class="sensor-container" ng-show="isDeviceTypeSelcted">
					<div class="sensor">
						<div ng-class="newProfileScreen ? 'sensor__threshold profile-attr-section sensor_attr_emailgroup_range' : 'sensor__threshold profile-attr-section'">
							<div class="sensor__threshold-header"><span class="create-profile-header">Attributes</span></div>

							<div class="sensor__threshold-editor">
								<div class="sensor__threshold-editor-text" ng-repeat="attribute in deviceAttributes">
									<div class="sensor__threshold-editor-text-segment">
										<span>{{attribute.legend}}</span><span ng-if="attribute.unit!=''">({{attribute.unit}})</span>:
									</div>
									<div class="input-text input-text--inline input-text--text">
										<input id="attr-min-{{$index}}" class="input-text__input width-55" name="min{{$index}}" type="text" ng-model="attribute.min" placeholder="Min Value">
									</div>
									<div class="input-text input-text--inline input-text--text">
										<input id="attr-max-{{$index}}" class="input-text__input width-55" name="max{{$index}}" type="text" ng-model="attribute.max" placeholder="Max Value">
									</div>
									<!--<rzslider rz-slider-model="attribute.min" rz-slider-high="attribute.max" rz-slider-options="slider.options" class="attr-value-slider"></rzslider>-->
									<rzslider rz-slider-model="attribute.min" rz-slider-high="attribute.max" rz-slider-options="slider[$index].options" class="attr-value-slider"></rzslider>
									<span class="padding-left-50" title="Email & Color Coding">Alert
										<md-switch ng-disabled="attribute.min == attribute.max" ng-model="attribute.isAlertActive" class="left-20 md-switch-profile"></md-switch>
										<span class="padding-left-50" title="Email only">Notify<span></span></span>
									<div class="big-form__error error-msg-container"  ng-if="errorMessageProfileAttr.length!==0 && errorMessageProfileAttr[$index] != undefined && errorMessageProfileAttr[$index] !='' ">
                                          {{errorMessageProfileAttr[$index]}}
                                    </div>
                                    <div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                    	<div class="sensor_attr_emailgroup_font">
                                    		<div class="sensor_attr_alertgroup_label">
												If {{attribute.legend}} is exceeding the above range, send email to group 
										    </div>
										    <div class="sensor_attr_alertgroup_box">
										    	<div class="input-text-dropdown sensor_attr_alert_group margin-top-15">
													<multiselect id="alert_alertgroup-{{$index}}" class="input-xlarge outline-none" multiple="true" ng-model="attribute.selectedAlertGroup" options="item.id as item.groupName for item in alertGroupList" ng-change="alertGroupChanged(attribute.selectedAlertGroup)"></multiselect>
												</div>
										    </div>
                                    	</div>
                                    </div>
                                    <div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                    	<div class="sensor_attr_emailgroup_font">
											<div class="sensor_attr_alertgroup_label">
												And/Or 
										    </div>
											<div class="sensor_attr_alertgroup_box">
													<div class="input-text sensor_attr_alert_group margin-top-15"> 
													<input type="text" class="input-text__input width-35" name="user_emailId{{$index}}" id="user_emailId-{{$index}}" ng-model="attribute.emailIds">
													<span class="big-form__error error-msg-container" ng-if="errorMessageProfileAttrEmail.length!==0 && errorMessageProfileAttrEmail[$index] != undefined && errorMessageProfileAttrEmail[$index] !='' ">{{errorMessageProfileAttrEmail[$index]}}</span>
												</div>
											</div>	
									   </div> 
                                    </div>
                                    <div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                    	<div class="sensor_attr_emailgroup_font">
											<div class="sensor_attr_alertgroup_label">
												Message 
										    </div>
											<div class="sensor_attr_alertgroup_box">
												<div class="sensor_attr_alert_group margin-top-15">
													<input id="attr-msg-{{$index}}" class="input-text__input width-55" name="alertCode{{$index}}" type="hidden" ng-model="attribute.alertCode">
													<textarea class="input-textarea__input border-radius width-35 height-100" name="attributeDesc" id="attributeDesc"  ng-model="attribute.alertDetailMsg"  ng-maxlength=250  ng-trim="false"></textarea>                                            
												</div>
											</div>	
									   </div> 
                                    </div>
                                    <div class="sensor_attr_clearrow" ng-show="newProfileScreen">&nbsp;</div>
								</div>
							</div>
						</div>
						<div class="sensor__threshold-width" ng-show="newProfileScreen">&nbsp;</div>
						<div ng-class="newProfileScreen ? 'sensor__threshold location-section sensor_attr_emailgroup_range' : 'sensor__threshold location-section'">
							<div class="sensor__threshold-header">
								<span class="create-profile-header">Location</span>
							</div>
							<div class="sensor__threshold-editor">
								<!-- <div class="sensor__threshold-rule border-top-0">
									<div class="input-text input-text--inline">Origin</div>
								</div> -->
								
								<div class="sensor__threshold-rule border-top-0" ng-repeat="location in geopointsData">
									<div class="input-text input-text--inline">
										<!-- <input type="radio" name="home-location" id="home-location-{{$index}}" class="input-text__input width-20 margin-left-10" ng-model="isHome" ng-click="homeLocationChange($index)" ng-value="1"> -->
										<md-select id="home-location-{{$index}}" placeholder="Select" ng-model="location.locationType">
	                                        <md-option ng-value="1" ng-selected="location.locationType==1">Origin</md-option>
	                                        <md-option ng-value="2" ng-selected="location.locationType==2">Destination</md-option>
	                                        <md-option ng-value="3" ng-selected="location.locationType==3">Milestone</md-option>
	                                    </md-select>
									</div>
									<div class="input-text input-text--inline">
										<input id="addr-{{$index}}" class="input-text__input" ng-model="location.address" placeholder="Address" ng-blur="getLatlngByAddress(location,geopointsData,$index)">
									</div>                                    					
									<div class="input-text input-text--inline">
										<input id="lat-{{$index}}" class="input-text__input" ng-model="location.latitude" placeholder="Latitude" ng-blur="getAddressByLatlng(location,geopointsData,$index)">
									</div>									
									<div class="input-text input-text--inline">
										<input id="lng-{{$index}}" class="input-text__input" ng-model="location.longitude" placeholder="Longitude" ng-blur="getAddressByLatlng(location,geopointsData,$index)">
									</div>									
									<div class="input-text input-text--inline">
										<input id="point-name-{{$index}}" class="input-text__input" ng-model="location.pointName" placeholder="Point name">
									</div>									
									<div class="input-text input-text--inline">
										<input id="radius-{{$index}}" class="input-text__input" ng-model="location.radius" placeholder="Radius">
									</div>									
									<div class="input-text input-text--inline padding-left-0" ng-if="geolocationRadiusFormat != null">{{geolocationRadiusFormat}}</div>
									<div class="input-text input-text--inline">
										<button id="remove-location-{{$index}}" class="btn btn--small btn--action margin-auto font-size-20" ng-mousedown="removeGeopoints($index);$event.stopPropagation();">-</button>
									</div>									
									<div class="input-text input-text--inline add-location" ng-if="$last">
										<button id="add-location-{{$index}}" class="btn btn--small btn--action margin-auto font-size-20" ng-click="addGeopoints()">+</button>
									</div>									                             
                                    <div ng-if="errorMessageProfileLocation!=undefined && errorMessageProfileLocation[$index]!= undefined" class="big-form__error error-msg-container">
                                        {{errorMessageProfileLocation[$index]}}
                                    </div>
                                </div>
								<div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                  	<div class="sensor_attr_emailgroup_font">
                                  		<div class="sensor_attr_alertgroup_label">
										On entry or exit of the above geopoints, send email to group 
								    </div>
								    <div class="sensor_attr_alertgroup_box">
								    	<div class="input-text-dropdown sensor_attr_alert_group margin-top-15">
											<multiselect id="alert_loc_alertgroup" class="input-xlarge outline-none" multiple="true" ng-model="selectedAlertGroup" options="item.id as item.groupName for item in alertGroupList" ng-change="alertGroupChanged(attribute.selectedAlertGroup)"></multiselect>
										</div>
								    </div>
                                  	</div>
                                  </div>
                                  <div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                  	<div class="sensor_attr_emailgroup_font">
									<div class="sensor_attr_alertgroup_label">
										And/Or 
								    </div>
									<div class="sensor_attr_alertgroup_box">
											<div class="input-text sensor_attr_alert_group margin-top-15"> 
											<input type="text" class="input-text__input width-35" name="locationGroupEmailId" id="loc_locationGroupEmailId" ng-model="locationGroupEmailId">
											<span class="big-form__error error-msg-container">{{mailIdErrorMsg}}</span>
										</div>
									</div>	
							   	  </div> 
                                  </div>
                                  <div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                   	<div class="sensor_attr_emailgroup_font">
										<div class="sensor_attr_alertgroup_label">
											Entry Message 
									    </div>
										<div class="sensor_attr_alertgroup_box">
											<div class="sensor_attr_alert_group margin-top-15">
												<input id="loc_locationEntryAlertCodeId" name="locationEntryAlertCode" type="hidden" ng-model="locationEntryAlertCode">
												<input id="loc_locationEntryAlertNameId" name="locationEntryAlertName" type="hidden" ng-model="locationEntryAlertName">
												<textarea class="input-textarea__input border-radius width-35 height-100" name="locationEntryAlertMsg" id="loc_locationEntryAlertMsg"  ng-model="locationEntryAlertMsg"  ng-maxlength=250  ng-trim="false"></textarea>                                            
											</div>
										</div>	
								   </div> 
                                  </div>
                                  <div class="sensor_attr_emailgroup_range" ng-show="newProfileScreen">
                                   	<div class="sensor_attr_emailgroup_font">
										<div class="sensor_attr_alertgroup_label">
											Exit Message 
									    </div>
										<div class="sensor_attr_alertgroup_box">
											<div class="sensor_attr_alert_group margin-top-15">
												<input id="loc_locationExitAlertCodeId" name="locationExitAlertCode" type="hidden" ng-model="locationExitAlertCode">
												<input id="loc_locationExitAlertNameId" name="locationExitAlertName" type="hidden" ng-model="locationExitAlertName">
												<textarea class="input-textarea__input border-radius width-35 height-100" name="locationExitAlertMsg" id="loc_locationExitAlertMsg"  ng-model="locationExitAlertMsg"  ng-maxlength=250  ng-trim="false"></textarea>                                            
											</div>
										</div>	
								   </div> 
                                  </div>
                                  <div class="sensor_location_row" ng-show="newProfileScreen">&nbsp;</div>
                            </div>
						</div>
						<div class="sensor__threshold-width" ng-show="newProfileScreen">&nbsp;</div>
						<div class="sensor__threshold frequency-section">
							<div class="sensor__threshold-header create-profile-header">Frequency</div>
							<div class="sensor__threshold-rule">
								<div class="sensor__threshold-rule-actions">
									<div class="filter">
										<div class="filter__description">Send GPS location
											<!--<span class="filter__label-description">every</span>-->
											<span class="color-737576">every</span>
										</div>
										<div class="filter__tabs filter-tabs--inline">
											<div class="filter__tab updown">
												<div ng-click="decrease('profilegps')" id="minus-btn-1"></div>
												<div class="input-text input-text--inline input-text--text">
													<input id="gps-freq" class="input-text__input" id="gps" type="number" min="0" ng-model="profile.gps" placeholder="">
												</div>
												<div ng-click="increase('profilegps')" id="plus-btn-1"></div>
											</div>
										</div>
										<div class="filter__tabs filter-tabs--inline">
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[1].timeUnit[0]}" ng-click="frequencyTimeUnit(1, 0)" id="min-btn-1">Minutes</div>
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[1].timeUnit[1]}" ng-click="frequencyTimeUnit(1, 1)" id="hours-btn-1">Hours</div>
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[1].timeUnit[2]}" ng-click="frequencyTimeUnit(1, 2)" id="days-btn-1">Days</div>
										</div>
									</div>
									<div class="big-form__error error-msg-container" ng-if="gpsFrqErrorMsg != ''">{{gpsFrqErrorMsg}}</div>
								</div>
							</div>
							
							<div class="sensor__threshold-rule">
								<div class="sensor__threshold-rule-actions">
									<div class="filter">
										<div class="filter__description">Capture sensor values 
											<!--<span class="filter__label-description">every</span>-->
											<span class="color-737576">every</span>
										</div>
										<div class="filter__tabs filter-tabs--inline">
											<div class="filter__tab updown">
												<div ng-click="decrease('attrFreq')" id="minus-btn-2"></div>
												<div class="input-text input-text--inline input-text--text">
													<input id="attr-freq" class="input-text__input" id="attrFreq" type="number" min="0" ng-model="profile.attrFreq" placeholder="">
												</div>
												<div ng-click="increase('attrFreq')" id="plus-btn-2"></div>
											</div>
										</div>
										<div class="filter__tabs filter-tabs--inline">
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[2].timeUnit[0]}" ng-click="frequencyTimeUnit(2, 0)" id="min-btn-2">Minutes</div>
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[2].timeUnit[1]}" ng-click="frequencyTimeUnit(2, 1)" id="hours-btn-2">Hours</div>
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[2].timeUnit[2]}" ng-click="frequencyTimeUnit(2, 2)" id="days-btn-2">Days</div>
										</div>
									</div>
									<div class="big-form__error error-msg-container" ng-if="attrFrqErrorMsg != ''">{{attrFrqErrorMsg}}</div>
								</div>
							</div>
														
                            <div class="sensor__threshold-rule">
								<div class="sensor__threshold-rule-actions">
									<div class="filter">
										<!--<div class="filter__description">Receive GPS communications</div>
										<div class="filter__label-description">every</div>-->
										<div class="filter__description">Send sensor data
											<!--<span class="filter__label-description">every</span>-->
											<span class="color-737576">every</span>
										</div>
										<div class="filter__tabs filter-tabs--inline">
											<div class="filter__tab updown">
												<div ng-click="decrease('profilecomm')" id="minus-btn-0"></div>
												<div class="input-text input-text--inline input-text--text">
													<input id="comm-freq" class="input-text__input" id="comm" type="number" min="0" ng-model="profile.comm" placeholder="">
												</div>
												<div ng-click="increase('profilecomm')" id="plus-btn-0"></div>
											</div>
										</div>
										<div class="filter__tabs filter-tabs--inline">
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[0].timeUnit[0]}" ng-click="frequencyTimeUnit(0, 0)" id="min-btn-0">Minutes</div>
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[0].timeUnit[1]}" ng-click="frequencyTimeUnit(0, 1)" id="hours-btn-0">Hours</div>
											<div class="filter__tab" ng-class="{'filter__tab-selected' : isActiveFrequency[0].timeUnit[2]}" ng-click="frequencyTimeUnit(0, 2)" id="days-btn-0">Days</div>
										</div>
									</div>
									<div class="big-form__error error-msg-container" ng-if="commFrqErrorMsg != ''">{{commFrqErrorMsg}}</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>		
</form>