<md-dialog aria-label="">
	<form ng-cloak>
		<md-toolbar>
			<!--<div class="md-toolbar-tools">-->
			<div class="md-toolbar-tools"><h2>Delete Profile</h2><span flex></span>
				<md-button class="md-icon-button" ng-click="confirmationNo()">
					<img class="height-20" src="app/assets/img/delete.png" aria-label="Close dialog">
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content padding-right-250">Are you sure?</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="confirmationNo()">No</md-button>
			<md-button ng-click="confirmationYes()">Yes</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>