<div ui-view="" class="content-holder ng-scope">
    <div class="content content-new profile-list">
        <div ng-if="message != null" class="big-form__error padding-left-32">{{message}}</div>        
        <div class="table table--new max-height-none">
            <button id="btn_profile_add" class="table__add table__add__new" ui-sref="app.createProfile" ng-if="orgId != 0">
				<!--<div class="btn btn--add"></div>-->
				<div class="table__add-text">Add</div>
			</button>
           	<div class="long-form__header">
				Device Profiles
			</div>
			<div class="divTable">
                <div class="divTableHead">
                    <div class="divTableRow">
                        <div class="divTableCell">Name</div>
                        <div class="divTableCell">Description</div>
                        <div class="divTableCell">Action</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow" ng-repeat="profile in profileList">
                        <div class="divTableCell">{{profile.name}}</div>
                        <div class="divTableCell">{{profile.description}}</div>
                        <div class="divTableCell">
                            <a  ng-attr-id="{{'profile_modify_' + $index}}" ng-if="orgId != 0" ng-click="editProfile(profile)" class="btn--edit--new" title="Edit"></a>
                            <a ng-attr-id="{{'profile_delete_' + $index}}" ng-if="orgId != 0" class="btn--delete--new margin-left-5" ng-click="deleteProfile(profile.profileId)" title="Delete"></a>
						</div>
                    </div>
                </div>
            </div>
            <div class="notAvailable" ng-if="!profileList.length">No Device available.</div>
        </div>
    </div>
</div>
