<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <form name="addForm" role="addForm" novalidate>
        <div class="content-holder add-org">
            <div class="content content-new">
                <div ng-if="message != null" class="alert">{{message}}</div>
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Add Organization</div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">ID</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="org_extId" name="extId" ng-model="org.extId"  required tabindex="0">
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Name</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="org_name" name="orgname" ng-model="org.name" required tabindex="0">
                        </div>
                    </div>
                   
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Short Name</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="org_shortName" name="shortName" ng-model="org.shortName" >
                        </div>
                    </div>
					
					 <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Email</div>
                        </div>
                        <div class="input-text">
                            <input class="input-text__input" type="email" id="org_email" name="email" ng-model="org.email" >
                        </div>
                    </div>
						<div class="long-form__section">
							<div class="long-form__section-title">
								<div class="long-form__section-header">Time Zone</div>
							</div>
                            <div class="input-text">
                                  <md-select placeholder="Select Timezone" id="org_timeZone" name="timeZone" ng-model="selectedTimeZone" ng-change="changeTimeZone(selectedTimeZone.id)">
                                    <md-option ng-value="item" ng-repeat="item in timeZoneList">{{item.timeZoneCode}}</md-option>
                                  </md-select>
                            </div>
                    <div class="long-form__actions scroll-remove padding-20">
                    	<button id="btn_addorg_cancel" class="form-button btn-cancel" ng-click="cancel()" >Cancel</button>
                        <button id="btn_addorg_add" class="form-button btn-save" ng-click="addOrg()" ng-disabled="addForm.extId.$pristine || addForm.extId.$invalid || addForm.orgname.$pristine || addForm.orgname.$invalid || addForm.timeZone.$pristine || addForm.timeZone.$invalid">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
