<!-- uiView: -->
<div ui-view="" class="ng-scope" style="">
    <form name="editForm" role="editForm" novalidate>
        <div class="content-holder modify-org">
            <div class="content content-new">
                <div ng-if="message != null" class="alert">{{message}}</div>
                <div class="long-form">
                    <div class="long-form__header padding-left-20 padding-bottom-30">Modify Organization</div>
                    <div><input type="hidden" class="input-text__input" ng-model="org.orgId"> </div>
                     <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">ID</div>
                        </div>
                        <div class="input-text">
                            <input type="text" ng-disabled="true" class="input-text__input" id="org_extId" name="extId" ng-model="org.extId" required tabindex="0">
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Name</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input" id="org_name" ng-model="org.name" name="orgname" required tabindex="0">
                        </div>
                    </div>

                    <div class="long-form__section">
                        <div class="long-form__section-title">
                           <div class="long-form__section-header">Short Name</div>
                        </div>
                        <div class="input-text">
                            <input type="text" class="input-text__input"  id="org_shortName" name="shortName" ng-model="org.shortName">
                        </div>
                    </div>
                    <div class="long-form__section">
                        <div class="long-form__section-title">
                            <div class="long-form__section-header">Email</div>
                        </div>
                        <div class="input-text">
                            <input class="input-text__input" type="email" id="org_email" name="email" ng-model="org.email">
                        </div>
                    </div>
						<div class="long-form__section">
							<div class="long-form__section-title">
								<div class="long-form__section-header">Time Zone</div>
							</div>
                            <div class="input-text">
                                <md-select name="timeZone" ng-model="selectedTimeZone" id="org_timeZone" ng-change="updateTimeZone(selectedTimeZone.id)">
                                    <md-option ng-selected="item.id==selectedTimeZone.id" ng-value="item" ng-repeat="item in timeZoneList">{{item.timeZoneCode}}</md-option>
                                  </md-select>
                            </div>
						</div>
                    <div class="long-form__actions scroll-remove padding-20">
                    	<button id="btn_modorg_cancel" class="form-button btn-cancel" ng-click="cancel()">Cancel</button>
                        <button id="btn_modorg_modify" class="form-button btn-save" ng-click="modifyOrgConfirm(org)" ng-disabled="editForm.orgname.$invalid || editForm.timeZone.$invalid">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
