
	
<script>

		$(document).ready(function(){  
			$('.panel-title > a').on('click', function(){
				console.log('clicked');
				$(this).children('span').toggleClass('glyphicon-menu-down glyphicon-menu-up'); 
			});
		});

	</script>

<body data-type="trace_item_map">
	
	<div class="body_search" data-results="true">
		
		<div id="traceItemMap" style="width:100%;height:540px;"></div>
		
	</div>
			
		
</body>
